Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

add test mock data userLevels
  frontend/src/network/tests/mockData/userList.js
Labels: scope: frontend

add test id to a table body
  frontend/src/components/user/list.js
Labels: scope: frontend

add levels mock data on server-handlers
  frontend/src/network/tests/server-handlers.js
Labels: scope: frontend

adapt test cases as per super-mapper changes
  frontend/src/components/tests/rapidEditor.test.js
  frontend/src/components/user/tests/list.test.js
  frontend/src/components/user/tests/topBar.test.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/hooks/tests/UseContributorStats.test.js
  frontend/src/views/tests/users.test.js
Labels: scope: frontend

Update user stats in parallel
  scripts/commands/refresh_mapper_level.py
Labels: none

Prevent assigning the same team multiple times to a same role
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: scope: frontend

Restrict save until the team is assigned as a explicit role(mapper/validator) if the permission is set to `team only`
  frontend/src/views/projectEdit.js
Labels: scope: frontend

Allow same team to assign as different role
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

Add batch size and concurrent workers input in command
  scripts/commands/refresh_mapper_level.py
Labels: none

Application db pool made dynamic and created separate connection and pool for mapper level upgrade command
  backend/config.py
  backend/db.py
  example.env
  scripts/commands/refresh_mapper_level.py
Labels: scope: backend

feat: make ecs_execute_command controllable from env file
  scripts/aws/infra/develop/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

fix: task min-max percent
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

Exception handling for users not found in osm and users deleted from osm
  scripts/commands/refresh_mapper_level.py
Labels: none

Record task extension duration in action_text. ------------------
  backend/models/postgis/task.py
  backend/services/mapping_service.py
Labels: scope: backend

Fix failing test cases due to missing task lock history.
  tests/backend/integration/api/tasks/test_actions.py
  tests/backend/unit/services/test_mapping_service.py
Labels: scope: backend

Add test case to check if extension duration is recorded
  tests/backend/integration/api/tasks/test_actions.py
  tests/backend/integration/services/test_mapping_service.py
Labels: scope: backend

#6014: Rebased with develop to incorporate changes
  backend/models/postgis/task.py
  backend/services/mapping_service.py
Labels: scope: backend

Check team permissions and eligibility to unlink from projects and bulk team unlink action added
  backend/api/teams/actions.py
  backend/models/dtos/team_dto.py
  backend/services/team_service.py
Labels: scope: backend

Add TeamLinkedProjectCard component with placeholder support
  frontend/src/components/teamsAndOrgs/TeamLinkedProjectCard.js
Labels: scope: frontend

Update individual project unlink api endpoint
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

refactor: Minor code cleanup and accessibility improvements
  frontend/src/components/CustomMenu.js
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Add CustomMenu component with active item highlighting
  frontend/src/components/CustomMenu.js
Labels: scope: frontend

Team unlink check modified with updated mapping and validation permission enums
  backend/services/team_service.py
Labels: scope: backend

Enable unlink project by project selection/inidividually or in bulk(All projects or from team)
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

add i18n messages for Unlink buttons
  frontend/src/components/teamsAndOrgs/messages.js
Labels: scope: frontend

Unlink a team from all the project after permission validation
  backend/api/teams/actions.py
Labels: scope: backend

Add project selection checkbox on project list and visible to users having team edit permission only
  frontend/src/components/teamsAndOrgs/TeamLinkedProjectCard.js
Labels: scope: frontend

Unlink team from a project for allowing team deletion
  backend/api/teams/actions.py
  backend/services/team_service.py
Labels: scope: backend

Add source strings of new component `TeamLinkedProjects` on messages.js
  frontend/src/components/teamsAndOrgs/messages.js
Labels: scope: frontend

Create `TeamLinkedProjects` to display a team's linked projects grouped by status
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Replaced the generic `Projects` component with the new `TeamLinkedProjects` component
  frontend/src/views/teams.js
Labels: scope: frontend

Display persistent success/error message insted of toast on project unlink response
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Add project manager permission check for team unlinking
  backend/services/team_service.py
Labels: scope: backend

Update error message for bulk unlinking failure by restricted permissions
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Add i18n messages for confirmation dialog for bulk project unlink
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
  frontend/src/components/teamsAndOrgs/messages.js
Labels: scope: frontend

Add confirmation dialog for bulk actions(unlink all/unlink selected) projects
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Show inline error message for individual project unlink failure
  frontend/src/components/teamsAndOrgs/TeamLinkedProjectCard.js
Labels: scope: frontend

Comment density text check on test case
  frontend/src/components/tests/basemapMenu.test.js
Labels: scope: frontend

Subcode refactored on team deletion permission checks
  backend/services/team_service.py
Labels: scope: backend

backend: Add ability to delete a user
  backend/api/users/resources.py
  backend/models/postgis/application.py
  backend/services/users/osm_service.py
  tests/backend/integration/api/users/test_resources.py
  tests/backend/integration/services/users/test_osm_service.py
  tests/backend/integration/services/users/test_user_service.py
Labels: scope: backend
