Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

feat: Remove sandbox projects from active projects list for raw data api
  backend/services/project_service.py
Labels: scope: backend

fix: convert HTML to Markdown in CommentInputField using turndown
  frontend/package.json
  frontend/src/components/comments/commentInput.js
  frontend/src/utils/htmlFromMarkdown.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

fix: improve turndown config for GFM support and custom styles
  frontend/package.json
  frontend/src/utils/htmlFromMarkdown.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

fix: refine html-to-markdown conversion and formatting
  frontend/src/utils/htmlFromMarkdown.js
Labels: scope: frontend

fix: refine markdown conversion, resolve security hotspots, and fix list spacing
  frontend/src/utils/htmlFromMarkdown.js
Labels: scope: frontend

feat: osm features feature collection geojson for sandbox data conflation
  backend/api/projects/osm_features.py
  backend/routes.py
  backend/services/overpass_service.py
  tests/api/unit/services/test_overpass_service.py
Labels: scope: backend

test: fix frontend regressions and stabilize mocks
  frontend/src/components/notifications/tests/actionButtons.test.js
  frontend/src/components/taskSelection/tests/action.test.js
  frontend/src/components/taskSelection/tests/actionSidebars.test.js
  frontend/src/views/tests/management.test.js
  frontend/src/views/tests/taskAction.test.js
Labels: scope: frontend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
