Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

Add back new relic integration into develop environment
  newrelic.ini
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/docker/Dockerfile
Labels: scope: infrastructure

only show upload control if api key is set
  frontend/src/components/badges/index.js
Labels: scope: frontend

enable image uploader for badge form
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/badges/index.js
  frontend/src/components/badges/messages.js
Labels: scope: frontend

Project to map and validate to only include the published projects and specify dockerfile path and build stage for migration and cron service
  backend/services/project_search_service.py
  docker-compose.yml
Labels: scope: backend, scope: infrastructure

HOTFIX: GHActions not tagging backend image to commit hash
  .github/workflows/backend-build-deploy.yml
Labels: scope: infrastructure

show user stats in user list
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend, scope: backend

Add file size validation and improve error handling
  frontend/src/components/comments/commentInput.js
Labels: scope: frontend

bunch of sonarqube fixes
  backend/api/users/actions.py
  backend/models/postgis/task.py
  backend/services/mapping_badges.py
  frontend/src/components/badges/index.js
  frontend/src/components/levels/index.js
  frontend/src/components/user/list.js
Labels: scope: frontend, scope: backend

Fix #6932 - login isn't working
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove unused variable
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove unused import
  frontend/src/views/authorized.js
Labels: scope: frontend

Replace localStorage by safeStorage wrapper utility
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove debug msg
  frontend/src/views/authorized.js
Labels: scope: frontend

Fix #6932 - login isn't working
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove unused variable
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove unused import
  frontend/src/views/authorized.js
Labels: scope: frontend

Replace localStorage by safeStorage wrapper utility
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Remove debug msg
  frontend/src/views/authorized.js
Labels: scope: frontend

migration that creates base badges
  migrations/versions/909c5b13b1fc_.py
Labels: scope: backend

Active projects list to include trigger from project chats
  backend/services/project_service.py
Labels: scope: backend

Align dropdown to right when toRight prop is true
  frontend/src/components/dropdown.js
Labels: scope: frontend

Pass toRight prop to Dropdown component to alight it to the right
  frontend/src/components/taskSelection/taskActivity.js
Labels: scope: frontend

Remove duplicate `toRight` prop
  frontend/src/components/dropdown.js
Labels: scope: frontend

Add prop validation and update styling placement for right aligned list
  frontend/src/components/dropdown.js
Labels: scope: frontend

Add space on conditional class name to prevent class collision
  frontend/src/components/dropdown.js
Labels: scope: frontend

getting tests from red to green
  frontend/src/components/footer/tests/index.test.js
  frontend/src/components/header/tests/index.test.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/utils/tests/htmlFromMarkdown.test.js
Labels: scope: frontend

update node versions to 22 latest
  .github/workflows/frontend-build-deploy.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

Make auth callback URL relative to base API_URL
  frontend/src/views/authorized.js
Labels: scope: frontend

assign badges and levels
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Ohsome statistics function updated to implement new ohsome release
  backend/api/users/statistics.py
Labels: scope: backend

support tables for voting users into levels
  backend/models/postgis/user.py
  migrations/versions/dd359611e2b3_.py
Labels: scope: backend

nominate users into their next levels
  backend/models/postgis/mapping_level.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  migrations/versions/dd359611e2b3_.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Update `useOsmStatsQuery` to accept topics as an array and convert them into query string
  frontend/src/api/stats.js
Labels: scope: frontend

Pass topics in form of query params and adapt stat values to udpated API response format
  frontend/src/components/homepage/stats.js
Labels: scope: frontend

Refactor `ohsomeProxyAPI` to accept url, userId, and topics as parameters and include them as query params in the request and update function call accordingly
  frontend/src/api/stats.js
Labels: scope: frontend

Adapt stat values to udpated API response format
  frontend/src/components/userDetail/elementsMapped.js
Labels: scope: frontend

Ordering made deterministic to avoid redundancies during pagination
  backend/services/project_search_service.py
Labels: scope: backend

Project list all results fetched only during csv generation and while displaying map results
  backend/services/project_search_service.py
Labels: scope: backend

fix how metrics are stored in badge form
  frontend/src/components/badges/index.js
  frontend/src/components/badges/messages.js
Labels: scope: frontend

assign unconditionally the beginner level to new users
  backend/services/users/user_service.py
Labels: scope: backend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
