Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

Teams resources, actions and its helper functions refactored
  backend/api/teams/actions.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/teams/test_actions.py
  tests/api/integration/api/teams/test_resources.py
Labels: scope: backend

save comment value insted of comment input event value on session storage - remove the project comment value only
  frontend/src/components/comments/commentInput.js
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: scope: frontend

Save task comment on session storage for persistance on reload or component unmount
  frontend/src/components/taskSelection/actionSidebars.js
Labels: scope: frontend

Issues integration test cases and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/issues/test_resources.py
  tests/api/integration/api/teams/test_actions.py
Labels: scope: backend

Add database section on project edit on description section
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend

localize database related values
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectEdit/messages.js
Labels: scope: frontend

feat: add databse option on project creation section
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/review.js
Labels: scope: frontend

fix: user attribute in user license interpreted as postgres user
  backend/services/users/user_service.py
Labels: scope: backend

import sandbox db name form .env
  frontend/.env.expand
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/config/index.js
Labels: scope: frontend

implement message persisting behaviour on task comment by saving message on session storage
  frontend/src/components/taskSelection/taskActivity.js
Labels: scope: frontend

fix: database and sandbox bool setting on project creation
  backend/models/postgis/project.py
Labels: scope: backend

change tooltip message `delete` to `delete user`
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend

fix filter contributors by level
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

fetch levels list
  frontend/src/api/projects.js
Labels: scope: frontend

fix: fixes the broken mapping level icon in contributions tab
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

test: update mapping level icon test
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/tests/mappingLevelIcon.test.js
Labels: scope: frontend

fix: fix contributors not being filtered for properly
  frontend/src/hooks/UseFilterContributors.js
  frontend/src/hooks/tests/UseFilterContributors.test.js
  frontend/src/network/tests/mockData/contributions.js
Labels: scope: frontend

fix: normalize mappingLevel keys
  frontend/src/hooks/UseContributorStats.js
  frontend/src/hooks/tests/UseContributorStats.test.js
Labels: scope: frontend

hide mapping level icon
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

Adjust test cases related to contributors filter
  frontend/src/components/taskSelection/tests/contributions.test.js
  frontend/src/hooks/tests/UseContributorStats.test.js
Labels: scope: frontend

feat: osm sandbox setup
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  migrations/versions/b720f42ce3e8_.py
Labels: scope: backend

sandbox: add project list filter
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: scope: frontend

sandbox: add SandboxEditor component
  frontend/src/components/sandboxEditor.js
Labels: scope: frontend

sandbox: add sandbox utills, hooks for sandbox auth
  frontend/src/hooks/UseSandboxOAuthCallback.js
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

sandbox: add sandbox-id as a submodule
  .gitmodules
  frontend/yarn.lock
Labels: scope: frontend, dependencies

sandbox: add osm-sandbox/sandbox-id as a local package and add scripts for build on main app start and build
  frontend/package.json
Labels: scope: frontend

sandbox: Render sandbox id editor if project has database id other than OSM and sandbox value is true
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

style sandbox project card
  frontend/src/components/projectCard/projectCard.js
Labels: scope: frontend

feat: remove sandbox-id submodule and implement through direct url on package.json and add script to install
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

sandbox: add submodule init and update script on postinstall
  frontend/package.json
Labels: scope: frontend

Add database section on project edit on description section
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend

feat: add databse option on project creation section
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/review.js
Labels: scope: frontend

sandbox: add sandbox-id and install script
  .gitmodules
  frontend/package.json
Labels: scope: frontend

import sandbox db name form .env
  frontend/.env.expand
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/config/index.js
Labels: scope: frontend

localize database related values
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectEdit/messages.js
Labels: scope: frontend

Sandbox projects filter fixed
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
Labels: scope: backend

fix: filter by dynamic mapper role list from API call insted of hardcoded
  frontend/src/components/taskSelection/contributions.js
  frontend/src/hooks/UseFilterContributors.js
Labels: scope: frontend

User actions and openstreetmap integration tests cases and helper functions refactored
  backend/services/interests_service.py
  tests/api/integration/api/teams/test_actions.py
  tests/api/integration/api/users/test_actions.py
  tests/api/integration/api/users/test_openstreetmap.py
  tests/api/integration/api/users/test_resources.py
  tests/api/integration/api/users/test_statistics.py
  tests/api/integration/api/users/test_tasks.py
Labels: scope: backend

Users test resources, statistics, tasks integration test cases refactored
  backend/models/dtos/user_dto.py
  tests/api/integration/api/users/test_resources.py
  tests/api/integration/api/users/test_statistics.py
  tests/api/integration/api/users/test_tasks.py
Labels: scope: backend

Notifications integration test cases and its helper functions refactored
  backend/services/messaging/message_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/notifications/test_actions.py
  tests/api/integration/api/notifications/test_resources.py
  tests/api/integration/api/users/test_actions.py
Labels: scope: backend
