Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

allow to clear mapping level filter in user table
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
Labels: scope: frontend, scope: backend

show project permission box above later elements
  frontend/src/components/projectEdit/permissionsBlock.js
Labels: scope: frontend

allow saving beginner level with no badges
  backend/models/dtos/mapping_level_dto.py
  frontend/src/components/levels/index.js
Labels: scope: frontend, scope: backend

fix projects to map query
  backend/services/project_search_service.py
Labels: scope: backend

Sandbox attributes in summary api and updated sandbox filters
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  backend/services/project_service.py
Labels: scope: backend

sandbox: add sandbox-id as a submodule
  .gitmodules
  frontend/yarn.lock
Labels: scope: frontend, dependencies

sandbox: add osm-sandbox/sandbox-id as a local package and add scripts for build on main app start and build
  frontend/package.json
Labels: scope: frontend

sandbox: add sandbox utills, hooks for sandbox auth
  frontend/src/hooks/UseSandboxOAuthCallback.js
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

sandbox: add SandboxEditor component
  frontend/src/components/sandboxEditor.js
Labels: scope: frontend

sandbox: add project list filter
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: scope: frontend

sandbox: Render sandbox id editor if project has database id other than OSM and sandbox value is true
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

sandbox: add submodule init and update script on postinstall
  frontend/package.json
Labels: scope: frontend

Check team permissions and eligibility to unlink from projects and bulk team unlink action added
  backend/api/teams/actions.py
  backend/models/dtos/team_dto.py
  backend/services/team_service.py
Labels: scope: backend

fix problem when deleting level with votes
  backend/api/projects/activities.py
  backend/api/projects/contributions.py
  backend/api/projects/resources.py
  backend/api/tasks/resources.py
  backend/models/postgis/user.py
  migrations/versions/4489b9e235f8_.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

sandbox: add sandbox-id and install script
  .gitmodules
  frontend/package.json
Labels: scope: frontend

feat: remove sandbox-id submodule and implement through direct url on package.json and add script to install
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

style sandbox project card
  frontend/src/components/projectCard/projectCard.js
Labels: scope: frontend

project id in reset task action while setting action history
  backend/models/postgis/task.py
  tests/api/unit/services/test_project_admin_service.py
Labels: scope: backend

Adjust the test cases after sorting the contribution list by `mapped`, `validated`, and `total mapped/validated` tasks
  frontend/src/components/taskSelection/tests/contributions.test.js
Labels: scope: frontend

Sort users dynamically based on sortBy value
  frontend/src/hooks/UseFilterContributors.js
Labels: scope: frontend

clear next level and votes on badge and level update
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

properly handle when there is no next level for the user
  backend/api/users/statistics.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Update user level script replaced with refresh mapper level
  scripts/commands/refresh_mapper_level.py
  scripts/commands/update_user_level.py
Labels: none

Fix pre-commit checks
  backend/api/users/openstreetmap.py
  backend/api/users/statistics.py
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/user.py
  backend/services/mapping_badges.py
  backend/services/project_search_service.py
  backend/services/users/user_service.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Update refresh mapper level script to fetch all stats but omit badges upgrade on exception
  scripts/commands/refresh_mapper_level.py
Labels: none

Use check and update stats function in refresh mapper level command
  scripts/commands/refresh_mapper_level.py
Labels: none

project id from taskdto instead of task object
  backend/services/grid/split_service.py
Labels: scope: backend

Refactor code
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

Update docs for v5 migration and cors
  docs/sysadmins/cors.md
  docs/sysadmins/migration.md
Labels: none

Run pre-commit on all files
  backend/cron_jobs.py
Labels: scope: backend

Ignore certain flake8 check for migration file only on github action
  .github/workflows/pr_test_backend.yml
Labels: scope: infrastructure

don't skip badge assignment for top levels
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

fix broken test case
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

test that a message is sent on new level earned
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Add quotes limitation to text search query
  backend/services/project_search_service.py
Labels: scope: backend

allow listing projects to map or validate as anonymous user
  backend/services/project_search_service.py
  tests/api/unit/services/test_project_search_service.py
Labels: scope: backend

set default validation permission to any with intermediate level
  backend/models/postgis/project.py
Labels: scope: backend

Remove density layer from base layer options list - Comment density option and wmsDensityStyle on config file
  frontend/src/config/index.js
Labels: scope: frontend

bring back project statistics: users per level
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/hooks/UseContributorStats.js
  frontend/src/utils/formatChartJSData.js
Labels: scope: frontend

prevent accessing unauthorized pages through url
  frontend/src/views/management.js
Labels: scope: frontend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
