Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

Add validator id in task json
  backend/models/postgis/task.py
Labels: scope: backend

remove osm deleted/gone user deletion streaming api
  backend/api/users/resources.py
Labels: scope: backend

Move super mapper to done
  README.md
Labels: none

flake8 import issue for test resource
  tests/backend/integration/api/users/test_resources.py
Labels: scope: backend

replace mapbox-gl-draw with maplibre-gl-terradraw for draw tool
  frontend/package.json
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/style.css
  frontend/yarn.lock
Labels: scope: frontend, dependencies

add terra draw utils functions
  frontend/src/utils/terrawDraw.js
Labels: scope: frontend

refactor: update `parseInt` to `Number.parseInt`
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/partners/currentProjects.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
  frontend/src/config/index.js
  frontend/src/hooks/UseProjectCompletenessCalc.js
  frontend/src/utils/taskGrid.js
Labels: scope: frontend

hide default control buttons of maplibre-gl-terradraw
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/style.css
  frontend/src/components/projectEdit/style.scss
Labels: scope: frontend

Remove Mapbox-specific code and fallback conditions
  frontend/.env.expand
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/config/index.js
Labels: scope: frontend

remove `mapbox-gl-language` and related config
  frontend/package.json
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/hooks/UseMapboxSupportedLanguage.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

remove mapbox specific baselayer options
  frontend/src/config/index.js
Labels: scope: frontend

save comment input on session storage to persist on reload or page navigation
  frontend/src/components/comments/commentInput.js
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: scope: frontend

remove `mapbox-gl-draw-rectangle-mode` rectangle drawing is handled natively by terra-draw
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

igonre if the project params receives the alphabet else add on search box
  frontend/src/components/notifications/inboxNav.js
Labels: scope: frontend

return empty string if secondary hashtag is undefined/null
  frontend/src/components/partners/partnersActivity.js
Labels: scope: frontend

infra: update ecs scale down bounds(fixes no-downscaling from bc2d577b)
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

add card place holders for badge and level
  frontend/src/components/badges/nCardPlaceholders.js
  frontend/src/components/levels/nCardPlaceholder.js
Labels: scope: frontend

update card placeholder
  frontend/src/components/badges/index.js
  frontend/src/components/levels/index.js
Labels: scope: frontend

Resolve imagery offset issue in iD editor
  frontend/src/components/editor.js
Labels: scope: frontend

Fix `extraIdParams` field not populating in iD editor issue for custom imagery
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

Remove composite fk on project teams and add id pk
  backend/models/postgis/project.py
  migrations/versions/763165f937cf_.py
Labels: scope: backend

provide access to `/manage/teams` for edit access for team managers
  frontend/src/views/management.js
Labels: scope: frontend

Sandbox and database attributes in draft project dto for project creation
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
Labels: scope: backend

Token decode error exception handled
  backend/main.py
  backend/services/users/authentication_service.py
Labels: scope: backend

fetch list of teams where the user is assigned as team manager
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
Labels: scope: frontend

update edit team permission
  frontend/src/hooks/UsePermissions.js
Labels: scope: frontend

adapt test cases for updating the team edit permission logic
  frontend/src/hooks/tests/UseEditTeamPermissions.test.js
Labels: scope: frontend

Update role by ensuring both team id and current role are matched with selection
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

remove comment and use optional chaining
  frontend/src/hooks/UsePermissions.js
Labels: scope: frontend

connsider the team id and role for selection to remove role
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

Filter out roles and show only remaining roles in team options
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

Filter out roles and show only remaining roles in team options
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

Filter out roles and show only remaining roles in team options
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

Tasks invalidated count for a particular project for chloropeth map
  backend/api/projects/statistics.py
Labels: scope: backend

Organisation and organisation campaigns integration tests and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/organisations/test_campaigns.py
  tests/api/integration/api/organisations/test_resources.py
Labels: scope: backend

system integration test cases fixed
  tests/api/integration/api/campaigns/test_resources.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_statistics.py
  tests/api/integration/models/test_project.py
  tests/api/integration/models/test_user.py
Labels: scope: backend

Campaign integration test cases refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/campaigns/test_resources.py
Labels: scope: backend

Licenses, countries and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/countries/test_resources.py
  tests/api/integration/api/licenses/test_actions.py
  tests/api/integration/api/licenses/test_resources.py
Labels: scope: backend

Comments and project chat integration tests and helper functions refactored
  backend/api/comments/resources.py
  backend/main.py
  backend/services/messaging/chat_service.py
  tests/api/integration/api/comments/test_resources.py
Labels: scope: backend

Interests integration tests and its helpers refactored
  backend/services/interests_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/interests/test_resources.py
Labels: scope: backend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
