Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

fix date parsing in users table
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend

check for level upgrade if stats are manually updated
  backend/api/users/actions.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

fix usage of intl in badges ui
  frontend/src/components/badges/index.js
Labels: scope: frontend

standarize error when ohsome api fails
  backend/services/users/user_service.py
Labels: scope: backend

level approval system
  backend/api/users/actions.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  tests/api/unit/services/users/test_user_service.py
Labels: scope: frontend, scope: backend

small fixes around user approval
  backend/models/postgis/user.py
  frontend/src/components/badges/index.js
  frontend/src/components/user/list.js
Labels: scope: frontend, scope: backend

Replace requests with httpx client for non blocking execution
  backend/api/users/statistics.py
Labels: scope: backend

Use httpx client for non blocking request and url constructed from settings in ohsome statistics
  backend/api/users/statistics.py
  backend/config.py
Labels: scope: backend

fix typo
  frontend/src/components/user/messages.js
Labels: scope: frontend

add support for points of interest in UI
  frontend/src/components/badges/messages.js
  frontend/src/components/user/messages.js
Labels: scope: frontend

clear votes after a level upgrade
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

show a message if you alredy voted for a user
  backend/api/users/resources.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend, scope: backend

make api calls consistent with each other
  backend/api/users/statistics.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  frontend/src/api/stats.js
  frontend/src/components/userDetail/elementsMapped.js
Labels: scope: frontend, scope: backend

make stats match
  backend/api/users/statistics.py
  backend/services/users/user_service.py
  frontend/src/config/index.js
Labels: scope: frontend, scope: backend

show badges in user profile
  frontend/src/api/badges.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/messages.js
  frontend/src/components/userDetail/userBadges.js
Labels: scope: frontend

endpoint for publicly listing a user's badges
  backend/api/mapping_badges/resources.py
  backend/models/dtos/mapping_badge_dto.py
  backend/models/postgis/mapping_badge.py
  backend/services/mapping_badges.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
Labels: scope: backend

change wording in badge management
  frontend/src/components/badges/messages.js
Labels: scope: frontend

Migrate `mapbox-gl` to `maplibre-gl`
  frontend/package.json
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/tests/setTaskSizes.test.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/projects/tests/projectsMap.test.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/tests/map.test.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/setupTests.js
  frontend/src/utils/isWebglSupported.js
  frontend/src/utils/useSetRTLTextPlugin.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Use httpx client for non blocking request and url constructed from settings in ohsome statistics
  backend/api/users/statistics.py
  backend/config.py
Labels: scope: backend

Update mock API stat values to match updated API response and fix test failures
  frontend/src/components/userDetail/tests/elementsMapped.test.js
Labels: scope: frontend

Update ohsomeProxyAPI query params
  frontend/src/api/stats.js
Labels: scope: frontend

Fix page crash while webgl support check in maplibre
  frontend/src/utils/isWebglSupported.js
Labels: scope: frontend

implement restricting mapping and validation by level
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/models/postgis/statuses.py
  backend/services/project_service.py
  migrations/versions/d289a8a785b9_.py
  tests/api/unit/services/test_project_service.py
Labels: scope: backend

make project search aware of new levels
  backend/services/project_search_service.py
Labels: scope: backend

allow to change required level for project in UI
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/projectEdit/permissionsForm.js
Labels: scope: frontend, scope: backend

show mapping level in project detail
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
Labels: scope: frontend

prevent overflow in badge requirements
  frontend/src/components/levels/index.js
Labels: scope: frontend

Update mock API to match new endpoint structure
  frontend/src/network/tests/mockData/homepageStats.js
  frontend/src/network/tests/server-handlers.js
Labels: scope: frontend

Add confirmation dialog on last team member remove
  frontend/src/components/teamsAndOrgs/members.js
Labels: scope: frontend

Add i18n messages for member removal confirmation dialog
  frontend/src/components/teamsAndOrgs/messages.js
Labels: scope: frontend

Project list all results fetched only during csv generation and while displaying map results
  .github/workflows/pr_test_backend.yml
  backend/services/project_search_service.py
Labels: scope: backend, scope: infrastructure

Private and draft project info restriction on project tasks,contributions and activities
  backend/api/projects/activities.py
  backend/api/projects/contributions.py
  backend/api/projects/resources.py
  backend/api/tasks/resources.py
  backend/services/project_service.py
Labels: scope: backend

Applied conditional formatting to numeric values on `StatsCardContent`
  frontend/src/components/statsCard.js
Labels: scope: frontend

Replace manual axios call with useOsmStatsQuery hook
  frontend/src/components/teamsAndOrgs/featureStats.js
Labels: scope: frontend

Add poi and waterway on ohsome static mock data - To implemnt on test case and ensure correct label and value is rendered
  frontend/src/network/tests/mockData/homepageStats.js
Labels: scope: frontend

Remove axios mock and structure tests using describe/it block
  frontend/src/components/teamsAndOrgs/tests/featureStats.test.js
Labels: scope: frontend

Display "Access Denied" page for 403 errors in project summary query
  frontend/src/views/taskSelection.js
Labels: scope: frontend

first commit on osm-es-4.7.0 branch - test
  README-OSM-ES.md
Labels: none

Fix #6932 - login isn't working - fix cherry pick conflicsts
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Fix `extraIdParams` field not populating in iD editor issue for custom imagery
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend
