Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

Change wording of database selection on project selection
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/review.js
Labels: scope: frontend

set showPriority true as a default value
  frontend/src/components/projectDetail/header.js
Labels: scope: frontend

adapt test case
  frontend/src/components/projects/tests/myProjectNav.test.js
Labels: scope: frontend

feat: Markdown support for project descriptions and task instructions
  backend/models/postgis/project_info.py
  backend/models/postgis/utils.py
Labels: scope: backend

In case of sandbox project set the default editor as a `ID editor`
  frontend/src/components/taskSelection/footer.js
Labels: scope: frontend

feat: Mappers hashtag in project and task comments for mappers bulk mention
  backend/services/messaging/message_service.py
Labels: scope: backend

More verbosity for errors, do not raise an exception if external stats endpoint fails
  backend/services/users/user_service.py
Labels: scope: backend

fix: Replace httpx async client with non blocking sync request
  backend/services/users/user_service.py
Labels: scope: backend

Update the test case as per changes on star indicator
  frontend/src/components/taskSelection/tests/mappingLevelIcon.test.js
Labels: scope: frontend

Add User-Agent header for OSM stats request
  backend/services/users/user_service.py
Labels: scope: backend

fix: use full drawn polygon for split-by-drawing instead of scaling it down
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: scope: frontend

feat: osm user agent added as env variable and test cases added for osm response
  backend/config.py
  backend/services/users/user_service.py
  example.env
  tests/api/integration/services/users/test_user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

fix: Add `zoomedTaskId` prop to `TaskSelectionMap` to focus on selected tasks and optimize map re-zooming.
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/map.js
Labels: scope: frontend

feat: Task validation and invalidation toggles for user to subscribe to respective notifications
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/messaging/message_service.py
  backend/services/users/user_service.py
  frontend/src/components/user/forms/notifications.js
  frontend/src/components/user/messages.js
  frontend/src/network/tests/mockData/userList.js
  migrations/versions/a1b2c3d4e5f6_.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/models/postgis/test_user.py
Labels: scope: frontend, scope: backend

completed items
  README.md
Labels: none

segregate by year
  README.md
Labels: none

fix: typo
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/star.js
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

add super mapper level test case (show yellow full star)
  frontend/src/components/taskSelection/tests/mappingLevelIcon.test.js
Labels: scope: frontend

fix: sonarCloud warning add Object as a prop type
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

Update image build workflow for backend build and deploy
  .github/workflows/backend-build-deploy.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

ci(actions): update actions for Node.js 24 compatibility
  .github/workflows/backend-build-deploy.yml
  .github/workflows/frontend-build-deploy.yml
  .github/workflows/pr_label.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

fix(ci): align artifact actions to same version
  .github/workflows/frontend-build-deploy.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

Added a useEffect hook in App.js to dynamically update document.documentElement.lang and set lang = en as default
  frontend/public/index.html
  frontend/src/App.js
  package-lock.json
Labels: scope: frontend

fix: update validation status labels and reorganize UI according to changes
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
Labels: scope: frontend

fix: hide OSMCha buttons and changeset resources for sandbox projects
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/resourcesTab.js
Labels: scope: frontend

fix: add sandbox prop to project detail component proptypes
  frontend/src/components/projectDetail/index.js
Labels: scope: frontend

refactor: aggregate project type statistics before formatting for display in projectTypeAreaStats
  frontend/src/components/partnerMapswipeStats/projectTypeAreaStats.js
Labels: scope: frontend

fix: Lock duration in extension task history action text and test cases refactor/fix
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  tests/api/integration/api/tasks/test_actions.py
  tests/api/integration/services/test_mapping_service.py
Labels: scope: backend

feat: add imagery dropdown filter to explore projects more filters panel
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: scope: frontend

feat: add MessageContributors component to campaign view for messaging contributors
  frontend/src/components/teamsAndOrgs/messageContributors.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/views/campaigns.js
Labels: scope: frontend

feat: add accessibility labels to campaign form input and update tests
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/views/tests/campaigns.test.js
Labels: scope: frontend

fix: sonar cloud issues
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/messageContributors.js
Labels: scope: frontend

refactor: add PropTypes to campaign components and improve message contributor component stability
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/messageContributors.js
Labels: scope: frontend

Security: Fix DoS risks, patch XXE vulnerability, and add security headers
  backend/api/projects/resources.py
  backend/api/system/general.py
  backend/main.py
  backend/models/postgis/project.py
  backend/services/mapping_service.py
  backend/services/project_search_service.py
  desktop.ini
  frontend/src/components/header/signUp.js
  pyproject.toml
  requirements.txt
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/tasks/test_resources.py
  tests/api/integration/services/test_mapping_service.py
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/api/system/test_general.py
  tests/backend/integration/api/tasks/test_resources.py
  tests/backend/integration/services/test_mapping_service.py
Labels: scope: frontend, scope: backend, dependencies

hotfix(pr-test): typo in checkout action
  .github/workflows/pr_test_backend.yml
Labels: scope: infrastructure

Replace HOTOSM iD Editor with upstream OSM iD Editor
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Update the configuration of id editor component while removing Remove HOTOSM fork and add official OSM iD Editor
  frontend/src/components/editor.js
Labels: scope: frontend

use `openstreetmap/id` static instead of `hotosm/id`
  frontend/package.json
Labels: scope: frontend

fix Imagery Offset not implemented on id-editor
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

Add featured projects to default sort on Explore Projects page
  backend/services/project_search_service.py
  tests/api/unit/services/test_project_search_service.py
Labels: scope: backend
