Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

get sandbox dashboard api url from .env
  frontend/.env.expand
  frontend/src/config/index.js
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

right align the user delete button
  frontend/src/components/user/forms/personalInformation.js
Labels: scope: frontend

adapt test cases
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/tests/actionSidebars.test.js
Labels: scope: frontend

comment database selection option from project edit page
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend

update delete confirmation message
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
Labels: scope: frontend

update delete button text on user delete
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
Labels: scope: frontend

Tasks actions, resources, statistics and its helper functions refactored
  backend/api/tasks/actions.py
  backend/models/postgis/task.py
  backend/services/grid/split_service.py
  backend/services/mapping_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/tasks/test_actions.py
  tests/api/integration/api/tasks/test_resources.py
  tests/api/integration/api/tasks/test_statistics.py
Labels: scope: backend

Extend markdown attributes to support various markdown features
  backend/models/postgis/project_chat.py
Labels: scope: backend

Fix incorrect user task total on contributions page
  backend/services/stats_service.py
Labels: scope: backend

Add plain text alternative to email messages
  backend/services/messaging/smtp_service.py
Labels: scope: backend

replace useState/useEffect with useMemo in useFilterContributors to prevent re-renders
  frontend/src/hooks/UseFilterContributors.js
Labels: scope: frontend

update mock data
  frontend/src/network/tests/mockData/contributions.js
Labels: scope: frontend

fix test cases for dynamic mapping levels
  frontend/src/hooks/tests/UseFilterContributors.test.js
Labels: scope: frontend

update mock data
  frontend/src/network/tests/mockData/contributions.js
Labels: scope: frontend

replace useState/useEffect with useMemo in useFilterContributors to prevent re-renders
  frontend/src/hooks/UseFilterContributors.js
Labels: scope: frontend

fix test cases for dynamic mapping levels
  frontend/src/hooks/tests/UseFilterContributors.test.js
Labels: scope: frontend

Projects actions, activities, campaigns, contributions, favourites, resources, statistics integration tests and its helpers functions refactored
  backend/api/projects/campaigns.py
  backend/api/projects/resources.py
  backend/services/project_search_service.py
  tests/api/helpers/test_files/canned_project_detail.json
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/campaigns/__init__.py
  tests/api/integration/api/comments/__init__.py
  tests/api/integration/api/countries/__init__.py
  tests/api/integration/api/interests/__init__.py
  tests/api/integration/api/issues/__init__.py
  tests/api/integration/api/licenses/__init__.py
  tests/api/integration/api/notifications/__init__.py
  tests/api/integration/api/organisations/__init__.py
  tests/api/integration/api/projects/__init__.py
  tests/api/integration/api/projects/test_actions.py
  tests/api/integration/api/projects/test_activities.py
  tests/api/integration/api/projects/test_campaigns.py
  tests/api/integration/api/projects/test_contributions.py
  tests/api/integration/api/projects/test_favourites.py
  tests/api/integration/api/projects/test_resources.py
  tests/api/integration/api/projects/test_statistics.py
  tests/api/integration/api/system/__init__.py
  tests/api/integration/api/tasks/__init__.py
  tests/api/integration/api/tasks/test_actions.py
  tests/api/integration/api/teams/__init__.py
  tests/api/integration/api/users/__init__.py
  tests/api/integration/models/__init__.py
  tests/api/integration/services/__init__.py
Labels: scope: backend

fix: task list page jump to wrong page on selection with sort
  frontend/src/components/taskSelection/taskList.js
Labels: scope: frontend

fix: calculate percent mapped from actual task counts
  backend/services/project_service.py
Labels: scope: backend

fix: exclude split tasks from contribution counts
  backend/services/users/user_service.py
Labels: scope: backend

make campaign clickable
  frontend/src/components/projectDetail/header.js
Labels: scope: frontend

adapt test cases
  frontend/src/components/projectDetail/tests/header.test.js
  frontend/src/views/tests/taskSelection.test.js
Labels: scope: frontend

feat: sort the contributors list
  frontend/src/components/comments/commentInput.js
Labels: scope: frontend

Users test resources, statistics, tasks integration test cases refactored
  backend/models/dtos/user_dto.py
  tests/api/integration/api/users/test_resources.py
  tests/api/integration/api/users/test_statistics.py
  tests/api/integration/api/users/test_tasks.py
Labels: scope: backend

Interests integration tests and its helpers refactored
  backend/services/interests_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/interests/test_resources.py
Labels: scope: backend

User actions and openstreetmap integration tests cases and helper functions refactored
  backend/services/interests_service.py
  tests/api/integration/api/teams/test_actions.py
  tests/api/integration/api/users/test_actions.py
  tests/api/integration/api/users/test_openstreetmap.py
  tests/api/integration/api/users/test_resources.py
  tests/api/integration/api/users/test_statistics.py
  tests/api/integration/api/users/test_tasks.py
Labels: scope: backend

Comments and project chat integration tests and helper functions refactored
  backend/api/comments/resources.py
  backend/main.py
  backend/services/messaging/chat_service.py
  tests/api/integration/api/comments/test_resources.py
Labels: scope: backend

Issues integration test cases and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/issues/test_resources.py
  tests/api/integration/api/teams/test_actions.py
Labels: scope: backend

system integration test cases fixed
  tests/api/integration/api/campaigns/test_resources.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_statistics.py
  tests/api/integration/models/test_project.py
  tests/api/integration/models/test_user.py
Labels: scope: backend

Organisation and organisation campaigns integration tests and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/organisations/test_campaigns.py
  tests/api/integration/api/organisations/test_resources.py
Labels: scope: backend

Notifications integration test cases and its helper functions refactored
  backend/services/messaging/message_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/notifications/test_actions.py
  tests/api/integration/api/notifications/test_resources.py
  tests/api/integration/api/users/test_actions.py
Labels: scope: backend

Campaign integration test cases refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/campaigns/test_resources.py
Labels: scope: backend

Teams resources, actions and its helper functions refactored
  backend/api/teams/actions.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/teams/test_actions.py
  tests/api/integration/api/teams/test_resources.py
Labels: scope: backend

Licenses, countries and its helper functions refactored
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/countries/test_resources.py
  tests/api/integration/api/licenses/test_actions.py
  tests/api/integration/api/licenses/test_resources.py
Labels: scope: backend

Projects actions, activities, campaigns, contributions, favourites, resources, statistics integration tests and its helpers functions refactored
  backend/api/projects/campaigns.py
  backend/api/projects/resources.py
  backend/services/project_search_service.py
  tests/api/helpers/test_files/canned_project_detail.json
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/campaigns/__init__.py
  tests/api/integration/api/comments/__init__.py
  tests/api/integration/api/countries/__init__.py
  tests/api/integration/api/interests/__init__.py
  tests/api/integration/api/issues/__init__.py
  tests/api/integration/api/licenses/__init__.py
  tests/api/integration/api/notifications/__init__.py
  tests/api/integration/api/organisations/__init__.py
  tests/api/integration/api/projects/__init__.py
  tests/api/integration/api/projects/test_actions.py
  tests/api/integration/api/projects/test_activities.py
  tests/api/integration/api/projects/test_campaigns.py
  tests/api/integration/api/projects/test_contributions.py
  tests/api/integration/api/projects/test_favourites.py
  tests/api/integration/api/projects/test_resources.py
  tests/api/integration/api/projects/test_statistics.py
  tests/api/integration/api/system/__init__.py
  tests/api/integration/api/tasks/__init__.py
  tests/api/integration/api/tasks/test_actions.py
  tests/api/integration/api/teams/__init__.py
  tests/api/integration/api/users/__init__.py
  tests/api/integration/models/__init__.py
  tests/api/integration/services/__init__.py
Labels: scope: backend

Tasks actions, resources, statistics and its helper functions refactored
  backend/api/tasks/actions.py
  backend/models/postgis/task.py
  backend/services/grid/split_service.py
  backend/services/mapping_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/tasks/test_actions.py
  tests/api/integration/api/tasks/test_resources.py
  tests/api/integration/api/tasks/test_statistics.py
Labels: scope: backend

Github action to isolate and run unit and integration test
  .github/workflows/pr_test_backend.yml
Labels: scope: infrastructure

Update test workflow env
  .github/workflows/pr_test_backend.yml
Labels: scope: infrastructure

feat: add table style
  frontend/src/components/projectDetail/styles.scss
Labels: scope: frontend

change mentioned text into red color
  frontend/src/utils/htmlFromMarkdown.js
Labels: scope: frontend
