Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

Adjust test cases for ProjectActionFilter changes
  frontend/src/components/projects/tests/projectsActionFilter.test.js
Labels: scope: frontend

Reduce sample rate for sentry replays
  frontend/src/index.js
Labels: scope: frontend

badges UI almost complete
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/badges/index.js
  frontend/src/components/badges/messages.js
  frontend/src/components/levels/index.js
  frontend/src/components/levels/messages.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/config/index.js
Labels: scope: frontend

allow to mark a badge as internal
  backend/models/dtos/mapping_badge_dto.py
  backend/models/postgis/mapping_badge.py
  migrations/versions/900460a55e18_.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
Labels: scope: backend

add checkbox to mark a badge as internal
  frontend/src/components/badges/index.js
  frontend/src/components/badges/messages.js
Labels: scope: frontend

connect switch to form in badge form
  frontend/src/components/badges/index.js
  frontend/src/views/badges.js
Labels: scope: frontend

connect the requirements field to the badge form
  frontend/src/components/badges/index.js
Labels: scope: frontend

extract fragment as component
  frontend/src/components/badges/index.js
Labels: scope: frontend

prevent form submit on button
  frontend/src/components/badges/index.js
Labels: scope: frontend

improvements to the mapping level admin ui
  frontend/src/components/levels/index.js
Labels: scope: frontend

format
  migrations/versions/900460a55e18_.py
Labels: scope: backend

component that sets approvals in the level form
  frontend/src/components/levels/index.js
  frontend/src/components/levels/messages.js
Labels: scope: frontend

color control in level form
  frontend/src/components/levels/index.js
Labels: scope: frontend

minor style adjustment
  frontend/src/components/levels/index.js
Labels: scope: frontend

do not receive ordering on level create, use next available
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_level.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

read badges for level edit form from api
  frontend/src/components/badges/messages.js
  frontend/src/components/levels/index.js
  frontend/src/components/levels/messages.js
  frontend/src/views/levels.js
Labels: scope: frontend

Test configuration updated for test isolation and system integration test cases refactored
  tests/api/conftest.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_general.py
  tests/api/integration/api/system/test_statistics.py
  tests/api/unit/services/test_project_service.py
Labels: scope: backend

store relationship between levels and badges
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  backend/services/mapping_levels.py
  migrations/versions/900460a55e18_.py
  migrations/versions/aa50f576b3b0_.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

allow updating badge requirements for levels
  backend/models/postgis/mapping_level.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

Managers bulk mention in project chat to include organisation managers too
  backend/services/messaging/message_service.py
Labels: scope: backend

more robust test suite
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

also return badges in endpoints that return a single level
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_badge.py
  backend/services/mapping_levels.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

be able to manage required badges for levels
  frontend/src/components/levels/index.js
Labels: scope: frontend

use names instead of ids
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_badge.py
  frontend/src/components/levels/index.js
Labels: scope: frontend, scope: backend

handle the first moment of load properly
  frontend/src/components/levels/index.js
Labels: scope: frontend

run formatter
  backend/models/postgis/mapping_level.py
  backend/services/mapping_levels.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

properly pass badges for level creation
  frontend/src/views/levels.js
Labels: scope: frontend

also delete associations with badges on level delete
  backend/models/postgis/mapping_level.py
Labels: scope: backend

Default changeset to discard previous default changeset commentwhen the project is cloned
  backend/models/postgis/project.py
Labels: scope: backend

replace user list for a table
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  frontend/src/views/users.js
Labels: scope: frontend, scope: backend

adjustments to last changes in API
  backend/models/dtos/mapping_level_dto.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

show time of stats last updated
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend, scope: backend

allow updating stats from user list
  backend/api/users/actions.py
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: scope: frontend, scope: backend

Test configuration updated for test isolation and system integration test cases refactored
  tests/api/conftest.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_general.py
  tests/api/integration/api/system/test_statistics.py
  tests/api/unit/services/test_project_service.py
Labels: scope: backend

Fix test cases failure on CI
  frontend/src/utils/tests/openEditor.test.js
Labels: scope: frontend

Migrate `mapbox-gl` to `maplibre-gl`
  frontend/package.json
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/tests/setTaskSizes.test.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/projects/tests/projectsMap.test.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/tests/map.test.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/setupTests.js
  frontend/src/utils/isWebglSupported.js
  frontend/src/utils/useSetRTLTextPlugin.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Fix language option missing from user settings page issue
  frontend/src/components/localeSelect.js
Labels: scope: frontend

Fix crash issue due to language not found error
  frontend/src/components/localeSelect.js
Labels: scope: frontend

Adjust test cases for Header language dropdown
  frontend/src/components/header/tests/index.test.js
  frontend/src/network/tests/mockData/header.js
  frontend/src/network/tests/server-handlers.js
Labels: scope: frontend

Active projects list to include trigger from project chats as well
  backend/services/project_service.py
Labels: scope: backend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
