Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

feat: show preview mode of `MDEditor` on preview insted of htm converted preview
  frontend/src/components/comments/commentInput.js
Labels: scope: frontend

adapt test cases
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
  frontend/src/utils/tests/htmlFromMarkdown.test.js
Labels: scope: frontend

show `Nothing to preview` on comment box empty
  frontend/src/components/comments/commentInput.js
Labels: scope: frontend

fix: calculate percent mapped from actual task counts
  backend/services/project_service.py
Labels: scope: backend

Add plain text alternative to email messages
  backend/services/messaging/smtp_service.py
Labels: scope: backend

Fix incorrect user task total on contributions page
  backend/services/stats_service.py
Labels: scope: backend

fix: exclude split tasks from contribution counts
  backend/services/users/user_service.py
Labels: scope: backend

formatting and print statements removed
  tests/api/helpers/test_helpers.py
  tests/api/integration/api/licenses/test_actions.py
  tests/backend/integration/api/system/test_authentication.py
Labels: scope: backend

Integration services and models refactored
  backend/services/interests_service.py
  backend/services/mapping_service.py
  backend/services/project_admin_service.py
  backend/services/project_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/models/test_project.py
  tests/api/integration/models/test_user.py
  tests/api/integration/services/grid/__init__.py
  tests/api/integration/services/messaging/__init__.py
  tests/api/integration/services/test_favorite_service.py
  tests/api/integration/services/test_featured_projects_services.py
  tests/api/integration/services/test_interests_service.py
  tests/api/integration/services/test_license_service.py
  tests/api/integration/services/test_mapping_service.py
  tests/api/integration/services/test_organisation_service.py
  tests/api/integration/services/test_project_admin_service.py
  tests/api/integration/services/test_project_search_service.py
  tests/api/integration/services/test_project_service.py
  tests/api/integration/services/test_recommendation_service.py
  tests/api/integration/services/test_stats_service.py
  tests/api/integration/services/test_team_service.py
  tests/api/integration/services/test_validation_service.py
  tests/api/integration/services/users/__init__.py
  tests/api/unit/services/test_project_search_service.py
Labels: scope: backend

Traefik version upgraded to v3.6.1
  docker-compose.yml
  docs/sysadmins/traefik.md
Labels: scope: infrastructure

feat: add OtherTabInfo component to show the other tabs with detailed information as info text
  frontend/src/components/taskSelection/OtherTabInfo.js
Labels: scope: frontend

add formatted message for tab dscription for localization
  frontend/src/components/taskSelection/messages.js
Labels: scope: frontend

make completion tab as a last tab
  frontend/src/components/taskSelection/actionTabsNav.js
Labels: scope: frontend

set active tab as per the conditions
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

fix: test cases
  frontend/src/components/taskSelection/tests/action.test.js
  frontend/src/views/tests/taskAction.test.js
Labels: scope: frontend

refactor: add prop type and make span interactive
  frontend/src/components/taskSelection/OtherTabInfo.js
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

update the description text
  frontend/src/components/taskSelection/messages.js
Labels: scope: frontend

sandbox: add submodule init and update script on postinstall
  frontend/package.json
Labels: scope: frontend

feat: osm sandbox setup
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  migrations/versions/b720f42ce3e8_.py
Labels: scope: backend

Add database section on project edit on description section
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend

feat: add databse option on project creation section
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/review.js
Labels: scope: frontend

feat: remove sandbox-id submodule and implement through direct url on package.json and add script to install
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

style sandbox project card
  frontend/src/components/projectCard/projectCard.js
Labels: scope: frontend

sandbox: add project list filter
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: scope: frontend

sandbox: add SandboxEditor component
  frontend/src/components/sandboxEditor.js
Labels: scope: frontend

import sandbox db name form .env
  frontend/.env.expand
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/config/index.js
Labels: scope: frontend

localize database related values
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectEdit/messages.js
Labels: scope: frontend

sandbox: add sandbox-id as a submodule
  .gitmodules
  frontend/yarn.lock
Labels: scope: frontend, dependencies

sandbox: add osm-sandbox/sandbox-id as a local package and add scripts for build on main app start and build
  frontend/package.json
Labels: scope: frontend

sandbox: add sandbox-id and install script
  .gitmodules
  frontend/package.json
Labels: scope: frontend

sandbox: add sandbox utills, hooks for sandbox auth
  frontend/src/hooks/UseSandboxOAuthCallback.js
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

sandbox: Render sandbox id editor if project has database id other than OSM and sandbox value is true
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

guard sandbox initialization and surface auth errors in UI
  frontend/src/components/sandboxEditor.js
Labels: scope: frontend

feat: update default(static) sandbox db name to `osm`
  frontend/src/config/index.js
Labels: scope: frontend

add sandbox auth status tracking and prevent retry loops
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
Labels: scope: frontend

get sandbox dashboard api url from .env
  frontend/.env.expand
  frontend/src/config/index.js
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

harden sandbox OAuth helpers and token validation logic
  frontend/src/utils/sandboxUtils.js
Labels: scope: frontend

Sandbox projects filter fixed
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
Labels: scope: backend

comment database selection option from project edit page
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend

stabilize OAuth callback handling with one-time processing guard
  frontend/src/hooks/UseSandboxOAuthCallback.js
Labels: scope: frontend
