Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

feat(infra): add cloudfront & s3 infra for frontend
  scripts/aws/infra/_envcommon/cloudfront.hcl
  scripts/aws/infra/_envcommon/s3.hcl
  scripts/aws/infra/infra.env.example
  scripts/aws/infra/staging/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/s3/terragrunt.hcl
Labels: scope: infrastructure

Re: https://github.com/OpenHistoricalMap/issues/issues/857, fixes "Learn more about OpenHistoricalMap" link
  frontend/src/components/footer/index.js
Labels: scope: frontend

Re: https://github.com/OpenHistoricalMap/issues/issues/857, fixes two occurrences where "project" is misspelled "proect"
  frontend/src/locales/en.json
  tests/backend/integration/api/projects/test_resources.py
Labels: scope: frontend, scope: backend, scope: translations

Add carriage returns to clarify potential scripts
  frontend/package.json
Labels: scope: frontend

ci(frontend): add ci for frontend depl via CF & S3
  .github/workflows/frontend-deploy.yml
  example.env
  scripts/aws/infra/develop/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/s3/terragrunt.hcl
Labels: scope: infrastructure

Re: https://github.com/OpenHistoricalMap/issues/issues/877, tweaks to pull in our latest iD
  frontend/craco.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Update staging.yml
  .github/workflows/staging.yml
Labels: scope: infrastructure

Re: https://github.com/OpenHistoricalMap/issues/issues/877, restoring work from six months ago
  frontend/src/components/homepage/stats.js
Labels: scope: frontend

docs(infra): edit readme for infra and use default hotosm certs
  scripts/aws/infra/develop/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/infra.env.example
  scripts/aws/infra/staging/non-purgeable/cloudfront/terragrunt.hcl
Labels: scope: infrastructure

chore(ci): rename workflow
  .github/workflows/backend-build-deploy.yml
  .github/workflows/frontend-build-deploy.yml
Labels: scope: infrastructure

infra(cloudfront): move to recommended OAC for accessing bucket entities
  .flaskenv
  scripts/aws/infra/develop/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/infra.env.example
  scripts/aws/infra/staging/non-purgeable/cloudfront/terragrunt.hcl
Labels: scope: infrastructure

chore(ci): clean old CI to run on PR requests
  .github/workflows/backend-build.yml
  .github/workflows/container-image.yml
  .github/workflows/docker-image-push.yml
  .github/workflows/frontend-build-deploy.yml
  .github/workflows/frontend-build.yml
Labels: scope: infrastructure

fix(ci): workflow name and add retention days for frontend artifacts
  .github/workflows/frontend-build-deploy.yml
  .github/workflows/frontend-build.yml
Labels: scope: infrastructure

Remove `client_secret` from osm auth
  frontend/.env.expand
  frontend/src/components/editor.js
  frontend/src/components/rapidEditor.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: scope: frontend

* Mounts for dev setup * Dockerfile dev setup * Migration autogenerate env setup * Custom editor fixed * example env updated * Banner exception json response
  Dockerfile
  backend/api/system/banner.py
  backend/models/__init__.py
  backend/models/postgis/custom_editors.py
  backend/models/postgis/project.py
  docker-compose.yml
  example.env
  migrations/alembic.ini
  migrations/env.py
Labels: scope: backend, scope: infrastructure

ci: use gh-workflow reusable for image build & test on PR & feat branches
  .github/workflows/backend-build.yml
Labels: scope: infrastructure

gevent version upgrade for vulnerability issue
  Dockerfile
  docker-compose.yml
  pdm.lock
  pyproject.toml
Labels: scope: backend, scope: infrastructure, dependencies

ownership permission to .local dir to appuser and group in runtime stage
  Dockerfile
Labels: none

Change default tags to lowercase for terragrunt infrastructure
  scripts/aws/infra/root.hcl
Labels: scope: infrastructure

Update task stats project dict changed to record object
  backend/services/stats_service.py
Labels: scope: backend

Fix Error Message not displaying issue on file upload in Create Project page
  frontend/src/components/projectCreate/index.js
Labels: scope: frontend

await user license acceptance coroutine in user validation permission check and custom editor get by project id list comprehension removed
  backend/models/postgis/custom_editors.py
  backend/services/project_service.py
Labels: scope: backend

user stats table and model
  backend/models/postgis/user.py
  migrations/versions/9fc540fc84f8_.py
Labels: scope: backend

infra: Add bastion ec2
  scripts/aws/infra/_envcommon/ec2.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/README.md
  scripts/aws/infra/staging/non-purgeable/ec2/terragrunt.hcl
Labels: scope: infrastructure

create mapping_levels table and initial data
  migrations/versions/e723689de0f4_.py
Labels: scope: backend

Misfire grace time added in cron jobs
  backend/cron_jobs.py
Labels: scope: backend

feat: add userdata to auto add ec2 instance to jumpcloud
  .gitignore
  scripts/aws/infra/staging/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/user_data.yml
  scripts/aws/infra/staging/non-purgeable/extras/terragrunt.hcl
Labels: scope: infrastructure

Test database in example env
  example.env
Labels: none

String replace in test db url creation removed from test config
  tests/api/conftest.py
Labels: scope: backend

Post release version
  backend/api/system/general.py
Labels: scope: backend

Add production terragrunt code
  scripts/aws/infra/production/deployment_env.hcl
  scripts/aws/infra/production/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/extras/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/s3/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

hotfix: Advanced and intermediate changeset value from app settings
  backend/services/users/user_service.py
Labels: scope: backend

script to check the legitimacy of advanced user
  Dockerfile
  scripts/commands/update_user_level.py
Labels: none

Update scaling policy for ECS production
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

fix: Add missing db connection param in allowed users for mapping on private projects
  backend/services/project_service.py
Labels: scope: backend

Better response and exception handling, fixed project json download as file
  backend/api/organisations/resources.py
  backend/api/projects/resources.py
  backend/services/mapswipe_service.py
  backend/services/recommendation_service.py
Labels: scope: backend

Switch tasks map height fixed height to min height
  frontend/src/components/projectDetail/styles.scss
Labels: scope: frontend

user stats table and model
  backend/models/postgis/user.py
  migrations/versions/9fc540fc84f8_.py
Labels: scope: backend

create mapping_levels table and initial data
  migrations/versions/e723689de0f4_.py
Labels: scope: backend

invert logic for _is_user_beginner
  backend/services/project_service.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/models/postgis/test_message.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/test_mapping_service.py
  tests/api/unit/services/test_organisation_service.py
  tests/api/unit/services/test_project_service.py
  tests/backend/unit/services/test_project_service.py
Labels: scope: backend
