Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

Initial UI work
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/messages.js
Labels: scope: frontend

backend: Use planet.osm.org/users_deleted/users_deleted.txt to avoid hammering API
  backend/api/users/resources.py
  backend/services/users/osm_service.py
  tests/backend/integration/services/users/test_osm_service.py
Labels: scope: backend

delete user api updated
  backend/api/users/resources.py
  backend/models/postgis/application.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  frontend/src/components/deleteModal/index.js
Labels: scope: frontend, scope: backend

Ability to deletion user information
  backend/api/users/resources.py
  backend/models/postgis/application.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
Labels: scope: backend

fix confirmation message typo
  frontend/src/components/deleteModal/messages.js
Labels: scope: frontend

Remove unused props `name` from DeleteModal component
  frontend/src/components/deleteModal/index.js
Labels: scope: frontend

Add delete button on each row of users table and add DeleteModal as a confiramtion dialog
  frontend/src/components/user/list.js
Labels: scope: frontend

Adjust test case as per user deletion changes
  frontend/src/components/user/tests/list.test.js
Labels: scope: frontend

infra: update ecs scale down bounds
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

private project mapping and validation permission checks team membership along with project allowed users
  backend/services/project_service.py
Labels: scope: backend

private project mapping and validation permission checks team membership along with project allowed users
  backend/services/project_service.py
Labels: scope: backend

ci: rename label.yml --> pr_label.yml
  .github/workflows/pr_label.yml
Labels: scope: infrastructure

ci: label each issue with `repo:tm` as they are made
  .github/workflows/issue_label.yml
Labels: scope: infrastructure

Change project and task geom columns wkt to ewkt to make it projection aware
  backend/models/postgis/project.py
  backend/models/postgis/task.py
Labels: scope: backend

Change default contact address
  backend/config.py
Labels: scope: backend

Make auth callback URL relative to base API_URL
  frontend/src/views/authorized.js
Labels: scope: frontend

Make URLs relative to base API_URL
  frontend/src/components/header/notificationBell.js
  frontend/src/components/notifications/actionButtons.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/views/verifyEmail.js
Labels: scope: frontend

Toggle base layer visibility insted of updating overall style which prevents reloading the entire style and re-adding overalays
  frontend/src/components/basemapMenu.js
Labels: scope: frontend

Combine all base layers source and layer on single object
  frontend/src/config/index.js
Labels: scope: frontend

Add only basic styles on initialization and add baselayer on `on.load` event which allows to load all base layers and toggle switch using its visibility property
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
Labels: scope: frontend

refactor: update foreach loop to for of and add Object as a proptype on components
  frontend/src/components/basemapMenu.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
Labels: scope: frontend

Level ordering in user detail and level upgrade template updated.
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/messaging/templates/level_upgrade_message_en.txt
  backend/services/users/user_service.py
Labels: scope: backend

Update project unlink failure error messages based on permission types (mapping/validation/manager)
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Use user level order instead of fixed `advanced` level for enabling option to mark task as `Bad Imagery` for more flexibility
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

add a function that adds the mapper suffix to the mapper level
  frontend/src/components/mappingLevel.js
Labels: scope: frontend

fix: fixes the broken mapping level icon in contributions tab
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

move redundant code to setup section and make test case async
  frontend/src/views/tests/users.test.js
Labels: scope: frontend

Remove unused variable function `getAllByRole`
  frontend/src/components/user/tests/list.test.js
Labels: scope: frontend

Introduce test retries for better handling of intermittent failures
  frontend/src/views/tests/taskAction.test.js
  frontend/src/views/tests/teams.test.js
Labels: scope: frontend

add testid identifier to popup trigger and popup content
  frontend/src/components/user/list.js
Labels: scope: frontend

fix: fix contributors not being filtered for properly
  frontend/src/hooks/UseFilterContributors.js
  frontend/src/hooks/tests/UseFilterContributors.test.js
  frontend/src/network/tests/mockData/contributions.js
Labels: scope: frontend

test: update mapping level icon test
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/tests/mappingLevelIcon.test.js
Labels: scope: frontend

fix blank `swipes by project type` chart
  frontend/src/components/partnerMapswipeStats/swipesByProjectType.js
Labels: scope: frontend

Refactored partners stats to be non blocking operation, handle csrf auth and update the graphql query as per mapswipe update
  backend/api/partners/statistics.py
  backend/services/mapswipe_service.py
Labels: scope: backend

Refactor pm_only dependency to admin_only
  backend/api/issues/resources.py
  backend/api/licenses/resources.py
  backend/api/mapping_badges/resources.py
  backend/api/mapping_levels/resources.py
  backend/api/users/actions.py
  backend/services/users/authentication_service.py
Labels: scope: backend

Display ID column and navigate to project details page on table row click
  frontend/src/components/projects/exploreProjectsTable.js
Labels: scope: frontend

fix: normalize mappingLevel keys
  frontend/src/hooks/UseContributorStats.js
  frontend/src/hooks/tests/UseContributorStats.test.js
Labels: scope: frontend

re-order the map layers
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
Labels: scope: frontend

Mapswipe url made env variable
  backend/config.py
  backend/services/mapswipe_service.py
Labels: scope: backend

do not show any social links by default
  frontend/src/config/index.js
Labels: scope: frontend
