Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

update handleErrors function
  frontend/src/utils/promise.js
Labels: scope: frontend

Sandbox attributes in admin projects
  backend/models/postgis/project.py
Labels: scope: backend

feat: get specific version of osm-sandbox-iD
  frontend/package.json
Labels: scope: frontend

fix: CI warning
  frontend/craco.config.js
Labels: scope: frontend

add sandbox enable env
  frontend/.env.expand
  frontend/src/config/index.js
Labels: scope: frontend

enable filter projects by database based on sandbox enable env
  frontend/src/components/projects/projectNav.js
Labels: scope: frontend

enable to create sandbox project based on sandbox enable env
  frontend/src/components/projectCreate/review.js
Labels: scope: frontend

enable localization for database filter options
  frontend/src/components/projects/messages.js
Labels: scope: frontend

Grid, messaging and user services integration test cases refactored
  backend/models/postgis/message.py
  backend/services/messaging/chat_service.py
  tests/api/helpers/test_helpers.py
  tests/api/integration/services/grid/test_split_service.py
  tests/api/integration/services/messaging/test_chat_service.py
  tests/api/integration/services/messaging/test_messaging_service.py
  tests/api/integration/services/messaging/test_smtp_service.py
  tests/api/integration/services/test_project_admin_service.py
  tests/api/integration/services/users/test_authentication_service.py
  tests/api/integration/services/users/test_osm_service.py
  tests/api/integration/services/users/test_user_service.py
Labels: scope: backend

fix: restore pagination behavior while keeping sort fix
  frontend/src/components/taskSelection/taskList.js
Labels: scope: frontend

add commit hasr insted of version tags
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Sanbox env variables in example env
  example.env
Labels: none

fix(env): avoid Boolean('false') bug when reading sandbox env flag
  frontend/src/config/index.js
Labels: scope: frontend

Filter projects based on imagery type
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/services/project_search_service.py
Labels: scope: backend

Refactor split task by drawing to use TerraDraw
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: scope: frontend

ci: use new version of vars_n_secret_to_env to fix NESTED FE ENV formatting (trailing `\r` issue)
  .github/workflows/frontend-build-deploy.yml
Labels: scope: infrastructure

docs: add digital public good badge to readme and website home page
  README.md
  frontend/src/components/footer/index.js
Labels: scope: frontend

Place resource tab as a last tab
  frontend/src/components/taskSelection/actionTabsNav.js
Labels: scope: frontend

fix: correct MIME part ordering for multipart/alternative emails
  backend/services/messaging/smtp_service.py
Labels: scope: backend

feat: Admins to send message to a campaign contributors
  backend/api/campaigns/resources.py
  backend/services/campaign_service.py
Labels: scope: backend

rename mappling level for readability
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

fix: Project clone to support database selection
  backend/models/postgis/project.py
  backend/services/project_admin_service.py
Labels: scope: backend

fix: Project clone test cases updated with sandbox and database variables
  tests/api/integration/services/test_project_admin_service.py
  tests/api/unit/models/postgis/test_project.py
Labels: scope: backend

Revert "feat: Admins to send message to a campaign contributors"
  backend/api/campaigns/resources.py
  backend/services/campaign_service.py
Labels: scope: backend

fix: Only id editors allowed as mapping and validation editors for sandbox projects
  backend/models/postgis/project.py
Labels: scope: backend

add new starts icons `FullStarIconYellow` and `FullStarIconBlue`
  frontend/src/components/svgIcons/star.js
Labels: scope: frontend

export stars from svgIcons
  frontend/src/components/svgIcons/index.js
Labels: scope: frontend

display the stars beside the username as per the user level to indicate the levels
  frontend/src/components/taskSelection/contributions.js
Labels: scope: frontend

enable only `ID` editor for sandbox projects
  frontend/src/components/projectEdit/settingsForm.js
Labels: scope: frontend

display only `ID` editor as an editor selection option for sandbox projects on project details page footer
  frontend/src/components/taskSelection/footer.js
Labels: scope: frontend

fix sonar warning by adding prop validation
  frontend/src/components/taskSelection/footer.js
Labels: scope: frontend

refac: Set sandbox projects priority to low by default
  backend/models/postgis/project.py
Labels: scope: backend

export databse dropdown
  frontend/src/components/projects/projectNav.js
Labels: scope: frontend

show project filter by database(sandbox/osm) on manage project section if sandbox is enabled
  frontend/src/components/projects/myProjectNav.js
Labels: scope: frontend

Change the project's database filtering wording
  frontend/src/components/projects/messages.js
Labels: scope: frontend

Add InfoBox component with tooltip
  frontend/src/components/projectDetail/infoBox.js
Labels: scope: frontend

display cue to denote the sandbox project with tooltip
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/messages.js
Labels: scope: frontend

add condition to show priority indicator
  frontend/src/components/projectCard/projectCard.js
Labels: scope: frontend

pass props to headerline to display/hide priority indicator
  frontend/src/components/partners/currentProjects.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/taskSelection/action.js
Labels: scope: frontend

Disable priority settings while editing sandbox projects
  frontend/src/components/projectEdit/descriptionForm.js
Labels: scope: frontend
