Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

fix bug in user detail
  frontend/src/components/userDetail/headerProfile.js
Labels: scope: frontend

black formatting
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
Labels: scope: backend

Add space on conditional class name to prevent class collision
  frontend/src/components/dropdown.js
Labels: scope: frontend

Pass toRight prop to Dropdown component to alight it to the right
  frontend/src/components/taskSelection/taskActivity.js
Labels: scope: frontend

Align dropdown to right when toRight prop is true
  frontend/src/components/dropdown.js
Labels: scope: frontend

Add prop validation and update styling placement for right aligned list
  frontend/src/components/dropdown.js
Labels: scope: frontend

Remove duplicate `toRight` prop
  frontend/src/components/dropdown.js
Labels: scope: frontend

Resolve dropdown not closing on outside click in portal root
  frontend/src/components/dropdown.js
Labels: scope: frontend

Fix layout issue where long localization text overlapped login button
  frontend/src/components/localeSelect.js
Labels: scope: frontend

fix tests using new async client
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Update the localization key to use messages from mapSwipe instead of messages
  frontend/src/views/partnersMapswipeStats.js
Labels: scope: frontend

Download task grid file with auth token using fetch and Blob
  frontend/src/components/projectDetail/downloadButtons.js
Labels: scope: frontend

Comment out the test cases related to anchor based file download
  frontend/src/components/projectDetail/tests/downloadButtons.test.js
  frontend/src/components/taskSelection/tests/resourcesTab.test.js
Labels: scope: frontend

use more descriptive variable names for joins
  backend/models/postgis/mapping_badge.py
Labels: scope: backend

document MappingLevel::create function
  backend/models/postgis/mapping_level.py
Labels: scope: backend

remove hardcoded id from code
  backend/models/postgis/mapping_level.py
Labels: scope: backend

add comment to UserLevelVote::count
  backend/models/postgis/user.py
Labels: scope: backend

fix error message ragarding failed OSM call
  backend/services/users/user_service.py
Labels: scope: backend

add alts to images in badges
  frontend/src/components/badges/index.js
Labels: scope: frontend

change wording related to badge requirements
  frontend/src/components/badges/messages.js
Labels: scope: frontend

user more explicit variable names
  frontend/src/components/levels/index.js
  frontend/src/components/projectDetail/index.js
Labels: scope: frontend

remove unused import
  frontend/src/components/userDetail/headerProfile.js
Labels: scope: frontend

add missing alt to image
  frontend/src/components/userDetail/userBadges.js
Labels: scope: frontend

fix webpack chunk name
  frontend/src/routes.js
Labels: scope: frontend

add clarifying comment about is_beginner column in mapping_level.
  backend/models/postgis/mapping_level.py
Labels: scope: backend

add comments to API methods
  backend/api/mapping_badges/resources.py
  backend/api/mapping_levels/resources.py
Labels: scope: backend

Fix #6932 - login isn't working
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

Cancel call to ohsome when a component is unloaded
  frontend/src/api/stats.js
  frontend/src/views/userDetail.js
Labels: scope: frontend

Fix logo cut-off on small screens
  frontend/src/components/header/styles.scss
Labels: scope: frontend

Sort users dynamically based on sortBy value
  frontend/src/hooks/UseFilterContributors.js
Labels: scope: frontend

eslint fixes for super mapper feature
  frontend/src/components/badges/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/tests/rapidEditor.test.js
  frontend/src/components/user/list.js
  frontend/src/components/userDetail/userBadges.js
  frontend/src/setupTests.js
Labels: scope: frontend

fix progress message for levels
  backend/models/dtos/user_dto.py
  backend/services/users/user_service.py
  frontend/src/components/user/messages.js
  frontend/src/components/user/topBar.js
  frontend/src/locales/es.json
Labels: scope: frontend, scope: backend, scope: translations

Adapt test cases as per the changes (WIP)
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/tests/contributions.test.js
Labels: scope: frontend

fix(infra/ecs): add ohsome envs
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/staging/purgeable/common-ecs-env.hcl
Labels: scope: infrastructure

add --immediate-exit option to cron_jobs script
  backend/cron_jobs.py
Labels: scope: backend

allow scheduler to live on when we aren't immediately exiting
  backend/cron_jobs.py
Labels: scope: backend

make empty strings hide social links
  frontend/src/components/footer/index.js
Labels: scope: frontend

Sandbox and database attributes on project and its filters added
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  migrations/versions/d44eb7853a51_.py
Labels: scope: backend

project id in reset task action while setting action history
  backend/models/postgis/task.py
  tests/api/unit/services/test_project_admin_service.py
Labels: scope: backend

Update docs
  docs/sysadmins/cors.md
  docs/sysadmins/migration.md
Labels: none

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
