Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*

properly configure mapping_level relationship in user model
  backend/models/postgis/mapping_level.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
Labels: scope: backend

build: add httptools and uvloop to increase fastapi performance
  pdm.lock
  pyproject.toml
Labels: scope: backend, dependencies

Make default validator team dynamic using env var `DEFAULT_VALIDATOR_TEAM_ID`
  example.env
  frontend/.env.expand
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/config/index.js
Labels: scope: frontend

Upgrade iD editor version to latest (v2.33.0)
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

build(backend): replace pdm with uv dependency solver
  .circleci/config.yml
  Dockerfile
  docker-compose.yml
  docs/developers/contributing-guidelines.md
  docs/developers/development-setup.md
  docs/sysadmins/migration.md
  pdm.lock
  pyproject.toml
  scripts/aws/cloudformation/tasking-manager.template.js
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
  uv.lock
Labels: scope: backend, scope: infrastructure, dependencies

perf(backend): add httptools and uvloop for fastapi api responses
  pyproject.toml
  uv.lock
Labels: scope: backend, dependencies

ci: add all groups (including coverage dep) to circleci uv export
  .circleci/config.yml
Labels: scope: infrastructure

integrate is_beginner column into existing migration
  backend/models/postgis/mapping_level.py
  migrations/versions/e723689de0f4_.py
Labels: scope: backend

fix tests related to mapping level in project_service
  backend/services/project_service.py
  backend/services/users/user_service.py
  tests/api/unit/services/test_project_service.py
Labels: scope: backend

consider new is_beginner column in test fixtures
  tests/api/helpers/test_helpers.py
Labels: scope: backend

get level for user from the database
  backend/models/postgis/mapping_level.py
  backend/services/mapping_levels.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

fix all user service tests
  backend/models/postgis/mapping_level.py
  backend/models/postgis/user.py
  backend/services/mapping_levels.py
  backend/services/users/user_service.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

replace critical appearences of MappingLevel enum
  backend/models/dtos/user_dto.py
  backend/models/postgis/statuses.py
  backend/models/postgis/task.py
  backend/services/project_search_service.py
  backend/services/stats_service.py
  tests/api/helpers/test_helpers.py
  tests/backend/helpers/test_helpers.py
Labels: scope: backend

fix project_search_service for mapping level as table
  backend/services/project_search_service.py
Labels: scope: backend

fix stats_service for mapping level as table
  backend/services/stats_service.py
  tests/api/unit/services/test_stats_service.py
Labels: scope: backend

fix user_service for mapping level as table
  backend/models/postgis/mapping_level.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

Adapt UserDTO to mapping level as a table
  backend/models/dtos/user_dto.py
Labels: scope: backend

fix User.get_all_users for mapping level as table
  backend/models/postgis/user.py
  tests/api/unit/models/postgis/test_user.py
Labels: scope: backend

hotfix: terragrunt CI failing because of dirname instead of in
  .github/workflows/terragrunt.yml
Labels: scope: infrastructure

fix: mapillary not included on build with package.json
  frontend/package.json
Labels: scope: frontend

infra: Add bastion ec2
  scripts/aws/infra/_envcommon/ec2.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/README.md
  scripts/aws/infra/staging/non-purgeable/ec2/terragrunt.hcl
Labels: scope: infrastructure

feat: add userdata to auto add ec2 instance to jumpcloud
  .gitignore
  scripts/aws/infra/staging/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/user_data.yml
  scripts/aws/infra/staging/non-purgeable/extras/terragrunt.hcl
Labels: scope: infrastructure

infra(ec2): add bastion ec2 config for prod
  scripts/aws/infra/production/non-purgeable/ec2/README.md
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/ec2/user_data.yml
  scripts/aws/infra/production/non-purgeable/extras/terragrunt.hcl
Labels: scope: infrastructure

Draft project list filter by user permission
  backend/services/project_search_service.py
Labels: scope: backend

Adjust prod step scaling thresholds to realistic levels
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

add mapping_badges table and crossing table with users
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  migrations/versions/c9838b10b5ed_.py
Labels: scope: backend

alter UserStatsDTO to match new dynamic mapping levels
  backend/models/dtos/stats_dto.py
  backend/models/postgis/mapping_level.py
  backend/services/stats_service.py
  tests/api/unit/services/test_stats_service.py
Labels: scope: backend

Project json serialization in project download
  backend/api/projects/resources.py
Labels: scope: backend

Update all project stats cron refactored to update users projects mapped during the project run
  backend/cron_jobs.py
Labels: scope: backend

black version downgraded to match circle ci and black formatting ran on all files
  .pre-commit-config.yaml
  backend/api/tasks/actions.py
  backend/services/mapping_service.py
  tests/backend/unit/services/test_project_service.py
Labels: scope: backend

Adjust prod step scaling thresholds to realistic levels
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

Adjust prod step scaling thresholds to realistic levels
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

hotfix: terragrunt CI failing because of dirname instead of in
  .github/workflows/terragrunt.yml
Labels: scope: infrastructure

Add more endpoints to CORS list
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
Labels: scope: infrastructure

Fix auto unlocked tasks showing `Resume Mapping` issue
  frontend/src/components/taskSelection/index.js
Labels: scope: frontend

fix(projectCard): add supports to render markdown content in project card short description
  frontend/src/components/projectCard/projectCard.js
Labels: scope: frontend

fix: add project card short description child elements to inherit parent's typography styles
  frontend/src/components/projectCard/styles.scss
Labels: scope: frontend

Task grid download made file response instead of streaming response
  backend/api/tasks/resources.py
Labels: scope: backend

fix user api
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

add MappingLevelService.get_all method
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_level.py
  backend/services/mapping_levels.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend
