Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

add mapping_level list api
  backend/api/mapping_levels/__init__.py
  backend/api/mapping_levels/resources.py
  backend/routes.py
Labels: scope: backend

add create and get_all methos to MappingBadgeService
  backend/models/dtos/mapping_badge_dto.py
  backend/models/postgis/mapping_badge.py
  backend/services/mapping_badges.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
Labels: scope: backend

badges API: list and create
  backend/api/mapping_badges/__init__.py
  backend/api/mapping_badges/resources.py
  backend/routes.py
Labels: scope: backend

query parameters in the api docs
  .pre-commit-config.yaml
  backend/api/comments/resources.py
  backend/api/issues/resources.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/partners/statistics.py
  backend/api/projects/activities.py
  backend/api/projects/resources.py
  backend/api/system/authentication.py
  backend/api/system/statistics.py
  backend/api/tasks/resources.py
  backend/api/tasks/statistics.py
  backend/api/teams/resources.py
  backend/api/users/resources.py
  backend/api/users/statistics.py
  backend/api/users/tasks.py
  backend/models/dtos/project_dto.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/task.py
Labels: scope: backend

black version downgraded to match circle ci and black formatting ran on all files
  backend/api/tasks/actions.py
  backend/services/mapping_service.py
  tests/backend/unit/services/test_project_service.py
Labels: scope: backend

add update to MappingLevel and MappingBadge services
  backend/models/dtos/mapping_badge_dto.py
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  backend/services/mapping_badges.py
  backend/services/mapping_levels.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

don't allow deletion of a level with users
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  backend/services/mapping_badges.py
  backend/services/mapping_levels.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

apis for manipulating levels
  backend/api/mapping_badges/resources.py
  backend/api/mapping_levels/resources.py
Labels: scope: backend

fix aliases in mapping_levels api
  backend/api/mapping_badges/resources.py
  backend/api/mapping_levels/resources.py
  backend/models/dtos/mapping_badge_dto.py
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/mapping_level.py
  backend/services/mapping_levels.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

User search query dto populate by name
  backend/models/dtos/user_dto.py
Labels: scope: backend

Task aoi download file response
  backend/api/projects/resources.py
Labels: scope: backend

ci: fix CI on basis of new Dockerfile refactor
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/frontend-build.yml
Labels: scope: infrastructure

Single notification to the users when validating multiple tasks at once
  backend/services/validator_service.py
Labels: scope: backend

save user stats on stats query
  backend/api/users/statistics.py
  backend/models/postgis/user.py
  migrations/versions/a064ff85cff6_.py
Labels: scope: backend

save stats on user login
  backend/config.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
  example.env
Labels: scope: backend

don't allow login to fail
  backend/services/users/user_service.py
Labels: scope: backend

Fix tab change not working when search filter applied issue
  frontend/src/components/taskSelection/index.js
Labels: scope: frontend

Revert "Fix: Render markdown correctly for short descriptions"
  babel-jest
  chokidar
  frontend/src/components/projectCard/projectCard.js
  fsevents@1.2.13
  webpack-dev-server
Labels: scope: frontend

frontend work for badges
  backend/models/dtos/mapping_badge_dto.py
  backend/services/mapping_badges.py
  frontend/src/components/badges/index.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/es.json
  frontend/src/routes.js
  frontend/src/views/badges.js
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
Labels: scope: frontend, scope: backend, scope: translations

ci: fix CI on basis of new Dockerfile refactor
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/frontend-build.yml
Labels: scope: infrastructure

feat: refactor/changes for hot-reload feature in frontend during development with docker-compose
  .gitignore
  docker-compose.yml
  frontend/entrypoint.sh
  scripts/docker/Dockerfile.frontend
Labels: scope: frontend, scope: infrastructure

Working but unfinished badge create UI
  backend/models/dtos/mapping_badge_dto.py
  frontend/src/components/badges/index.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/routes.js
  frontend/src/views/badges.js
  frontend/src/views/licenses.js
  frontend/src/views/messages.js
Labels: scope: frontend, scope: backend

working list of badges
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/badges/index.js
Labels: scope: frontend

make PR pass sonarqube's quality gate
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

be able to edit and delete badges
  backend/api/mapping_badges/resources.py
  backend/services/mapping_badges.py
  frontend/src/components/badges/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/routes.js
  frontend/src/views/badges.js
  frontend/src/views/messages.js
Labels: scope: frontend, scope: backend

Remove Live Monitoring Data Quality feature (deprecated)
  README.md
  example.env
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/config/index.js
  frontend/src/config/underpass.js
  frontend/src/hooks/UseHasLiveMonitoringFeature.js
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/staging/purgeable/common-ecs-env.hcl
Labels: scope: frontend, scope: infrastructure, dependencies, scope: translations

the levels UI starter
  backend/api/mapping_levels/resources.py
  backend/models/dtos/mapping_level_dto.py
  backend/services/mapping_levels.py
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/levels/index.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/routes.js
  frontend/src/views/levels.js
  frontend/src/views/messages.js
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: frontend, scope: backend

refactor: initial cleanup for circleci -> GHActions
  .github/workflows/add-version-to-db.yml
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

Remove unused imports
  frontend/src/api/projects.js
Labels: scope: frontend

Upgrade iD editor version to latest (v2.34.0)
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

Separate `Progress` column into `Percent mapped` & `Percent validated`
  frontend/src/components/projects/exploreProjectsTable.js
  frontend/src/components/projects/messages.js
Labels: scope: frontend

Separate `Project Status` into a different filter in Explore Projects
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsStatusFilter.js
  frontend/src/locales/en.json
Labels: scope: frontend, scope: translations

Fix `Manage` section not displaying on smaller screen issue
  frontend/src/components/header/index.js
Labels: scope: frontend

black version restored
  .pre-commit-config.yaml
  backend/api/notifications/resources.py
  backend/api/partners/statistics.py
  backend/api/projects/resources.py
  backend/api/system/authentication.py
  backend/api/tasks/actions.py
  backend/api/teams/resources.py
  backend/api/users/resources.py
  backend/services/mapping_service.py
  tests/backend/unit/services/test_project_service.py
Labels: scope: backend

Fixes to Explore Projects filter
  frontend/src/components/projects/clearFilters.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsStatusFilter.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: scope: frontend

levels don't require an image
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/mapping_level.py
  migrations/versions/3542b88254c0_.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: backend

refactor: initial cleanup for circleci -> GHActions
  .github/workflows/add-version-to-db.yml
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
Labels: scope: infrastructure

refactor: remove CircleCI Workflows
  .circleci/config.yml
  .circleci/rdsid.sh
Labels: scope: infrastructure

Allow organization admins to view `DRAFT` projects
  frontend/src/components/projects/projectsStatusFilter.js
Labels: scope: frontend

roadmap file update
  README.md
Labels: none

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
