Repository hotosm/tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: frontend, scope: backend, scope: infrastructure, dependencies, scope: translations

Include tokens in fetch requests for contributions, activity, and tasks
  frontend/src/api/projects.js
Labels: scope: frontend

Add `totalMemberOnTeam` prop to Member component that accepts the total number of team (members + manages) count
  frontend/src/views/teams.js
Labels: scope: frontend

Enable team member edit only if there is more than 1 member on team including team managers
  frontend/src/components/teamsAndOrgs/members.js
Labels: scope: frontend

fix: new relic integration command
  newrelic.ini
  scripts/aws/cloudformation/newrelic.ini
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/common-ecs-env.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

Add hastag paramter on `ohsomeProxyAPI`
  frontend/src/api/stats.js
Labels: scope: frontend

Unlink team from a project for allowing team deletion
  backend/api/teams/actions.py
  backend/services/team_service.py
Labels: scope: backend

prevent redirect when fetching from API
  frontend/src/components/user/list.js
Labels: scope: frontend

round stats to one decimal place
  frontend/src/components/user/list.js
Labels: scope: frontend

validate badge requirements
  backend/models/dtos/mapping_badge_dto.py
  frontend/src/components/badges/index.js
  frontend/src/components/badges/messages.js
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: frontend, scope: backend

require one badge per level at least
  backend/models/dtos/mapping_level_dto.py
  frontend/src/components/badges/messages.js
  frontend/src/components/levels/index.js
  frontend/src/components/levels/messages.js
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: frontend, scope: backend

make teams default validation rule for projects
  backend/models/postgis/project.py
Labels: scope: backend

improve message when deleting a level with users
  backend/models/postgis/mapping_level.py
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/utils/promise.js
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
Labels: scope: frontend, scope: backend

rearrange permission table in project page
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/locales/es.json
Labels: scope: frontend, scope: translations

properly warn if a badge could not be deleted
  backend/models/postgis/mapping_badge.py
  frontend/src/components/deleteModal/messages.js
Labels: scope: frontend, scope: backend

allow to force-set user level
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/user/list.js
  frontend/src/components/userDetail/userBadges.js
  frontend/src/views/users.js
Labels: scope: frontend

Remove duplicate key/value on messages.js
  frontend/src/views/messages.js
Labels: scope: frontend

chore: add Docker-based Transifex CLI script for Linux/macOS (tx-docker.sh)
  scripts/transifex/tx-docker.sh
Labels: none

chore: add Docker-based Transifex CLI script for Windows (tx-docker.ps1)
  scripts/transifex/tx-docker.ps1
Labels: none

chore: update pulled translations from Transifex
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
Labels: scope: frontend, scope: translations

docs: update translation workflow guide with Docker and native CLI instructions
  docs/developers/translations.md
Labels: none

Add file size validation and improve error handling
  frontend/src/components/comments/commentInput.js
Labels: scope: frontend

Update FileRejection component UI
  frontend/src/components/comments/fileRejections.js
Labels: scope: frontend

Increase file size limit to 1MB
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/tests/fileRejections.test.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: scope: frontend

Add TeamLinkedProjectCard component with placeholder support
  frontend/src/components/teamsAndOrgs/TeamLinkedProjectCard.js
Labels: scope: frontend

Unlink team from a project for allowing team deletion
  backend/api/teams/actions.py
  backend/services/team_service.py
Labels: scope: backend

Create `TeamLinkedProjects` to display a team's linked projects grouped by status
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

Add CustomMenu component with active item highlighting
  frontend/src/components/CustomMenu.js
Labels: scope: frontend

Replaced the generic `Projects` component with the new `TeamLinkedProjects` component
  frontend/src/views/teams.js
Labels: scope: frontend

Add source strings of new component `TeamLinkedProjects` on messages.js
  frontend/src/components/teamsAndOrgs/messages.js
Labels: scope: frontend

refactor: Minor code cleanup and accessibility improvements
  frontend/src/components/CustomMenu.js
  frontend/src/components/teamsAndOrgs/TeamLinkedProjects.js
Labels: scope: frontend

fix get badges query in deployments
  frontend/src/api/badges.js
Labels: scope: frontend

fix(build): ci image not being build issue
  .github/workflows/build_ci_img.yml
Labels: scope: infrastructure

refactor: Remove Mapbox styles from `MAP_STYLE` style and use `fallbackRasterStyle` by default
  frontend/src/config/index.js
Labels: scope: frontend

Update map style tests after removing Mapbox styles
  frontend/src/components/tests/basemapMenu.test.js
Labels: scope: frontend

make stats match between profile and user table
  backend/models/postgis/user.py
Labels: scope: backend

show progress towards next level
  backend/api/users/statistics.py
  backend/models/dtos/user_dto.py
  backend/services/users/user_service.py
  frontend/src/api/stats.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/topBar.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/es.json
  frontend/src/views/userDetail.js
Labels: scope: frontend, scope: backend, scope: translations

run black
  backend/models/dtos/mapping_badge_dto.py
  backend/models/dtos/mapping_level_dto.py
  backend/models/dtos/user_dto.py
  backend/services/mapping_service.py
  backend/services/users/user_service.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_general.py
  tests/api/integration/api/system/test_statistics.py
  tests/backend/unit/services/test_project_service.py
Labels: scope: backend

show users that require approval first in the table
  backend/models/postgis/user.py
Labels: scope: backend

allow sorting users table by stats columns
  backend/api/users/resources.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  frontend/src/components/user/list.js
Labels: scope: frontend, scope: backend

make changeset count agree with production
  backend/services/users/user_service.py
  example.env
Labels: scope: backend

.github/labeler.yml:

"scope: frontend":
  - frontend/**/*
"scope: backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./pyproject.toml
"scope: infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./pyproject.toml
"scope: translations":
  - frontend/src/locales/*
