Repository hotosm/tasking-manager, pull requests merged in 2019-03, with the labels that each got.

#1397 Fix user menu not closing automatically on-click issue
  client/app/components/account-nav/account-nav.directive.js
Labels: Status: Review needed

#1411 Update debian version for the circleci environment
  circle.yml
Labels: Priority: High, Status: Review needed

#1419 Configuration in one file
  .dockerignore
  .ebextensions/aws.config
  .gitignore
  Dockerfile
  README.md
  circle.yml
  docker-compose.yml
  example.env
  manage.py
  requirements.txt
  screenshot.jpg
  server/__init__.py
  server/config.py
Labels: Priority: Medium, Status: Done

#1416 Improve Dockerfile
  .dockerignore
  .ebextensions/aws.config
  Dockerfile
  circle.yml
Labels: Priority: Medium, Status: Review needed

#1427 Fix ci container building
  circle.yml
Labels: Priority: High, Status: Review needed

#1426 Update python dependencies in the AWS Docker container
  requirements.aws.txt
Labels: Priority: Low, Status: Review needed
