Repository hotosm/tasking-manager, pull requests merged in 2019-04, with the labels that each got.

#1437 Fix Elastic Beanstalk deployment
  .ebextensions/environment.config
  .ebextensions/https.config
  Dockerfile
  devops/docker/tasking-manager/Dockerfile
  docker-compose.yml
Labels: Priority: High, Status: Review needed, Type: Infrastructure

#1443 Restrict PM promotion to admin
  client/app/profile/profile.html
  server/services/users/user_service.py
Labels: Priority: Critical, Status: Review needed

#1463 Allow only HTTPS access to the tasking manager
  cloudformation/tasking-manager.template.js
Labels: Status: Review needed, Type: Infrastructure

#1390 Add delete message feature in individual message page
  Dockerfile
  client/app/message/message.controller.js
  client/app/message/message.html
Labels: Status: Done

#1468 Version 3.2.0 Release (redux)
  Dockerfile
  client/app/message/message.controller.js
  client/app/message/message.html
  server/api/messaging/project_chat_apis.py
  server/services/messaging/chat_service.py
Labels: Priority: Critical, Status: Done

#1452 Include postgres port as configuration parameter
  example.env
  server/config.py
Labels: Status: Done

#1448 update angular to 1.7.8 & some other dependencies
  client/package.json
Labels: Component: Frontend, Status: Done

#1436 Remove shippable legacy
  .dockerignore
  .ebignore
  .gitignore
  devops/ci/shippable_deploy.sh
  shippable.yml
  tests/client/karma.conf.js
Labels: Priority: Low, Status: Done

#1434 Update psycopg2
  requirements.txt
Labels: Status: Done

#1422 Split tasks with arbitrary geometry. Closes #1364
  client/app/project/project.controller.js
  client/app/project/project.html
  requirements.txt
  server/services/grid/split_service.py
  tests/server/integration/services/grid/test_split_service.py
Labels: Priority: High, Status: Done

#1330 Pending stats for home-page endpoint
  client/app/services/stats.service.js
  requirements.txt
  server/__init__.py
  server/models/dtos/stats_dto.py
  server/services/stats_service.py
Labels: Priority: High, Status: Done

#1348 User stats & other related endpoint changes
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
  server/services/users/user_service.py
Labels: Priority: High, Status: Done

#1344 Project stats endpoint related
  server/models/dtos/mapping_dto.py
  server/models/dtos/project_dto.py
  server/models/dtos/stats_dto.py
  server/models/postgis/project.py
  server/services/stats_service.py
  server/services/users/user_service.py
Labels: Priority: High, Status: In Progress

#1453 Data dump for local testing
  tests/database/tasking-manager.sql
Labels: Difficulty: Medium, Priority: Medium, Status: Done

#1458 Improve cloning process
  client/app/admin/create-project/create-project.html
  server/models/postgis/project.py
Labels: Priority: High, Status: Review needed, Type: Bug

#1484 Fix login for users without project activity
  server/models/postgis/user.py
Labels: Priority: High, Status: Review needed

#1465 update flake8 and pycodestyle to fix problem when linting on atom-editor
  requirements.txt
Labels: Component: Backend, Status: Done

#1483 Message users on level upgrade
  server/services/messaging/templates/level_upgrade_message_en.txt
  server/services/users/user_service.py
  tests/server/integration/services/users/test_user_service.py
Labels: Priority: Medium, Status: Done

#1473 Cycle ASG instances in a sustainable way
  cloudformation/tasking-manager.template.js
Labels: Status: Review needed

#1486 Fix posting message when commenting
  server/services/messaging/chat_service.py
Labels: Priority: High, Status: Review needed

#1469 [WIP] Update CircleCI config for cfn strategy
  .circleci/config.yml
  circle.yml
  devops/ci/circleci_deploy.sh
  requirements.txt
Labels: Component: Infrastructure, Priority: High, Status: In Progress

#1480 Improvement of docker-compose
  devops/docker/tasking-manager/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Labels: Priority: Medium, Status: Review needed

#1497 Encourage user to provide email. Closes #1365
  client/app/components/account-nav/account-nav.html
  client/app/profile/profile.html
  client/assets/styles/sass/_accountnav.scss
  client/assets/styles/sass/_helpers.scss
Labels: Priority: High, Status: Done

#1423 Add inbox filtering, sorting, delete multiple. Closes #1361, closes #916
  client/app/message/inbox.controller.js
  client/app/message/inbox.html
  client/app/services/message.service.js
  client/assets/styles/sass/_messages.scss
  migrations/versions/0a6b82b55983_.py
  server/__init__.py
  server/api/messaging/message_apis.py
  server/models/dtos/message_dto.py
  server/models/postgis/message.py
  server/services/messaging/message_service.py
Labels: Priority: High, Status: Done

#1515 Don't classify old messages from deleted projects
  migrations/versions/0a6b82b55983_.py
Labels: Component: Backend, Priority: High, Status: Review needed

#1494 Extend gitignore
  .gitignore
Labels: Difficulty: Easy, Priority: Low, Status: Review needed

#1513 No owner on test SQL dump
  tests/database/tasking-manager.sql
Labels: Difficulty: Easy, Priority: Low, Status: Review needed

#1507 Reset bad imagery counter
  server/services/project_admin_service.py
Labels: Component: Backend, Status: Done

#1451 Include a few missing profile translate strings
  client/app/profile/profile.html
Labels: Priority: Medium, Status: Review needed

#1520 Hotfix: Fix commenting
  server/services/messaging/chat_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#1509 Move documentation from the wiki into the code base docs directory
  README.md
  ROADMAP.md
  devops/aws/ami.sh
  docs/code_of_conduct.md
  docs/contributing.md
  docs/customize.md
  docs/frontend-development.md
  docs/localisation.md
  docs/migration-tm2-to-tm3.md
  docs/review-pr.md
  docs/setup-development-faqs.md
  docs/setup-development.md
  docs/working-group.md
Labels: Priority: Medium, Status: Done
