Repository hotosm/tasking-manager, pull requests merged in 2019-06, with the labels that each got.

#1670 Fix tasks annotations and add tasks details
  migrations/versions/badf8bb7d56b_.py
  server/models/dtos/mapping_dto.py
  server/models/dtos/project_dto.py
  server/models/dtos/task_annotation_dto.py
  server/models/postgis/task.py
  server/models/postgis/task_annotation.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed

#1663 Transfer project to new owner feature, fixes #1341
  client/app/admin/edit-project/edit-project.controller.js
  client/app/admin/edit-project/edit-project.html
  client/app/services/project.service.js
  server/__init__.py
  server/api/project_admin_api.py
  server/services/project_admin_service.py
Labels: Status: Done

#1661 Show expert users ISO8601 timestamps on hover
  client/app/admin/dashboard/dashboard.html
  client/app/components/ng-click-copy/ng-click-copy.js
  client/app/components/project-chat/project-chat.html
  client/app/components/tm-timestamp/tm-timestamp.directive.js
  client/app/components/tm-timestamp/tm-timestamp.html
  client/app/message/inbox.html
  client/app/message/message.html
  client/app/profile/profile.html
  client/app/project/project-dashboard.html
  client/app/project/project.html
  client/app/taskingmanager.app.js
  client/assets/icons/clippy.svg
  client/assets/styles/sass/_tables.scss
  client/assets/styles/sass/_tmtimestamp.scss
  client/assets/styles/sass/taskingmanager.scss
  client/index.html
Labels: Component: Frontend, Priority: Medium, Status: Done, Type: Enhancement

#1664 Version 3.3.1 Release
  server/models/postgis/message.py
  server/models/postgis/project.py
  server/models/postgis/user.py
  server/services/stats_service.py
  server/services/users/user_service.py
  server/services/validator_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Status: Done, Type: Bug

#1674 Add recommended oauth settings in documentation
  README.md
  docs/assets/osm-oauth-settings.jpg
Labels: Difficulty: Easy, Priority: High, Status: Done, Type: Bug

#1680 Increase staging DB Instance Class to db.t2.small
  devops/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Status: Review needed

#1690 Restrict project edits to author & admins
  client/app/project/project.html
  devops/cloudformation/tasking-manager.template.js
Labels: Component: Backend, Component: Infrastructure, Priority: Critical

#1489 update readme to add local dev postgres environment instruction
  docs/setup-development.md
Labels: Status: In Progress

#1691 Do not apply cascade deletion on message model
  migrations/versions/b25f088d40c2_.py
  server/models/postgis/message.py
  server/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Done, Type: Bug

#1697 Change circleci deployment branches
  .circleci/config.yml
Labels: Component: Infrastructure, Priority: Critical, Status: Review needed

#1711 3.3.2 Release
  .circleci/config.yml
  client/locale/ar.json
  client/locale/bn.json
  client/locale/fa_IR.json
  client/locale/hu.json
  client/locale/mg.json
  client/locale/pt_BR.json
  client/locale/ru.json
  client/locale/sl.json
  client/locale/ta.json
  client/locale/vi.json
  devops/cloudformation/tasking-manager.template.js
  devops/scripts/pg_scripts/README
  devops/scripts/pg_scripts/csv_to_db.sh
  devops/scripts/pg_scripts/db_to_csv.sh
  devops/scripts/pg_scripts/restart_table.sh
  manage.py
  migrations/versions/b25f088d40c2_.py
  server/config.py
Labels: Component: Backend, Component: Infrastructure, Priority: Critical, Status: Done, Type: Enhancement

#1700 Add markdown support to task annotations
  migrations/versions/22e7d7e0fa02_.py
  migrations/versions/e36f1d0c4947_.py
  server/api/project_apis.py
  server/models/dtos/task_annotation_dto.py
  server/models/postgis/task_annotation.py
  server/services/task_annotations_service.py
Labels: Component: Backend, Priority: High, Status: Done, Type: Enhancement

#1717 Add Korean language
  server/config.py
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Done

#1719 Update eslint to 4.18.2
  client/package.json
  example.env
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed

#1718 Restructure scripts a bit
  devops/database/README.md
  devops/database/export-import-projects/README
  devops/database/export-import-projects/csv_to_db.sh
  devops/database/export-import-projects/db_to_csv.sh
  devops/database/migration-from-tm2-postgres.sql
  devops/database/proj-geom-cleanup.sql
  devops/database/restart_table.sh
  devops/docker/README.md
  devops/install/install_on_debian_10_buster.sh
  devops/install/install_on_debian_9_stretch.sh
  devops/install/install_on_ubuntu_18_04.sh
Labels: Component: Infrastructure, Priority: Low, Status: Review needed, Type: Enhancement

#1730 Review documentation on TM2 migration
  README.md
  devops/database/migration-from-tm2-postgres.sql
  docs/migration-from-tm2.md
  docs/migration-tm2-to-tm3.md
Labels: Priority: Low, Status: Review needed, Type: Enhancement

#1721 Modify deployment for new stack
  .circleci/config.yml
  devops/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Status: Done

#1727 Calculate stats in the database
  server/services/stats_service.py
Labels: Priority: High, Status: Review needed, Type: Bug
