Repository hotosm/tasking-manager, pull requests merged in 2019-07, with the labels that each got.

#1726 Enforce Random Task Selection
  client/app/admin/edit-project/edit-project.html
  client/app/project/project.controller.js
  client/app/project/project.html
  migrations/versions/0eeaa5aed53b_.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Component: Frontend, Priority: High, Status: Done, Type: Enhancement

#1696 Concising the states and stats on tasks
  migrations/versions/a43b9748ceee_.py
  server/models/postgis/project.py
  server/models/postgis/task.py
  server/services/mapping_service.py
  server/services/project_search_service.py
  server/services/stats_service.py
  server/services/validator_service.py
  tests/server/unit/services/test_mapping_service.py
  tests/server/unit/services/test_stats_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#1729 Some documentation and sorting of API tags
  README.md
  docs/setup-live.md
  server/api/project_admin_api.py
  server/api/project_apis.py
  server/api/swagger_docs_api.py
  server/web/templates/welcome.html
Labels: Priority: Medium, Status: Review needed, Type: Enhancement

#1716 Improve contribution stats endpoint
  client/app/services/project.service.js
  client/app/services/stats.service.js
  server/__init__.py
  server/api/project_apis.py
  server/api/stats_api.py
  server/models/dtos/project_dto.py
  server/models/dtos/stats_dto.py
  server/models/dtos/user_dto.py
  server/models/postgis/project.py
  server/services/project_search_service.py
  server/services/project_service.py
  server/services/stats_service.py
Labels: Component: Backend, Priority: High, Status: Review needed

#1738 Prevent SQL Injection when executing custom SQL
  server/models/postgis/message.py
  server/models/postgis/project.py
  server/models/postgis/task.py
  server/models/postgis/user.py
  server/services/stats_service.py
  server/services/users/user_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Enhancement

#1735 Include automatic trigger for indexing text_searchable
  migrations/versions/451f6bd05a19_.py
Labels: Component: Backend, Difficulty: Easy, Priority: Medium, Status: In Progress, Type: Bug

#1733 Enforces PM or Admin role on the users that will get a project transfer
  client/app/admin/edit-project/edit-project.controller.js
  client/app/admin/edit-project/edit-project.html
  client/app/services/user.service.js
  server/api/users/user_apis.py
  server/models/postgis/user.py
  server/services/project_admin_service.py
  server/services/users/user_service.py
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Bug

#1706 Introduce command to extract strings for translations, make them required for any changes and update documentation
  .gitignore
  .tx/config
  Makefile
  client/app/admin/edit-project/edit-project.html
  client/app/home/home.html
  client/locale/en.json
  docs/contributing-code.md
  docs/contributing-translation.md
  docs/setup-development.md
  manage.py
  requirements.txt
  server/services/translation_service.py
  tests/server/unit/services/test_translation_service.py
Labels: Component: Frontend, Priority: Medium, Status: Review needed, Type: Enhancement

#1754 Improve wording on form for reporting validation
  client/app/project/project.html
  client/locale/en.json
Labels: Component: Frontend, Priority: High, Status: Done, Type: Enhancement

#1708 Deprecate former environment schema
  manage.py
Labels: Component: Infrastructure, Priority: Low, Status: Review needed, Type: Enhancement

#1759 Modify default mapper level
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Priority: Low, Status: Review needed, Type: Enhancement

#1763 replace react-router by reach-router and change "sign in" button to "…
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/homepage/jumbotron.js
  frontend/src/index.js
  frontend/src/store/index.js
  frontend/src/store/reducers/index.js
Labels: Component: Frontend, Project: redesign, Status: Review needed

#1761 Add more homepage components
  frontend/src/assets/img/organizations/aws.png
  frontend/src/assets/img/organizations/gfdrr.png
  frontend/src/assets/img/organizations/msf.png
  frontend/src/assets/img/organizations/redcross.png
  frontend/src/assets/img/organizations/unicef.png
  frontend/src/assets/img/organizations/usaid.png
  frontend/src/assets/img/testimonials/michaelyani.jpg
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/_organizations.scss
  frontend/src/assets/styles/_testimonials.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/components/homepage/messages.js
  frontend/src/components/homepage/testimonials/index.js
  frontend/src/components/homepage/testimonials/messages.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/components/svgIcons/area.js
  frontend/src/components/svgIcons/bell.js
  frontend/src/components/svgIcons/chevron-down.js
  frontend/src/components/svgIcons/chevron-right.js
  frontend/src/components/svgIcons/chevron-up.js
  frontend/src/components/svgIcons/dataUse.js
  frontend/src/components/svgIcons/disasterResponse.js
  frontend/src/components/svgIcons/exit.js
  frontend/src/components/svgIcons/facebook.js
  frontend/src/components/svgIcons/flag.js
  frontend/src/components/svgIcons/github.js
  frontend/src/components/svgIcons/health.js
  frontend/src/components/svgIcons/home.js
  frontend/src/components/svgIcons/humanProcessing.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/instagram.js
  frontend/src/components/svgIcons/left.js
  frontend/src/components/svgIcons/link.js
  frontend/src/components/svgIcons/list.js
  frontend/src/components/svgIcons/manage.js
  frontend/src/components/svgIcons/mapping.js
  frontend/src/components/svgIcons/play.js
  frontend/src/components/svgIcons/projectSelection.js
  frontend/src/components/svgIcons/refugeeResponse.js
  frontend/src/components/svgIcons/right.js
  frontend/src/components/svgIcons/road.js
  frontend/src/components/svgIcons/search.js
  frontend/src/components/svgIcons/settings.js
  frontend/src/components/svgIcons/share.js
  frontend/src/components/svgIcons/submitWork.js
  frontend/src/components/svgIcons/task.js
  frontend/src/components/svgIcons/taskSelection.js
  frontend/src/components/svgIcons/twitter.js
  frontend/src/components/svgIcons/validation.js
  frontend/src/components/svgIcons/view.js
  frontend/src/components/svgIcons/waste.js
  frontend/src/components/svgIcons/waterSanitation.js
  frontend/src/components/svgIcons/waves.js
  frontend/src/components/svgIcons/worldNodes.js
  frontend/src/components/svgIcons/youtube.js
  frontend/src/locales/en.json
  frontend/src/views/home.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#1782 Return project last_updated field in project search endpoint
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed

#1739 WIP: Move instance script out of template
  devops/infra/README.md
  devops/infra/ami.json
  devops/infra/bootstrap-debian.sh
  devops/infra/bootstrap.sh
  devops/infra/debian.json
Labels: Component: Infrastructure, Priority: High, Status: In Progress

#1769 Add authentication views
  example.env
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/styles/_typography.scss
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/config/index.js
  frontend/src/network/auth.js
  frontend/src/store/actions/auth.js
  frontend/src/store/index.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/index.js
  frontend/src/views/authorized.js
  frontend/src/views/login.js
  server/config.py
  server/services/users/authentication_service.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: Done

#1742 make api-docs url load even with trailing backslash
  server/web/controller.py
Labels: Component: Backend, Priority: Low, Status: Review needed

#1752 Print message in logger within testing environments
  server/services/messaging/smtp_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Type: Bug

#1755 Fix #1622: Circle-ci RDS snapshot replacement is buggy
  .circleci/config.yml
Labels: Component: Infrastructure, Status: Done, Type: Enhancement

#1794 Fix for high zoom level when accessing tasks by URL
  client/app/project/project.controller.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Bug

#1786 Add PostGIS initialization to deployment script
  devops/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Status: Review needed, Type: Bug

#1788 update swagger ui
  server/config.py
  server/web/controller.py
  server/web/static/swagger-ui/css/hot.css
  server/web/static/swagger-ui/css/print.css
  server/web/static/swagger-ui/css/reset.css
  server/web/static/swagger-ui/css/screen.css
  server/web/static/swagger-ui/css/style.css
  server/web/static/swagger-ui/css/typography.css
  server/web/static/swagger-ui/fonts/DroidSans-Bold.ttf
  server/web/static/swagger-ui/fonts/DroidSans.ttf
  server/web/static/swagger-ui/images/collapse.gif
  server/web/static/swagger-ui/images/expand.gif
  server/web/static/swagger-ui/images/explorer_icons.png
  server/web/static/swagger-ui/images/favicon-16x16.png
  server/web/static/swagger-ui/images/favicon-32x32.png
  server/web/static/swagger-ui/images/favicon.ico
  server/web/static/swagger-ui/images/hot-favicon.ico
  server/web/static/swagger-ui/images/hot-tm-logo.svg
  server/web/static/swagger-ui/images/logo_small.png
  server/web/static/swagger-ui/images/pet_store_api.png
  server/web/static/swagger-ui/images/throbber.gif
  server/web/static/swagger-ui/images/wordnik_api.png
  server/web/static/swagger-ui/index.html
  server/web/static/swagger-ui/lang/en.js
  server/web/static/swagger-ui/lang/translator.js
  server/web/static/swagger-ui/lib/backbone-min.js
  server/web/static/swagger-ui/lib/es5-shim.js
  server/web/static/swagger-ui/lib/handlebars-4.0.5.js
  server/web/static/swagger-ui/lib/highlight.9.1.0.pack.js
  server/web/static/swagger-ui/lib/highlight.9.1.0.pack_extended.js
  server/web/static/swagger-ui/lib/jquery-1.8.0.min.js
  server/web/static/swagger-ui/lib/jquery.ba-bbq.min.js
  server/web/static/swagger-ui/lib/jquery.slideto.min.js
  server/web/static/swagger-ui/lib/jquery.wiggle.min.js
  server/web/static/swagger-ui/lib/js-yaml.min.js
  server/web/static/swagger-ui/lib/jsoneditor.min.js
  server/web/static/swagger-ui/lib/lodash.min.js
  server/web/static/swagger-ui/lib/marked.js
  server/web/static/swagger-ui/lib/object-assign-pollyfill.js
  server/web/static/swagger-ui/lib/sanitize-html.min.js
  server/web/static/swagger-ui/lib/swagger-oauth.js
  server/web/static/swagger-ui/o2c.html
  server/web/static/swagger-ui/swagger-ui.min.js
  server/web/templates/swagger.html
  server/web/templates/welcome.html
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Done, Type: Enhancement

#1784 Include due date in response for search project endpoint
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign

#1803 Make server_default keyword argument for Column not add_column in mig…
  migrations/versions/0eeaa5aed53b_.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Type: Bug

#1800 header improvements
  frontend/src/assets/img/user.jpg
  frontend/src/components/button.js
  frontend/src/components/dropdown.js
  frontend/src/components/header/index.js
  frontend/src/components/tests/button.test.js
  frontend/src/components/tests/dropdown.test.js
  frontend/src/store/actions/auth.js
  frontend/src/store/index.js
  frontend/src/store/reducers/auth.js
  frontend/src/views/authorized.js
  server/services/users/authentication_service.py
Labels: Component: Frontend, Difficulty: Easy, Project: redesign, Status: Review needed, Type: Enhancement

#1750 List contributions from a user by day
  server/__init__.py
  server/api/users/user_apis.py
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Medium, Status: Review needed, Type: Enhancement

#1811 Include totalcontributors in project search endpoint
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed
