Repository hotosm/tasking-manager, pull requests merged in 2019-10, with the labels that each got.

#1880 Remove duplicate priority geometries
  scripts/database/duplicate-priority-area-cleanup.sql
Labels: Component: Backend, Difficulty: Medium, Status: Review needed, Type: Bug

#1854 Perform taskhistory join only within paginated results query
  server/services/project_search_service.py
  server/services/project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug

#1884 Store user profile url within database
  frontend/src/assets/img/user.jpg
  frontend/src/components/header/index.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/profilePicture.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/settings.js
  frontend/src/store/actions/auth.js
  frontend/src/store/index.js
  frontend/src/store/reducers/auth.js
  migrations/versions/068674f06b0f_.py
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
  server/services/users/authentication_service.py
  server/services/users/user_service.py
  tests/server/integration/services/users/test_user_service.py
  tests/server/unit/services/users/test_authentication_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#1891 Include countryTag in Project Summary
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Status: Review needed, Type: Enhancement

#1896 Update serialised names for Summary
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Type: Enhancement

#1876 improvements to task selection page + prepare style to dark mode
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/styles/_colors.scss
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/_variables.scss
  frontend/src/components/header/index.js
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/components/paginator/index.js
  frontend/src/components/paginator/tests/index.test.js
  frontend/src/components/projects/projectCardPaginator.js
  frontend/src/components/svgIcons/asterisk.js
  frontend/src/components/svgIcons/clipboard.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/lock.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/mappingTypes.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/components/taskSelection/tests/mappingTypes.test.js
  frontend/src/components/user/completeness.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/settings.js
  frontend/src/hooks/UseFetch.js
  frontend/src/locales/en.json
  frontend/src/store/actions/tasks.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/tasks.js
  frontend/src/utils/sorting.js
  frontend/src/utils/tests/sorting.test.js
  frontend/src/views/messages.js
  frontend/src/views/notFound.js
  frontend/src/views/taskSelection.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#1898 Check field availability before processing
  frontend/src/components/taskSelection/mappingTypes.js
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Type: Bug

#1895 Force files to be read with utf-8 encoding
  migrations/versions/0eee8c1abd3a_.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Type: Bug

#1899 Include gender field in user profile
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/tests/completeness.test.js
  migrations/versions/f547382df31b_.py
  server/api/users/actions.py
  server/models/dtos/user_dto.py
  server/models/postgis/statuses.py
  server/models/postgis/user.py
Labels: Component: Backend, Component: Frontend, Difficulty: Medium, Priority: Medium, Project: redesign, Status: Review needed, Type: Enhancement

#1905 Include allowedUsers list for private projects
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Type: Enhancement

#1904 renames DTO and db field names for project
  migrations/versions/a60315eb2654_.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/project_service.py
Labels: Status: Review needed

#1906 Validate user mapping level for projects with allownonbeginners
  server/models/postgis/statuses.py
  server/services/project_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign, Status: Done, Type: Bug

#1660 Project favorites API
  migrations/versions/d2e18f0f34a9_.py
  server/__init__.py
  server/api/projects/favorites.py
  server/api/users/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/project_service.py
  server/services/users/user_service.py
  tests/server/integration/services/test_favorite_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Medium, Project: redesign, Status: Review needed

#1741 List popular projects
  server/__init__.py
  server/api/projects/statistics.py
  server/services/project_search_service.py
  server/services/stats_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Low, Project: redesign, Status: Review needed

#1925 Add more documentation for user and dev mailing lists and meetings
  README.md
  docs/working-group.md
  docs/working-groups.md
Labels: Status: Review needed, Type: Enhancement

#1868 Add the Project Detail page to TM 4
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/projectDetail/bigProjectTeaser.js
  frontend/src/components/projectDetail/favorites.js
  frontend/src/components/projectDetail/htmlFromMarkdown.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/newMapperFlow.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectDetail/showReadMoreButton.js
  frontend/src/components/projectDetail/taskLineGraphViz.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projectcard/projectProgressBar.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/hooks/UseFavProjectAPI.js
  frontend/src/locales/en.json
  frontend/src/views/project.js
  server/models/dtos/project_dto.py
  server/services/project_service.py
Labels: Component: Backend, Component: Frontend, Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#1885 Feature:task difficulty sort
  server/api/tasks/resources.py
  server/models/postgis/project.py
  server/models/postgis/task.py
  server/services/project_service.py
Labels: Component: Backend, Project: machine-learning, Status: Review needed, Type: Enhancement

#1900 define actions to users based on project and task status
  frontend/src/components/button.js
  frontend/src/components/dropdown.js
  frontend/src/components/paginator/index.js
  frontend/src/components/paginator/tests/index.test.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/projectCardPaginator.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/svgIcons/alert.js
  frontend/src/components/svgIcons/asterisk.js
  frontend/src/components/svgIcons/clipboard.js
  frontend/src/components/svgIcons/eye.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/lock.js
  frontend/src/components/svgIcons/profilePicture.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/mappingTypes.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/components/taskSelection/tests/mappingTypes.test.js
  frontend/src/components/tests/button.test.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/forms.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/hooks/UseFavProjectAPI.js
  frontend/src/hooks/UseLockedTasks.js
  frontend/src/locales/en.json
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/tasks.js
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/tasks.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/sorting.js
  frontend/src/utils/tests/internationalization.test.js
  frontend/src/utils/tests/permissionsToMap.test.js
  frontend/src/utils/tests/permissionsToValidate.test.js
  frontend/src/utils/tests/sorting.test.js
  frontend/src/utils/tests/taskAction.test.js
  frontend/src/views/login.js
  frontend/src/views/messages.js
  frontend/src/views/notFound.js
  frontend/src/views/project.js
  frontend/src/views/taskSelection.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#1937 Login user from popup
  frontend/src/components/header/createPopup.js
  frontend/src/components/header/index.js
  frontend/src/store/actions/auth.js
  frontend/src/views/authorized.js
  server/api/system/authentication.py
  server/services/users/authentication_service.py
  tests/server/unit/services/users/test_authentication_service.py
Labels: Component: Backend, Component: Frontend, Difficulty: Hard, Priority: High, Status: Review needed, Type: Enhancement

#1933 improve maps and design details
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/dropdown.js
  frontend/src/components/projectDetail/favorites.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/newMapperFlow.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/tests/dropdown.test.js
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseInterval.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/serviceWorker.js
  frontend/src/utils/editorsList.js
  frontend/src/utils/tests/updateTaskStatus.test.js
  frontend/src/utils/updateTasksStatus.js
  server/api/tasks/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Frontend, Difficulty: Easy, Project: redesign, Status: Review needed, Type: Enhancement

#1947 add redirect from old project url and fix z-index of user menu
  frontend/src/App.js
  frontend/src/components/dropdown.js
  frontend/src/components/tests/dropdown.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement
