Repository hotosm/tasking-manager, pull requests merged in 2019-11, with the labels that each got.

#1949 Recommended projects
  server/__init__.py
  server/api/users/resources.py
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Status: Review needed

#1918 Allow PMs to configure available iD editor presets
  .gitignore
  client/app/admin/edit-project/edit-project.controller.js
  client/app/admin/edit-project/edit-project.html
  client/app/project/project.controller.js
  client/app/services/editor.service.js
  client/app/taskingmanager.app.js
  client/assets/styles/sass/_project.scss
  client/gulpfile.js
  client/index.html
  client/locale/en.json
  client/package.json
  client/taskingmanager.config.json
  migrations/versions/4b9fb4d3f349_.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#1924 Custom Editor
  client/app/admin/edit-project/edit-project.controller.js
  client/app/admin/edit-project/edit-project.html
  client/app/project/project.controller.js
  client/app/project/project.html
  client/app/services/account.service.js
  client/app/services/editor.service.js
  client/locale/en.json
  migrations/versions/51ccc46f1b8a_.py
  server/models/dtos/project_dto.py
  server/models/postgis/custom_editors.py
  server/models/postgis/project.py
  server/models/postgis/statuses.py
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#1957 Confirm project author is PM
  server/services/project_admin_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#1961 Fix migration tables, campaigns table queries and tests
  migrations/versions/0eee8c1abd3a_.py
  migrations/versions/e3282e2db2d7_.py
  migrations/versions/f86698c827cc_.py
  server/models/postgis/campaign.py
  server/models/postgis/organisation.py
  server/services/project_search_service.py
  server/services/stats_service.py
  tests/server/integration/services/users/test_authentication_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#1870 Register new users with email feature
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/header/updateEmail.js
  frontend/src/network/user.js
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/user.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/user.js
  migrations/versions/5eba4824505e_.py
  server/__init__.py
  server/api/users/actions.py
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
  server/services/users/user_service.py
Labels: Component: Backend, Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Enhancement

#1960 fixes for saving project
  client/app/admin/edit-project/edit-project.controller.js
  client/app/admin/edit-project/edit-project.html
Labels: Component: Frontend, Priority: High, Status: Review needed, Type: Bug

#1815 Backend of interests feature
  migrations/versions/83eb4cbb0abd_.py
  server/__init__.py
  server/api/interests/resources.py
  server/api/projects/actions.py
  server/api/users/actions.py
  server/api/users/statistics.py
  server/models/dtos/interests_dto.py
  server/models/postgis/interests.py
  server/models/postgis/project.py
  server/models/postgis/user.py
  server/services/interests_service.py
  tests/server/integration/services/test_interests_service.py
Labels: Component: Backend, Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#1963 Fixes #1953 allow to clear field
  server/models/postgis/user.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#1966 Organisation endpoint related
  frontend/src/components/projects/tests/moreFiltersForm.test.js
  frontend/src/hooks/UseTagAPI.js
  server/__init__.py
  server/api/organisations/resources.py
  server/api/projects/campaigns.py
  server/api/projects/resources.py
  server/api/teams/actions.py
  server/api/teams/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/project_search_service.py
Labels: Status: Review needed

#1983 Fixes #1977 adds picture_url and name to contributions endpoint
  server/models/dtos/stats_dto.py
  server/services/stats_service.py
Labels: Component: Backend, Status: Review needed

#1976 review permissions of interests api endpoints
  server/api/interests/resources.py
  server/api/projects/actions.py
  server/api/users/actions.py
Labels: Component: Backend, Project: redesign, Status: Review needed, Type: Enhancement

#1987 [WIP] Improving organisations
  migrations/versions/9fe05f010750_.py
  migrations/versions/e3282e2db2d7_.py
  server/__init__.py
  server/api/campaigns/resources.py
  server/api/organisations/campaigns.py
  server/api/organisations/resources.py
  server/api/projects/campaigns.py
  server/api/projects/resources.py
  server/api/projects/teams.py
  server/api/tasks/resources.py
  server/api/teams/actions.py
  server/api/teams/resources.py
  server/api/users/actions.py
  server/api/users/resources.py
  server/models/dtos/organisation_dto.py
  server/models/postgis/organisation.py
  server/models/postgis/statuses.py
  server/services/campaign_service.py
  server/services/organisation_service.py
  server/services/team_service.py
Labels: Component: Backend, Project: redesign, Status: In Progress

#1990 adds user interets endpoint
  server/__init__.py
  server/api/users/resources.py
  server/services/users/user_service.py
Labels: Component: Backend, Project: redesign, Status: Review needed

#1988 adds filter by interest on projects endpoint
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Project: redesign, Status: In Progress

#1992 fixes #1978 returns code for SystemAuthenticationEmailAPI
  server/api/system/authentication.py
  server/services/users/authentication_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#1991 fix set-interest for user URL
  frontend/src/store/actions/auth.js
  server/__init__.py
  server/api/users/actions.py
Labels: Component: Backend, Project: redesign, Status: Review needed, Type: Enhancement

#1962 Improve user settings
  example.env
  frontend/.env.expand
  frontend/src/components/header/createPopup.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/signUp.js
  frontend/src/components/header/updateEmail.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/switch.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/user/completeness.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/settings.js
  frontend/src/components/user/tests/completeness.test.js
  frontend/src/config/index.js
  frontend/src/locales/en.json
  frontend/src/network/user.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
  frontend/src/views/settings.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#1982 Fixes for #1853 bad counting
  manage.py
  server/services/stats_service.py
  tests/server/unit/services/test_stats_service.py
Labels: Status: Review needed, Type: Bug

#1997 Capitalize "error" string in API returns
  server/api/campaigns/resources.py
  server/api/countries/resources.py
  server/api/interests/resources.py
  server/api/organisations/campaigns.py
  server/api/organisations/resources.py
  server/api/projects/actions.py
  server/api/projects/campaigns.py
  server/api/projects/favorites.py
  server/api/projects/resources.py
  server/api/projects/statistics.py
  server/api/projects/teams.py
  server/api/system/authentication.py
  server/api/tasks/resources.py
  server/api/teams/actions.py
  server/api/teams/resources.py
  server/api/users/actions.py
  server/api/users/resources.py
  server/api/users/statistics.py
Labels: Component: Backend, Project: redesign, Status: Review needed, Type: Enhancement

#1998 fixes #1996 organisation delete enpoint
  migrations/versions/22e9a0e9b254_.py
  server/api/organisations/resources.py
  server/models/postgis/organisation.py
  server/services/organisation_service.py
Labels: Component: Backend, Status: Review needed

#1848 Endpoint for my tasks
  server/__init__.py
  server/api/users/resources.py
  server/api/users/tasks.py
  server/models/dtos/application_dto.py
  server/models/dtos/mapping_dto.py
  server/models/postgis/task.py
  server/services/users/user_service.py
Labels: Component: Backend, Priority: High, Project: redesign, Status: Review needed

#2002 fix #1993 Add PATCH method to organisations and teams endpoints
  server/__init__.py
  server/api/organisations/resources.py
  server/api/teams/resources.py
  server/models/dtos/organisation_dto.py
  server/models/dtos/team_dto.py
  server/models/postgis/organisation.py
  server/models/postgis/team.py
  server/services/organisation_service.py
Labels: Component: Backend, Status: Review needed

#2009 Fixes #2007
  server/api/projects/activities.py
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/models/postgis/tags.py
Labels: Component: Backend, Project: redesign, Status: Review needed

#1952 improvements to contribute page
  frontend/src/App.js
  frontend/src/assets/img/mapMarker.png
  frontend/src/components/dropdown.js
  frontend/src/components/footer.js
  frontend/src/components/header/NavLink.js
  frontend/src/components/header/messages.js
  frontend/src/components/mappingTypes.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projects/mappingTypeFilterPicker.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/orderByPicker.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/projects/tagFilterPicker.js
  frontend/src/components/projects/tests/mappingTypeFilterPicker.test.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/tests/mappingTypes.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/views/project.js
Labels: Component: Frontend, Status: Review needed, Type: Bug, Type: Enhancement

#1999 Frontend Project creation wizard
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/header/index.js
  frontend/src/components/projectCreate/create.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/trimProject.js
  frontend/src/config/index.js
  frontend/src/store/actions/project.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/project.js
Labels: Component: Frontend, Difficulty: Hard, Priority: High, Project: redesign, Status: Review needed
