Repository hotosm/tasking-manager, pull requests merged in 2019-12, with the labels that each got.

#2024 Rename explore projects path
  frontend/src/App.js
  frontend/src/components/header/index.js
  frontend/src/components/homepage/jumbotron.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/views/project.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Question

#2016 Include auto unlock operations for time aggregates
  server/models/postgis/project.py
  server/models/postgis/user.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Easy, Status: Review needed, Type: Bug

#2028 Organisation filter by table join
  server/models/postgis/organisation.py
  server/services/organisation_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical

#2022 Change some wording in html meta attributes
  frontend/public/index.html
  frontend/src/App.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Enhancement

#2027 Fixes #2006 team join endpoint
  migrations/versions/f26a7c36eb65_.py
  server/__init__.py
  server/api/teams/actions.py
  server/api/teams/resources.py
  server/models/dtos/team_dto.py
  server/models/postgis/statuses.py
  server/models/postgis/team.py
  server/services/messaging/message_service.py
  server/services/team_service.py
Labels: Component: Backend, Project: redesign, Status: Review needed

#2029 Fixes #1984 org managers can just be users with admin org manager role
  server/models/postgis/organisation.py
  server/models/postgis/team.py
  server/models/postgis/user.py
  server/services/organisation_service.py
  server/services/users/user_service.py
Labels: Component: Backend, Status: Review needed

#2030 fix authentication requirements for user endpoints
  server/api/users/openstreetmap.py
  server/api/users/resources.py
  server/api/users/statistics.py
Labels: Component: Backend, Project: redesign, Status: Review needed, Type: Enhancement

#2014 fixes #2004 campaign delete and create
  migrations/versions/29097876c7e6_.py
  server/__init__.py
  server/api/campaigns/resources.py
  server/api/organisations/campaigns.py
  server/api/projects/campaigns.py
  server/models/dtos/campaign_dto.py
  server/models/dtos/organisation_dto.py
  server/models/postgis/campaign.py
  server/services/campaign_service.py
Labels: Component: Backend, Project: redesign, Status: Review needed

#2026 fixes #2021 campaign put endpoint issue
  server/api/campaigns/resources.py
  server/services/campaign_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#2037 Allow to filter projects by teams
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Status: Review needed

#2041 fixes campaign organisation delete issue
  server/api/organisations/campaigns.py
  server/models/postgis/campaign.py
  server/services/campaign_service.py
Labels: Component: Backend, Status: Review needed

#2042 Docstring review within server setup
  server/__init__.py
  server/api/annotations/resources.py
  server/api/campaigns/resources.py
  server/api/comments/resources.py
  server/api/countries/resources.py
  server/api/interests/resources.py
  server/api/licenses/actions.py
  server/api/licenses/resources.py
  server/api/organisations/campaigns.py
  server/api/organisations/resources.py
  server/api/projects/actions.py
  server/api/projects/activities.py
  server/api/projects/campaigns.py
  server/api/projects/contributions.py
  server/api/projects/favorites.py
  server/api/projects/resources.py
  server/api/projects/statistics.py
  server/api/projects/teams.py
  server/api/tasks/actions.py
  server/api/tasks/resources.py
  server/api/teams/actions.py
  server/api/teams/resources.py
  server/api/users/actions.py
  server/api/users/openstreetmap.py
  server/api/users/resources.py
  server/api/users/statistics.py
  server/api/users/tasks.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Project: redesign

#2043 Add december campaign banner
  client/assets/styles/sass/_mobile.scss
  client/index.html
  client/locale/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Type: Enhancement

#1986 Fixes for #1853 bad counting on master branch
  manage.py
  server/services/stats_service.py
Labels: Status: Done, Type: Bug

#2034 Project Edit view
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/projectCreate/create.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/views/project.js
  frontend/src/views/projectEdit.js
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/project_admin_service.py
Labels: Component: Frontend, Difficulty: Hard, Priority: High, Project: redesign

#1886 Adds sorting for projects and projects by owner
  frontend/src/App.js
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/nCardPlaceholder.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/views/project.js
  frontend/src/views/welcome.js
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/project_admin_service.py
  server/services/project_search_service.py
Labels: Component: Backend, Priority: High, Project: redesign, Status: Review needed

#1989 Add frontends views to manage teams, organizations and campaigns
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/footer.js
  frontend/src/components/formInputs.js
  frontend/src/components/header/NavLink.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/messages.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/mappingTypeFilterPicker.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/svgIcons/asterisk.js
  frontend/src/components/svgIcons/clipboard.js
  frontend/src/components/svgIcons/hashtag.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/pencil.js
  frontend/src/components/svgIcons/plus.js
  frontend/src/components/switch.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/editMode.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/organisations.test.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/settings.js
  frontend/src/components/user/tests/userAvatar.test.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/testWithIntl.js
  frontend/src/views/campaigns.js
  frontend/src/views/management.js
  frontend/src/views/messages.js
  frontend/src/views/organisations.js
  frontend/src/views/project.js
  frontend/src/views/teams.js
  server/api/organisations/resources.py
  server/api/projects/resources.py
  server/api/teams/resources.py
  server/api/users/resources.py
  server/models/dtos/organisation_dto.py
  server/models/dtos/team_dto.py
  server/models/dtos/user_dto.py
  server/models/postgis/team.py
  server/models/postgis/user.py
  server/services/organisation_service.py
  server/services/team_service.py
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2048 Fix task endpoints for logged in user
  server/api/tasks/resources.py
  server/models/postgis/project.py
  server/models/postgis/task.py
  server/services/project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Project: redesign

#2036 Add org parameters to cloudformation template
  .circleci/config.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Project: redesign, Status: Review needed

#2053 Handle all task fetch in Project DTO function
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical

#2064 Add walkthrough, fix typos
  scripts/database/migration-from-tm2-postgres.sql
Labels: Component: Backend, Difficulty: Easy, Priority: Low, Status: Done, Type: Enhancement

#2060 Minor changes to task endpoints
  server/__init__.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Review needed

#2035 Tasks select and map/validate views
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/button.js
  frontend/src/components/footer.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/newMapperFlow.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectcard/dueDateBox.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/instructions.js
  frontend/src/components/taskSelection/legend.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/footer.js
  frontend/src/config/index.js
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseOnClickOutside.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/htmlFromMarkdown.js
  frontend/src/utils/random.js
  frontend/src/utils/tests/random.test.js
  frontend/src/views/messages.js
  frontend/src/views/taskAction.js
  frontend/src/views/taskSelection.js
  server/__init__.py
  server/api/projects/campaigns.py
  server/api/tasks/actions.py
  server/api/users/tasks.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/campaign_service.py
Labels: Component: Frontend, Priority: Critical, Project: redesign, Status: Review needed, Type: Enhancement

#2067 Check task lock across multiple projects
  server/__init__.py
  server/api/tasks/resources.py
  server/models/postgis/project.py
  server/models/postgis/task.py
  server/services/project_service.py
  tests/server/unit/services/test_project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Status: Review needed

#2071 add dependabot config file
  .dependabot/config.yml
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2070 style improvements
  frontend/src/assets/styles/_organizations.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/components/header/updateEmail.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/views/management.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2049 Enhancement in project creation view
  frontend/src/components/projectCreate/create.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed

#2040 adds filters to team endpoints
  server/api/teams/resources.py
  server/services/team_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Enhancement

#2025 Add about and learn pages
  frontend/src/App.js
  frontend/src/components/header/topBar.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/user/content.js
  frontend/src/locales/en.json
  frontend/src/locales/pt.json
  frontend/src/views/about.js
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Priority: Medium, Project: redesign, Status: In Progress, Type: Enhancement

#2078 Fix user login on TM4
  server/api/users/openstreetmap.py
Labels: Component: Backend, Priority: Critical, Project: redesign

#2079 Fix field name for status when rendering project edit view
  frontend/src/components/projectEdit/descriptionForm.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed

#2080 open id editor when user locks a task for mapping/validation
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tasksGeometry.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/utils/tests/snippets/tasksGeometry.js
  frontend/src/utils/tests/tasksGeometry.test.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#2074 Check locked tasks before validation
  server/services/project_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed

#2076 set AOI message error / Remove eventlistener split
  frontend/src/components/projectCreate/create.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Type: Enhancement

#2077 Include organisation filter for teams
  server/api/teams/resources.py
  server/services/team_service.py
Labels: Component: Backend, Difficulty: Easy, Project: redesign, Status: Review needed

#2089 update nodejs to 13.x on circle-ci
  .circleci/config.yml
Labels: Component: Frontend, Component: Infrastructure, Priority: Critical, Project: redesign, Status: Review needed, Type: Bug

#2075 Support for multiple languages in project edit view
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed

#2100 Handle no locked tasks scenario as 200 instead of 404
  server/api/tasks/resources.py
  server/services/project_service.py
  tests/server/unit/services/test_project_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Medium, Project: redesign
