Repository hotosm/tasking-manager, pull requests merged in 2019-08, with the labels that each got.

#1799 enable localization switch
  frontend/src/components/dropdown.js
  frontend/src/components/header/index.js
  frontend/src/components/svgIcons/check.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/tests/dropdown.test.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/locales/pt.json
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/tests/internationalization.test.js
  frontend/src/utils/tests/translatedMessages.test.js
  frontend/src/utils/translatedMessages.js
Labels: Component: Frontend, Difficulty: Medium, Project: redesign, Status: Review needed, Type: Enhancement

#1756 Some new fields for user profiles
  migrations/versions/ee46f5e8723b_.py
  server/api/users/user_apis.py
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
Labels: Component: Backend, Status: Review needed

#1808 Fix area query
  server/models/postgis/project.py
  server/services/stats_service.py
Labels: Component: Backend, Priority: Medium, Status: Done

#1820 Improve frontend loading
  .gitignore
  Makefile
  example.env
  frontend/.env.expand
  frontend/package.json
  frontend/src/config/index.js
  scripts/docker/tasking-manager/Dockerfile
  server/__init__.py
  server/config.py
Labels: Priority: High, Status: Review needed

#1829 Add welcome page
  frontend/.env.expand
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/button.js
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/homepage/stats.js
  frontend/src/components/mappingLevel.js
  frontend/src/components/messages.js
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/completeness.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/help.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/settings.js
  frontend/src/components/user/tests/completeness.test.js
  frontend/src/components/user/tests/settings.test.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/store/actions/auth.js
  frontend/src/views/about.js
  frontend/src/views/login.js
  frontend/src/views/welcome.js
  server/services/users/authentication_service.py
Labels: Component: Frontend, Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#1835 New fields for user table
  migrations/versions/6612e4d6524c_.py
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
Labels: Component: Backend, Difficulty: Easy, Project: redesign, Status: Review needed, Type: Enhancement

#1833 replace tachyons classes by style prop on ProjectProgressBar
  frontend/src/components/projectcard/projectProgressBar.js
Labels: Component: Frontend, Difficulty: Easy, Project: redesign, Status: Review needed, Type: Enhancement

#1821 Update requirements file
  requirements.txt
Labels: Component: Backend, Difficulty: Easy, Priority: Medium, Status: In Progress, Type: Enhancement

#1840 Feature/matomo redesign
  .circleci/config.yml
  frontend/.env.expand
  frontend/public/index.html
  frontend/src/views/home.js
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#1845 Add missing comma in cfn template
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Project: redesign, Status: Done, Type: Bug

#1847 Include missing libraries for gunicorn
  requirements.txt
Labels: Component: Backend, Difficulty: Easy, Priority: High, Type: Bug
