Repository hotosm/tasking-manager, pull requests merged in 2019-09, with the labels that each got.

#1851 Fix migration issue for a fresh db
  migrations/versions/0eeaa5aed53b_.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed

#1855 Improvements for email requirement
  client/app/profile/profile.html
  client/app/project/project.html
  client/locale/en.json
Labels: Component: Frontend, Priority: Critical, Status: Review needed

#1852 Fix api path loading on localhost
  frontend/src/serviceWorker.js
Labels: Component: Frontend, Priority: High, Status: Review needed

#1857 PATCH updates for User Profile
  frontend/src/components/user/messages.js
  frontend/src/components/user/settings.js
  frontend/src/components/user/tests/settings.test.js
  frontend/src/config/index.js
  frontend/src/store/actions/auth.js
  server/__init__.py
  server/models/postgis/user.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: In Progress

#1837 Featured projects
  migrations/versions/7435b0a865e6_.py
  server/__init__.py
  server/api/projects/actions.py
  server/api/projects/resources.py
  server/models/postgis/project.py
  server/services/project_search_service.py
  server/services/project_service.py
  tests/server/integration/services/test_featured_projects_services.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#1842 Order by and sort options for search project endpoint
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign, Status: Review needed

#1861 Redesign - Projects data fetch
  server/api/projects/resources.py
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Medium, Type: Enhancement

#1865 Include mappingTypes in project summary
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Project: redesign, Status: Review needed

#1862 Add views to select pages to map and validate
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/img/lock.png
  frontend/src/components/dropdown.js
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/messages.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/mappingTypes.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/components/taskSelection/tests/mappingTypes.test.js
  frontend/src/components/user/forms.js
  frontend/src/config/index.js
  frontend/src/locales/en.json
  frontend/src/store/actions/tasks.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/tasks.js
  frontend/src/utils/editorsList.js
  frontend/src/views/taskSelection.js
Labels: Component: Frontend, Priority: High, Project: redesign, Status: In Progress, Type: Enhancement

#1871 Capture latest status of tasks
  server/__init__.py
  server/api/projects/activities.py
  server/models/dtos/mapping_dto.py
  server/models/dtos/stats_dto.py
  server/services/stats_service.py
Labels: Component: Backend, Difficulty: Medium, Status: Review needed
