Repository hotosm/tasking-manager, pull requests merged in 2020-02, with the labels that each got.

#2262 set maxLength on project name and short description fields
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/inputLocale.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2274 update mapbox-gl (1.7.0) and react-scripts (3.3.1)
  .dependabot/config.yml
  frontend/package.json
  frontend/src/components/dropdown.js
Labels: Component: Frontend, dependencies, javascript

#2264 list teams on project detail page
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#2258 Team membership improvements
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/members.test.js
  frontend/src/components/teamsAndOrgs/tests/organisations.test.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/tests/userAvatar.test.js
  frontend/src/utils/teamMembersDiff.js
  frontend/src/utils/tests/teamMembersDiff.test.js
  frontend/src/views/campaigns.js
  frontend/src/views/management.js
  frontend/src/views/messages.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
  server/__init__.py
  server/api/teams/actions.py
  server/models/postgis/statuses.py
  server/services/team_service.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: Review needed, Type: Bug, Type: Enhancement

#2241 load project descriptions and instructions in the current user language
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2222 Upgrade Python dependencies
  requirements.txt
Labels: Component: Backend, Status: Review needed, dependencies, python

#2276 Users contributions from project frontend
  frontend/src/components/checkCircle.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/tests/checkCircle.test.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#2290 avoid login popup blocking
  frontend/src/utils/login.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2280 Contributions nav in user profile
  frontend/src/App.js
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/header/index.js
  frontend/src/components/menu.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/tests/menu.test.js
  frontend/src/components/user/messages.js
  frontend/src/components/userDetail/contributionTimeline.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/components/userDetail/topProjects.js
  frontend/src/views/campaigns.js
  frontend/src/views/contributions.js
  frontend/src/views/management.js
  frontend/src/views/organisations.js
  frontend/src/views/project.js
  frontend/src/views/projectEdit.js
  frontend/src/views/teams.js
  frontend/src/views/userDetail.js
  frontend/src/views/welcome.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Project: redesign

#2289 Show priority areas
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/legend.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/config/index.js
  server/__init__.py
  server/api/projects/resources.py
  server/services/project_service.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2281 update permissions to the new schema based on teams and/or level
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/taskSelection/index.js
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/tests/permissionsToMap.test.js
  frontend/src/utils/tests/permissionsToValidate.test.js
  frontend/src/utils/tests/taskAction.test.js
  frontend/src/views/projectEdit.js
  migrations/versions/c40e1fdf6b70_.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/models/postgis/statuses.py
  server/services/messaging/message_service.py
  server/services/project_service.py
  server/services/team_service.py
  tests/server/unit/services/test_project_service.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Type: Enhancement

#2296 disable learn and about links while the content is not ready
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
Labels: Component: Frontend, Status: Review needed, Type: Regression

#2299 enable translation on project editing
  frontend/src/components/messages.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
  frontend/src/views/authorized.js
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2270 Change default editor value
  migrations/versions/6612e4d6524c_.py
  server/models/postgis/user.py
Labels: Component: Backend, Difficulty: Easy, Status: Done

#2300 Time aggregates for user profile
  server/models/postgis/project.py
  server/models/postgis/user.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Easy, Status: Review needed, Type: Bug

#2307 Remove notification message after project update form changes
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Type: Bug

#2304 Raise Error for large size files
  example.env
  frontend/.env.expand
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High

#2309 fix bugs in the layout of teams and project edit page
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/projectEdit.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2310 Include locales for project GET request
  frontend/src/views/projectEdit.js
  server/models/postgis/project.py
Labels: Component: Backend, Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed

#2313 improve user highlight on contributions tab of task selection page
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/index.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2316 avoid maps from loading in the wrong location
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/userDetail/countriesMapped.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2315 Fix project search by status
  server/services/project_search_service.py
Labels: Component: Backend, Status: Done, Type: Bug

#2312 add progress bar on contributions tab of task selection page
  frontend/src/components/taskSelection/contributions.js
  frontend/src/utils/projectCompletenessCalc.js
  frontend/src/utils/tests/projectCompletenessCalc.test.js
  frontend/src/utils/tests/snippets/tasksGeometry.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2326 Textstrings English language review
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/header/messages.js
  frontend/src/components/homepage/messages.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/components/messages.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projects/messages.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
  frontend/src/views/about.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Priority: High, Status: Review needed, Type: Enhancement

#2311 Update UTC time format
  server/models/dtos/application_dto.py
  server/models/dtos/mapping_dto.py
  server/models/dtos/message_dto.py
  server/models/dtos/notification_dto.py
  server/models/dtos/project_dto.py
  server/models/dtos/user_dto.py
  server/models/dtos/validator_dto.py
  server/models/postgis/message.py
  server/models/postgis/project.py
  server/models/postgis/user.py
  server/services/project_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#2314 add permissions info on project detail page
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/permissionBox.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/tests/permissionBox.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2317 improve user filtering on task selection page list
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2343 fix interests text and project detail style
  frontend/src/components/interests/index.js
  frontend/src/components/projectDetail/bigProjectTeaser.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
  frontend/src/views/interests.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2345 add link to osm profile page on user stats page
  frontend/src/assets/img/osm_logo.png
  frontend/src/components/header/messages.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2319 add UserAvatarList component
  frontend/src/components/projectDetail/index.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/tests/userAvatar.test.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2356 Fix interests filter on project search
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/views/interests.js
  server/api/projects/resources.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#2318 Fix a few task lock related issues
  server/api/tasks/actions.py
  server/services/project_service.py
Labels: Component: Backend, Status: Review needed

#2353 avoid browsers from blocking editor windows
  frontend/src/components/taskSelection/footer.js
  frontend/src/utils/openEditor.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2355 Manage users view
  frontend/src/App.js
  frontend/src/components/menu.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/list.js
  frontend/src/views/messages.js
  frontend/src/views/users.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Enhancement

#2367 use UserAvatar component instead of <img> on Task History
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Difficulty: Easy, Status: Review needed, Type: Enhancement

#2357 improvements over #2333 code
  server/api/annotations/resources.py
  server/api/comments/resources.py
  server/api/projects/activities.py
  server/api/projects/contributions.py
  server/models/postgis/project_chat.py
  server/services/stats_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#2370 fix task loading error msg
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/taskResults.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Bug

#2351 Update project edit permissions
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/menu.test.js
  frontend/src/locales/en.json
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/views/management.js
  frontend/src/views/messages.js
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
  server/services/notification_service.py
  server/services/project_admin_service.py
  server/services/users/user_service.py
  tests/server/unit/services/test_project_admin_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Status: Review needed

#2362 changes requested on user group meeting
  frontend/src/components/header/signUp.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/user/forms.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2363 Add CodeDeploy to project
  appspec.yml
  scripts/aws/cloudformation/service-start.sh
  scripts/aws/cloudformation/service-stop.sh
  scripts/aws/cloudformation/tasking-manager.template.js
  tasking-manager.service
Labels: Component: Infrastructure, Priority: High, Status: Done, Type: Enhancement

#2369 Improvements on TranslatedMessages
  frontend/src/App.js
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/taskResults.js
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/interests/index.js
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
  frontend/src/views/interests.js
  frontend/src/views/management.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2390 Remove project check during login
  server/api/system/statistics.py
  server/models/dtos/stats_dto.py
  server/models/dtos/user_dto.py
  server/models/postgis/task.py
  server/models/postgis/user.py
  server/services/stats_service.py
  server/services/users/authentication_service.py
  tests/server/unit/services/users/test_authentication_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Type: Enhancement

#2395 update some task status messages to follow the same pattern
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2396 update 2 aditional task status messages
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2305 Change TM4 autoscaling policy to production
  .circleci/config.yml
Labels: Component: Infrastructure, Priority: High, Status: Done

#2387 add OSMCha link to Contributions section of project detail page
  frontend/src/components/dropdown.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/osmchaButton.js
  frontend/src/components/svgIcons/edit.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/zoomPlus.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
  frontend/src/utils/osmchaLink.js
  frontend/src/utils/overpassLink.js
  frontend/src/utils/tests/osmchaLink.test.js
  frontend/src/utils/tests/overpassLink.test.js
  frontend/src/views/taskSelection.js
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Component: Frontend, Status: Done, Type: Enhancement

#2402 read osm user stats from the edits stats host
  frontend/src/config/index.js
  frontend/src/network/genericJSONRequest.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2400 Fix projects touched error code for no mapping
  server/api/projects/resources.py
  server/models/postgis/user.py
Labels: Component: Backend, Difficulty: Easy, Priority: Low, Status: Done

#2404 fix open editor options when validating task
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Priority: Critical, Status: Done, Type: Bug

#2407 fallback for edits api url
  example.env
  frontend/.env.expand
  frontend/src/config/index.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Enhancement

#2408 Formatted messages for placeholders
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/signUp.js
  frontend/src/components/header/updateEmail.js
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Enhancement

#2411 adjust fallback and default suggestion for EDITS_API_URL
  example.env
  frontend/src/config/index.js
Labels: Component: Frontend, Status: Review needed, Type: Bug, Type: Regression
