Repository hotosm/tasking-manager, pull requests merged in 2020-09, with the labels that each got.

#3558 Handle country serialisation with inbuilt functions
  backend/models/postgis/project.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#3561 add ford and places presets to iD preset restrictions
  frontend/src/config/presets.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3543 Hide organisation top bar when iD editor is running
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/editor.js
  frontend/src/components/header/index.js
  frontend/src/components/taskSelection/action.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/orgTopBar.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3564 Custom OSM server and editor configuration, based on @majdal's work
  backend/config.py
  backend/models/postgis/project.py
  backend/models/postgis/user.py
  backend/services/users/osm_service.py
  docker-compose.override.yml
  docs/setup-docker.md
  example.env
  frontend/.env.expand
  frontend/src/components/editor.js
  frontend/src/components/header/messages.js
  frontend/src/components/user/content.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/utils/editorsList.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/editorsList.test.js
  scripts/docker/Dockerfile.backend
  scripts/docker/Dockerfile.frontend
Labels: Component: Backend, Component: Frontend, Component: Infrastructure

#3570 force nominatim to return results in English
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#3571 update translations, intl libs and react-tooltip
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, dependencies, javascript

#3573 v4.1.8 release
  backend/__init__.py
  backend/api/issues/resources.py
  backend/api/organisations/campaigns.py
  backend/api/projects/teams.py
  backend/config.py
  backend/models/postgis/organisation.py
  backend/models/postgis/project.py
  backend/models/postgis/task.py
  backend/models/postgis/user.py
  backend/services/mapping_service.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/organisation_service.py
  backend/services/project_service.py
  backend/services/team_service.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  docker-compose.override.yml
  docs/setup-docker.md
  example.env
  frontend/.env.expand
  frontend/package.json
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/editor.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/user/content.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/config/index.js
  frontend/src/config/presets.js
  frontend/src/config/tests/config.test.js
  frontend/src/hooks/UseFetch.js
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/orgTopBar.js
  frontend/src/utils/editorsList.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/editorsList.test.js
  frontend/yarn.lock
  requirements.txt
  scripts/aws/cloudformation/newrelic.ini
  scripts/aws/cloudformation/tasking-manager.template.js
  scripts/docker/Dockerfile.backend
  scripts/docker/Dockerfile.frontend
  tests/backend/unit/services/messaging/test_messaging_service.py
  tests/backend/unit/services/test_project_service.py
Labels: Component: Backend, Component: Frontend, Component: Infrastructure

#3580 add correct date filter to osmcha task link
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/hooks/UseFirstTaskActionDate.js
  frontend/src/hooks/UseGetContributors.js
  frontend/src/hooks/tests/UseFirstTaskActionDate.test.js
  frontend/src/hooks/tests/UseGetContributors.test.js
  frontend/src/network/tests/mockData/taskHistory.js
Labels: Component: Frontend, Difficulty: 5, Status: Review needed, Type: Bug, Type: Enhancement

#3581 update iD and formatjs libs
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3590 improve some metatags formatting
  frontend/public/index.html
  frontend/src/hooks/UseMetaTags.js
Labels: Component: Frontend, Type: Bug

#3591 improve configuration instructions on docs/setup-development.md
  docs/setup-development.md
Labels: Component: Infrastructure, Difficulty: 1, Type: Documentation, Type: Enhancement

#3596 fix bug in iD editor url on the task activity modal
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#3599 Add teams notifications filter
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3607 Apply subqueries to reduce response time in projects last activities …
  backend/models/dtos/mapping_dto.py
  backend/services/stats_service.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Bug

#3593 improve api docs of get notifications endpoint
  backend/api/notifications/resources.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Documentation, Type: Enhancement

#3614 Improve mention email content
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/message_alert_en.txt
Labels: Component: Backend, Difficulty: 3, Type: Enhancement

#3598 add notification status filter and use that query on the notification bell
  backend/api/notifications/resources.py
  backend/services/messaging/message_service.py
  frontend/src/components/header/notificationBell.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/hooks/UseInboxQueryAPI.js
  frontend/src/store/reducers/notifications.js
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug

#3619 don't send duplicated task comment messages
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Bug

#3620 update translations + intl-libs & remove expertMode requirement to set custom editor
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/views/projectEdit.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement, dependencies, javascript

#3622 v4.1.9 release
  backend/api/notifications/resources.py
  backend/models/dtos/mapping_dto.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/message_alert_en.txt
  backend/services/stats_service.py
  docs/setup-development.md
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/button.js
  frontend/src/components/formInputs.js
  frontend/src/components/header/notificationBell.js
  frontend/src/components/notifications/deleteNotificationsButton.js
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/components/notifications/tests/deleteNotificationsButton.test.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/tests/checkBox.test.js
  frontend/src/components/tests/selectAll.test.js
  frontend/src/hooks/UseFirstTaskActionDate.js
  frontend/src/hooks/UseGetContributors.js
  frontend/src/hooks/UseInboxQueryAPI.js
  frontend/src/hooks/UseMetaTags.js
  frontend/src/hooks/tests/UseFirstTaskActionDate.test.js
  frontend/src/hooks/tests/UseGetContributors.test.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/network/tests/mockData/taskHistory.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/store/reducers/notifications.js
  frontend/src/views/projectEdit.js
  frontend/yarn.lock
  requirements.txt
Labels: Component: Backend, Component: Frontend

#3655 add missing MAX_AOI_AREA env to frontend expand file
  example.env
  frontend/.env.expand
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend

#3600 Add sentry integration
  .circleci/config.yml
  backend/__init__.py
  backend/config.py
  example.env
  frontend/.env.expand
  frontend/package.json
  frontend/src/App.js
  frontend/src/config/index.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/views/fallback.js
  frontend/src/views/messages.js
  frontend/yarn.lock
  requirements.txt
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Backend, Component: Frontend, Component: Infrastructure, Difficulty: 3, Status: In Progress, Type: Enhancement
