Repository hotosm/tasking-manager, pull requests merged in 2020-06, with the labels that each got.

#3048 Implementation of project trim in the backend
  backend/__init__.py
  backend/api/projects/actions.py
  frontend/src/components/projectCreate/trimProject.js
Labels: Component: Backend, Component: Frontend, Priority: High, Status: Review needed, Type: Enhancement

#2973 Modify query to remove timestamps from simultaneously locked validation tasks
  backend/models/postgis/project.py
  backend/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Status: In Progress

#3055 Add Name tag to EC2 instances
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: Low, Status: Review needed

#3029 [WIP] Organisation filter on teams
  backend/api/teams/resources.py
  backend/services/team_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High

#3050 move frontend build to the end of frontend tests
  .circleci/config.yml
Labels: Component: Infrastructure, Status: Review needed, Type: Enhancement

#3071 revert iD version to 2.18.0-beta-1 and remove presets url param
  frontend/package.json
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/yarn.lock
Labels: Component: Editor, Component: Frontend, Priority: Critical, Type: Bug

#3072 Add placeholder while loading data for map/validation page
  frontend/src/components/taskSelection/action.js
  frontend/src/views/taskAction.js
Labels: Component: Editor, Component: Frontend, Type: Enhancement

#3068 improve computeCompleteness logic
  frontend/src/components/taskSelection/contributions.js
  frontend/src/hooks/UseProjectCompletenessCalc.js
  frontend/src/hooks/tests/UseProjectCompletenessCalc.test.js
  frontend/src/utils/projectCompletenessCalc.js
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/tests/projectCompletenessCalc.test.js
  frontend/src/utils/tests/taskAction.test.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3057 improve JOSM loading and validation flow
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/taskSelection/tests/lockedTasks.test.js
  frontend/src/locales/en.json
  frontend/src/utils/openEditor.js
  frontend/src/utils/testWithIntl.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3045 don't show edit project buttons on team membership page
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3074 4.0.9 deploy preparation
  .circleci/config.yml
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/views/taskAction.js
  frontend/yarn.lock
Labels: Component: Editor, Component: Frontend, Status: Review needed, Type: Bug, Type: Enhancement

#3053 remove entities_to_map field from project (#1440)
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
  migrations/versions/1579d24928e7_.py
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#3084 idPresets can be both a list and null, handle all cases corretly
  frontend/src/components/editor.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#3090 calculate completeness from tasks instead of consolidated project data
  frontend/src/components/projectDetail/index.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3083 add campaign & orgs filter on manage projects page
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/formInputs.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/projects/clearFilters.js
  frontend/src/components/projects/filterSelectFields.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/tagFilterPicker.js
  frontend/src/components/projects/tests/clearFilters.test.js
  frontend/src/components/projects/tests/mappingTypeFilterPicker.test.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3085 separate frontend and backend deploy jobs
  .circleci/config.yml
Labels: Component: Infrastructure, Priority: High, Status: Review needed

#3125 update translations and intl libs
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/he.json
  frontend/src/locales/ja.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Type: Enhancement, dependencies, javascript

#3129 fix typo in split message
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3130 Use a Link on the task locked on another project button
  frontend/src/components/taskSelection/lockedTasks.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3137 fix logic of MultiPolygon detection
  frontend/src/hooks/UseGeomContainsMultiplePolygons.js
  frontend/src/hooks/tests/UseGeomContainsMultiplePolygons.test.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3159 improve user tasks stats
  frontend/src/components/svgIcons/invalidated.js
  frontend/src/components/svgIcons/mapped.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/messages.js
  frontend/src/locales/en.json
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3162 replace React-Tooltip by title attribute on Contributors tab
  frontend/src/components/taskSelection/contributions.js
Labels: Component: Frontend, Type: Enhancement

#3158 Cleanup and simplify code
  appspec.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#3165 change order of task action evaluation
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Type: Bug

#3166 Remove duplicated tasks sql script
  scripts/database/remove_duplicated_tasks.sql
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#3172 Delete tasks as admin endpoint
  backend/__init__.py
  backend/api/tasks/resources.py
  backend/services/project_service.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Enhancement

#3117 load OSM data for multiple tasks in only one JOSM layer
  frontend/src/utils/openEditor.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3099 update email notifications texts
  backend/services/messaging/templates/invalidation_message_en.txt
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/message_alert_en.txt
  backend/services/messaging/templates/validation_message_en.txt
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#3181 paginator style was breaking with more than 3 digits
  frontend/src/components/paginator/index.js
  frontend/src/components/paginator/tests/index.test.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3169 Fix username popup in textarea component
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: Component: Frontend, Priority: Medium, Status: Review needed, Type: Bug

#3184 removed from countProject and countUser of /api/v2/interests
  backend/models/dtos/interests_dto.py
  backend/models/postgis/interests.py
  backend/services/interests_service.py
  backend/services/users/user_service.py
Labels: Component: Backend, Status: Review needed

#3185 make permission evaluation only after team request is finished
  frontend/src/components/taskSelection/index.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3180 show tasks filters and text search to all users
  frontend/package.json
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/taskFilter.test.js
  frontend/src/components/taskSelection/tests/taskStatus.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3179 remove project in get campaign
  backend/services/campaign_service.py
Labels: Component: Backend, Status: Review needed

#3202 Show priority areas on task selection page
  frontend/src/components/taskSelection/index.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3204 Increase project id font size on project cards
  frontend/src/components/projectcard/projectCard.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3201 Include all contributors for project_id/contributions
  backend/models/dtos/stats_dto.py
  backend/services/stats_service.py
  frontend/src/components/taskSelection/contributions.js
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Bug

#3150 Change from sql to sqlalchemy queries
  backend/models/postgis/message.py
  backend/models/postgis/project.py
  backend/models/postgis/task.py
Labels: Component: Backend, Status: Review needed

#3214 show number of task history actions on the sidebar of map/validate page
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3215 update translations and react-intl libs
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Enhancement, dependencies, javascript

#3208 loop compressed and array initialized
  backend/models/dtos/project_dto.py
  backend/models/postgis/task.py
Labels: Component: Backend, Status: Review needed

#3216 fix user links on notification messages
  backend/services/messaging/message_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#2816 Docker improvements
  Makefile
  docker-compose.override.yml
  docker-compose.yml
  scripts/docker/Dockerfile.backend
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: Component: Infrastructure, Difficulty: 5, Priority: Medium, Status: In Progress, Type: Enhancement

#3212 improve style of form on project and tasks comments
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3218 add lazy noload for relationship in project
  backend/models/postgis/project.py
  backend/models/postgis/task.py
Labels: Component: Backend, Status: In Progress

#3124 add manage projects list view
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/projectProgressBar.js
  frontend/src/components/projects/list.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/tests/toggles.test.js
  frontend/src/components/svgIcons/grip.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/manage.js
  frontend/src/components/svgIcons/map.js
  frontend/src/components/svgIcons/profilePicture.js
  frontend/src/locales/en.json
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/views/project.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3226 update French translation and react-intl libs
  frontend/package.json
  frontend/src/locales/fr.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3190 Include abbreviated response for teams and orgs endpoints
  backend/api/organisations/resources.py
  backend/api/teams/resources.py
  backend/models/dtos/organisation_dto.py
  backend/models/postgis/organisation.py
  backend/services/organisation_service.py
  backend/services/team_service.py
  frontend/src/components/formInputs.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/index.js
  frontend/src/hooks/UseTagAPI.js
  frontend/src/store/actions/auth.js
  frontend/src/views/organisations.js
  frontend/src/views/project.js
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Enhancement

#3192 Remove stats from user dto
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  frontend/src/views/welcome.js
Labels: Component: Backend, Difficulty: 3, Status: Review needed

#3229 reorganize views in App.js and rename projectcard to projectCard
  frontend/src/App.js
  frontend/src/components/homepage/featuredProjects.js
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/messages.js
  frontend/src/components/projectCard/nCardPlaceholder.js
  frontend/src/components/projectCard/priorityBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/projectProgressBar.js
  frontend/src/components/projectCard/tests/demoProjectCardsData.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/projectCard/tests/projectProgressBar.test.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projects/list.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/views/welcome.js
Labels: Component: Frontend, Type: Enhancement

#3119 Allow unique campaign names
  backend/api/campaigns/resources.py
  backend/models/postgis/campaign.py
  backend/models/postgis/organisation.py
  backend/services/campaign_service.py
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/locales/en.json
  frontend/src/views/campaigns.js
  frontend/src/views/messages.js
  migrations/versions/5053c01cb170_.py
Labels: Component: Backend, Component: Frontend, Status: Review needed
