Repository hotosm/tasking-manager, pull requests merged in 2020-05, with the labels that each got.

#2831 Review project summary dto fields
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Review needed, Type: Bug

#2805 Restrict access to project details for draft projects
  backend/models/postgis/project.py
Labels: Component: Backend, Status: Done, Type: Enhancement

#2837 Feature/infrastructure optimization tm4
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Status: Done

#2822 tasks selection page fixes
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2839 remove organization link from card + filter active members on team card
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2835 display: inline-block on status, priority and mappingLevel radio fields
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/metadataForm.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2838 remove allowed_users validation when setting a project as private
  backend/services/project_admin_service.py
  tests/backend/unit/services/test_project_admin_service.py
Labels: Component: Backend, Status: Done, Type: Bug

#2845 project_interests mapping update for just primary category
  manage.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Done

#2846 update links to learnosm.org and update languages
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/views/learn.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed

#2848 Fixes in project creation view
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Status: Review needed, Type: Bug

#2849 add video background to main banner section
  example.env
  frontend/.env.expand
  frontend/src/assets/img/banner_2500.jpg
  frontend/src/assets/img/banner_824.jpg
  frontend/src/assets/img/footer.jpg
  frontend/src/assets/img/hero_banner.jpg
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/homepage/jumbotron.js
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/hooks/UseWindowSize.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2851 Preserve taskgrid values on step return
  frontend/src/components/projectCreate/navButtons.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#2856 avoid intersection between org logo and priority box on project card
  frontend/src/components/projectcard/projectCard.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2858 fix license not accepted error verification on task lock
  frontend/src/components/taskSelection/lockedTasks.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2859 add video section to Learn to map
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/play.js
  frontend/src/components/svgIcons/resume.js
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Enhancement

#2854 Add TM Homepage Video URL
  .circleci/config.yml
Labels: Component: Infrastructure, Priority: Critical, Status: Review needed

#2862 Include private project filter correctly
  backend/services/project_search_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#2873 Handle license error with status code
  frontend/src/utils/promise.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#2866 set lang value on the root div
  frontend/public/index.html
  frontend/src/App.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2876 reset delete modal state on close
  frontend/src/components/deleteModal/index.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2883 add id field when updating user from the UpdateEmail modal
  frontend/src/components/header/updateEmail.js
Labels: Component: Frontend, Priority: High, Type: Bug

#2882 Release candidate 4.0.3
  backend/api/organisations/resources.py
  backend/api/teams/actions.py
  backend/api/users/actions.py
  backend/models/postgis/project.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  frontend/src/components/header/updateEmail.js
  frontend/src/components/user/forms.js
Labels: Priority: Critical, Status: Review needed

#2890 make learn page videos' iframe responsive + allow fullscreen
  frontend/src/assets/styles/_extra.scss
  frontend/src/views/learn.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2891 Replace <> within email contact form template
  backend/services/messaging/smtp_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Done, Type: Bug

#2892 Remove blank string when text_search field has spaces
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Type: Bug

#2888 Remove author filter from manage section on project search
  backend/services/project_search_service.py
Labels: Component: Backend, Priority: Critical, Status: Done

#2894 update flask-httpauth and fix some authentication problems
  backend/api/projects/resources.py
  backend/services/users/authentication_service.py
  frontend/src/views/projectEdit.js
  requirements.txt
Labels: Component: Backend, Status: Done, Type: Bug

#2895 update translations
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
Labels: Status: Review needed

#2896 Release candidate 4.0.4
  backend/api/projects/resources.py
  backend/services/messaging/smtp_service.py
  backend/services/project_search_service.py
  backend/services/users/authentication_service.py
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/src/utils/openEditor.js
  frontend/src/views/learn.js
  frontend/src/views/projectEdit.js
  requirements.txt
Labels: Status: Review needed

#2898 reset error message after save project succeeds
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2897 Updates to project edit permissions check
  backend/api/campaigns/resources.py
  backend/api/comments/resources.py
  backend/api/interests/resources.py
  backend/api/licenses/actions.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/organisations/campaigns.py
  backend/api/organisations/resources.py
  backend/api/projects/actions.py
  backend/api/projects/campaigns.py
  backend/api/projects/favorites.py
  backend/api/projects/resources.py
  backend/api/projects/teams.py
  backend/api/system/applications.py
  backend/api/system/image_upload.py
  backend/api/tasks/actions.py
  backend/api/tasks/resources.py
  backend/api/teams/actions.py
  backend/api/teams/resources.py
  backend/api/users/actions.py
  backend/api/users/resources.py
  backend/models/postgis/project.py
  backend/services/project_admin_service.py
  backend/services/users/authentication_service.py
Labels: Component: Backend, Priority: High, Status: Review needed

#2899 create img element only if organisationLogo is populated
  frontend/src/components/projectDetail/index.js
Labels: Component: Frontend, Status: Done, Status: Review needed, Type: Bug

#2915 remove debug message when token is not suplied
  backend/services/users/authentication_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#2932 Add authorisation to project get
  backend/api/projects/resources.py
Labels: Component: Backend, Status: Review needed

#2930 Send messages according to user settings
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed

#2935 remove is_undoable field from task dto + update task detail endpoint
  backend/api/tasks/resources.py
  backend/models/dtos/mapping_dto.py
  backend/services/mapping_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#2936 Additional indexes for performance heavy queries
  backend/models/postgis/task.py
  migrations/versions/55790eeec3bf_.py
Labels: Component: Backend, Priority: Critical

#2912 fix redirect on permission error modal + fix css class on project detail
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/permissionErrorModal.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2937 v4.0.5 release
  backend/__init__.py
  backend/api/annotations/resources.py
  backend/api/campaigns/resources.py
  backend/api/comments/resources.py
  backend/api/interests/resources.py
  backend/api/licenses/actions.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/organisations/campaigns.py
  backend/api/organisations/resources.py
  backend/api/projects/actions.py
  backend/api/projects/campaigns.py
  backend/api/projects/favorites.py
  backend/api/projects/resources.py
  backend/api/projects/teams.py
  backend/api/system/applications.py
  backend/api/system/image_upload.py
  backend/api/tasks/actions.py
  backend/api/tasks/resources.py
  backend/api/teams/actions.py
  backend/api/teams/resources.py
  backend/api/users/actions.py
  backend/api/users/resources.py
  backend/models/dtos/mapping_dto.py
  backend/models/postgis/project.py
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  backend/services/messaging/message_service.py
  backend/services/project_admin_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/permissionErrorModal.js
  frontend/src/views/projectEdit.js
  manage.py
  migrations/versions/55790eeec3bf_.py
  requirements.txt
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Status: Review needed

#2941 Include last updated field in locked tasks dto
  backend/models/postgis/task.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed

#2924 Validate user role to include private projects in explore page
  backend/api/projects/resources.py
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug

#2956 Set edit team permissions to team and organisation managers
  backend/api/projects/teams.py
  backend/api/teams/actions.py
  backend/api/teams/resources.py
  backend/services/team_service.py
  frontend/src/components/button.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/tests/button.test.js
  frontend/src/hooks/UsePermissions.js
  frontend/src/hooks/tests/UseEditProjectPermissions.test.js
  frontend/src/hooks/tests/UseEditTeamPermissions.test.js
  frontend/src/locales/en.json
  frontend/src/views/management.js
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
  frontend/src/views/teams.js
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#2947 Array of polygons support in project creation
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/trimProject.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed

#2944 remove old organisation_tag and campaign_tag functions
  backend/models/postgis/project.py
  backend/services/tags_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#2949 Project GET permissions for private & draft projects
  backend/api/projects/resources.py
  backend/models/postgis/project.py
  backend/services/messaging/chat_service.py
  backend/services/project_admin_service.py
  backend/services/project_service.py
  backend/services/team_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Status: Review needed

#2958 Avoid 500 error on Project GET unauthenticated requests
  backend/services/project_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#2933 add download aoi & task grid buttons to the project detail page
  frontend/src/components/projectDetail/downloadButtons.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2940 Notifications link fixes
  backend/services/messaging/message_service.py
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed

#2964 check if user is org manager on manage org page loading
  frontend/src/hooks/UsePermissions.js
  frontend/src/hooks/tests/UseEditOrgPermissions.test.js
  frontend/src/views/messages.js
  frontend/src/views/organisations.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2972 loads map/validation page inside a React Portal
  frontend/public/index.html
  frontend/src/components/editor.js
  frontend/src/components/portal.js
  frontend/src/components/taskSelection/action.js
Labels: Component: Editor, Component: Frontend, Status: Review needed, Type: Enhancement

#2967 allow project author to map and validate their projects
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/tests/permissionsToMap.test.js
  frontend/src/utils/tests/permissionsToValidate.test.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2965 avoid tasks selection page to crash the app while tasks are loading
  frontend/src/utils/projectCompletenessCalc.js
  frontend/src/utils/tests/projectCompletenessCalc.test.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2969 avoid errors when project and org names in english are capitalized
  frontend/src/components/projectDetail/header.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/teamsAndOrgs/organisations.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2971 update languages
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2984 Validate mapbox token on basemap change in project creation
  frontend/src/components/projectCreate/projectCreationMap.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Type: Bug

#2976 Project clone enhancements
  backend/models/postgis/project.py
  frontend/src/components/projectCreate/index.js
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed

#2986 improve compression of images
  frontend/src/assets/img/banner_2500.jpg
  frontend/src/assets/img/footer.jpg
  frontend/src/assets/img/organizations/msf.png
  frontend/src/assets/img/organizations/wb.png
  frontend/src/assets/img/testimonials/ifrc.jpg
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3008 Include page stringParam for task Contributions
  frontend/src/hooks/UseTaskContributionAPI.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Status: Review needed, Type: Bug

#2982 Rename gunicorn access log filename
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Difficulty: Easy, Status: Done

#2985 Restore members when user cancel editing
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2993 improve accessibility by using <main> element and aria-label attribute
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/header/burgerMenu.js
  frontend/src/components/header/notificationBell.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/projectcard/projectProgressBar.js
  frontend/src/components/svgIcons/facebook.js
  frontend/src/components/svgIcons/github.js
  frontend/src/components/svgIcons/instagram.js
  frontend/src/components/svgIcons/linkedin.js
  frontend/src/components/svgIcons/twitter.js
  frontend/src/components/svgIcons/twitterNoBg.js
  frontend/src/components/svgIcons/youtube.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Low, Status: Review needed, Type: Enhancement

#3011 Project permissions - GET/PATCH/POST
  backend/__init__.py
  backend/services/messaging/chat_service.py
  backend/services/project_service.py
Labels: Component: Backend, Difficulty: Hard, Priority: Critical, Status: Review needed, Type: Enhancement

#2987 avoid the app from crashing if locale is undefined or null
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3014 users allowed to validate a project can undo badimagery & finished tasks
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2989 allow users to select multiple tasks for validation
  frontend/src/components/header/index.js
  frontend/src/components/projectDetail/osmchaButton.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/link.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3000 update iD editor and fix problems with comments and imagery
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Editor, Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#3018 use imagery as content for JOSM changeset source
  frontend/src/utils/openEditor.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3016 Validate access to search to private projects to users that are membe…
  backend/services/project_search_service.py
  backend/services/project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug

#3024 improve responsiveness on tasks list and on project header
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/button.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/tests/button.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3026 fix error on View All project links on Management section
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/views/campaigns.js
  frontend/src/views/interests.js
  frontend/src/views/management.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3021 v4.0.8 release
  backend/__init__.py
  backend/models/postgis/project.py
  backend/services/messaging/chat_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  docs/assets/TM ERD.drawio
  docs/erd.md
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/img/banner_2500.jpg
  frontend/src/assets/img/footer.jpg
  frontend/src/assets/img/organizations/msf.png
  frontend/src/assets/img/organizations/wb.png
  frontend/src/assets/img/testimonials/ifrc.jpg
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/button.js
  frontend/src/components/editor.js
  frontend/src/components/header/burgerMenu.js
  frontend/src/components/header/index.js
  frontend/src/components/header/notificationBell.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/osmchaButton.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/projectcard/projectProgressBar.js
  frontend/src/components/svgIcons/facebook.js
  frontend/src/components/svgIcons/github.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/instagram.js
  frontend/src/components/svgIcons/link.js
  frontend/src/components/svgIcons/linkedin.js
  frontend/src/components/svgIcons/twitter.js
  frontend/src/components/svgIcons/twitterNoBg.js
  frontend/src/components/svgIcons/youtube.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/tests/button.test.js
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/locales/en.json
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/views/campaigns.js
  frontend/src/views/interests.js
  frontend/src/views/management.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Priority: Critical, Status: Review needed

#3001 use circleci/python:3.7-buster-node image and replace npm by yarn
  .circleci/config.yml
  .gitignore
  frontend/yarn.lock
Labels: Component: Frontend, Component: Infrastructure, Difficulty: Hard, Status: Review needed, Type: Enhancement, dependencies

#3031 update frontend dependencies and documentation
  docs/deploy-aws.md
  docs/frontend-development.md
  docs/review-pr.md
  docs/setup-development.md
  frontend/package.json
  frontend/yarn.lock
Labels: Type: Documentation, dependencies, javascript

#2995 Id presets feature
  backend/models/postgis/project.py
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/config/presets.js
  frontend/src/locales/en.json
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Editor, Component: Frontend, Difficulty: Medium, Priority: High, Status: In Progress, Type: Enhancement

#3049 update iD react-tooltip, dompurify, shpjs, prettier
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Enhancement, dependencies, javascript

#3058 update react-intl and related dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: dependencies, javascript

#3059 update translations + enable Italian + fix tx config
  .tx/config
  docs/contributing-translation.md
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/utils/internationalization.js
Labels: Component: Frontend, Type: Enhancement
