Repository hotosm/tasking-manager, pull requests merged in 2020-08, with the labels that each got.

#3398 Rewrite notifications and improve notification types settings
  backend/config.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/template_service.py
  backend/services/messaging/templates/email_verification_en.html
  backend/services/messaging/templates/email_verification_en.txt
  backend/services/messaging/templates/invalidation_message_en.txt
  backend/services/messaging/templates/level_upgrade_message_en.txt
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/message_alert_en.txt
  backend/services/messaging/templates/validation_message_en.txt
  backend/services/messaging/templates/welcome_message_en.txt
  backend/services/users/user_service.py
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/tests/completeness.test.js
  migrations/versions/0eeaa5aed53b_.py
  migrations/versions/22e7d7e0fa02_.py
  migrations/versions/6612e4d6524c_.py
  migrations/versions/772aff899389_.py
  migrations/versions/9712d29e24c8_.py
  migrations/versions/a8a7537985c0_.py
  tests/backend/unit/services/messaging/test_template_service.py
Labels: Component: Backend, Component: Frontend, Difficulty: 8

#3419 Open user link on the same tab, from Contributors tab
  frontend/src/components/taskSelection/contributions.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3422 Update translations to 4.1.3
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Enhancement

#3415 Change sql query to sqlAlchemy in user service
  backend/services/users/user_service.py
Labels: Component: Backend

#3364 improvement in project search
  backend/services/project_search_service.py
Labels: Component: Backend

#3347 Improving teams search queries
  backend/models/dtos/organisation_dto.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/team.py
  backend/services/project_service.py
  backend/services/team_service.py
Labels: Component: Backend

#3409 Upgrade get organisation teams and dto
  backend/models/dtos/organisation_dto.py
  backend/services/organisation_service.py
Labels: Component: Backend

#3401 delete notifications directly (don't show confirmation modal)
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/teamsAndOrgs/management.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3430 fix backend tag and add docker files to infra
  .github/labeler.yml
Labels: Component: Infrastructure

#3429 format 'From' header of emails
  backend/services/messaging/smtp_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#3396 handle plural case on "Validate selected tasks" button
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3439 Add scale to create project map
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
Labels: Component: Frontend

#3438 parse markdown content on task history
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3446 Complete markdown support in project chat
  backend/models/postgis/project_chat.py
  requirements.txt
Labels: Component: Backend, Type: Enhancement

#3447 enable drag & drop images on comments
  frontend/package.json
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/hashtagPaste.js
  frontend/src/components/comments/messages.js
  frontend/src/components/comments/tests/hashtagPaste.test.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/hooks/UseUploadImage.js
  frontend/src/hooks/tests/UseUploadImage.test.js
  frontend/src/locales/en.json
  frontend/src/utils/htmlFromMarkdown.js
  frontend/src/utils/tests/htmlFromMarkdown.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3441 Fix organisation update
  backend/models/dtos/organisation_dto.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#3448 Update documentation of image upload service and fix frontend variable check
  example.env
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: Component: Frontend, Component: Infrastructure, Type: Bug

#3451 format username link on email content
  backend/services/messaging/smtp_service.py
  backend/services/messaging/template_service.py
  tests/backend/unit/services/messaging/test_template_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#3450 Project search case sensitive
  backend/services/project_search_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#3454 update translations to 4.1.4 release
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend

#3456 fix username link on email
  backend/services/messaging/template_service.py
  tests/backend/unit/services/messaging/test_template_service.py
Labels: Component: Backend

#3458 fix duplicated email sending on project chat
  backend/services/messaging/message_service.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#3332 Asynchronous sending messages
  backend/api/projects/actions.py
  backend/api/utils.py
  backend/models/postgis/notification.py
  backend/services/messaging/message_service.py
Labels: Component: Backend

#3460 image upload should not be limited to org managers any more
  backend/api/system/image_upload.py
Labels: Component: Backend, Status: Review needed, Type: Bug

#3462 Revert "Asynchronous sending messages"
  backend/api/projects/actions.py
  backend/api/utils.py
  backend/models/postgis/notification.py
  backend/services/messaging/message_service.py
Labels: Component: Backend

#3463 v4.1.5 Release
  backend/api/system/image_upload.py
  frontend/package.json
  frontend/yarn.lock
  requirements.txt
Labels: Component: Backend, Component: Frontend

#3423 Improve in popular project query
  backend/models/postgis/project.py
  backend/services/stats_service.py
Labels: Component: Backend

#3474 update iso-countries-language and other frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3479 Filter and fetch team related
  backend/services/team_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#3482 Update translations and intl libs
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Frontend

#3481 v4.1.6 release
  backend/models/postgis/project.py
  backend/services/stats_service.py
  backend/services/team_service.py
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Backend, Component: Frontend

#3525 Improve responsiveness of homepage stats component
  frontend/src/components/homepage/stats.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3499 Add markdown support and dropzone to project edit forms
  backend/services/messaging/message_service.py
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/fileRejections.js
  frontend/src/components/comments/hashtagPaste.js
  frontend/src/components/comments/tests/fileRejections.test.js
  frontend/src/components/comments/tests/hashtagPaste.test.js
  frontend/src/components/comments/tests/uploadStatus.test.js
  frontend/src/components/comments/uploadStatus.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  tests/backend/unit/services/messaging/test_messaging_service.py
Labels: Component: Backend, Component: Frontend, Difficulty: 5, Status: Review needed, Type: Enhancement

#3513 add unavailable tasks filter to validators
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/taskFilter.test.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3528 Fix/autoscaling minimums
  .circleci/config.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#3516 Remove frontend views from backend server
  backend/__init__.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3534 Add title tag to project contributors list
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3104 Message all team members
  backend/__init__.py
  backend/api/projects/actions.py
  backend/api/teams/actions.py
  backend/models/dtos/message_dto.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/message.py
  backend/models/postgis/user.py
  backend/services/messaging/message_service.py
  backend/services/team_service.py
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/messages.js
  frontend/src/components/comments/status.js
  frontend/src/components/comments/tests/status.test.js
  frontend/src/components/notifications/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/teamsAndOrgs/messageMembers.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
  frontend/src/views/teams.js
  migrations/versions/ba778ef9c615_.py
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3535 add collapse / expand toggle to tasks map legend
  frontend/src/components/taskSelection/legend.js
  frontend/src/components/taskSelection/tests/legend.test.js
Labels: Component: Frontend, Type: Enhancement

#3536 update translations and react-intl libs
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement, dependencies, javascript

#3542 fix style of task history count
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3544 Add New Relic Agent
  scripts/aws/cloudformation/newrelic.ini
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#3545 disable network requests if the app is not visible to user
  frontend/src/components/taskSelection/index.js
  frontend/src/hooks/UseFetch.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement
