Repository hotosm/tasking-manager, pull requests merged in 2020-07, with the labels that each got.

#3241 remove omitMemberList query param from frontend
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/taskSelection/index.js
  frontend/src/store/actions/auth.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3047 Search projects without tables union for correct sorting
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: 5, Priority: High, Status: Review needed, Type: Bug

#3113 Include organizations and teams in user profile
  backend/api/organisations/resources.py
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
  frontend/src/components/user/messages.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/messages.js
  frontend/src/components/userDetail/userTeamsOrgs.js
  frontend/src/views/userDetail.js
Labels: Component: Backend, Component: Frontend, Difficulty: 5, Priority: High, Status: Done

#3248 start project stats view
  .circleci/config.yml
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/hooks/tests/UseProjectCompletenessCalc.test.js
  frontend/src/network/tests/mockData/contributions.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/network/tests/server.js
  frontend/src/setupTests.js
  frontend/src/utils/tests/snippets/tasksGeometry.js
  frontend/src/utils/tests/tasksGeometry.test.js
  frontend/src/views/projectStats.js
  frontend/src/views/tests/projectStats.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3249 update TeamBox css on permission error modal
  frontend/src/components/taskSelection/permissionErrorModal.js
Labels: Component: Frontend, Type: Bug

#3250 replace semiotic by react-chartjs-2
  frontend/package.json
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/taskLineGraphViz.js
  frontend/src/components/projectDetail/timeline.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/messages.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/components/userDetail/topProjects.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/contributions.js
  frontend/src/setupTests.js
  frontend/src/utils/formatChartJSData.js
  frontend/src/utils/tests/formatChartJSData.test.js
  frontend/src/views/contributions.js
  frontend/src/views/projectStats.js
  frontend/src/views/tests/projectStats.test.js
  frontend/src/views/userDetail.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement, dependencies, javascript

#3259 update react-intl libs
  frontend/package.json
  frontend/src/utils/internationalization.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3203 Clean up dependency list
  backend/__init__.py
  requirements.txt
Labels: Component: Backend, Difficulty: 5, Status: Review needed, Type: Enhancement

#3247 Validate not repeated projects in project search pagination
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: 1, Priority: Critical, Status: Review needed, Type: Bug

#3275 update imagery remote control command to JOSM
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3237 Improve responsiveness of project detail page
  frontend/src/components/projectDetail/index.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3278 align better the "Show map" toggle
  frontend/src/components/projects/myProjectNav.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#3260 Replace TM_EDITS_API_URL by TM_USER_STATS_API_URL and TM_HOMEPAGE_STATS_API_URL
  .circleci/config.yml
  example.env
  frontend/.env.expand
  frontend/src/components/homepage/stats.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Component: Infrastructure, Status: In Progress, Type: Enhancement

#3264 change from sql to sqlalchemy in users
  backend/models/postgis/user.py
Labels: Component: Backend

#3283 Set correct field for total mappers in homepage stats
  frontend/src/components/homepage/stats.js
Labels: Component: Frontend, Difficulty: 1, Priority: Critical, Type: Bug

#3287 delete unused network functions
  frontend/src/network/auth.js
  frontend/src/network/genericJSONRequest.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3285 remove authentication from /interests api docs
  backend/api/interests/resources.py
Labels: Component: Backend, Status: Review needed, Type: Documentation

#3288 Redirect to current notifications page when closing message
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/views/notifications.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3291 add 10 minutes cache to project stats
  backend/services/project_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#3290 Improve teams' notification messages
  backend/services/messaging/message_service.py
  backend/services/team_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#3274 Average time and estimated time to finish components
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  frontend/src/components/projectStats/completion.js
  frontend/src/components/projectStats/messages.js
  frontend/src/components/projectStats/taskStatus.js
  frontend/src/components/projectStats/tests/completion.test.js
  frontend/src/components/projectStats/tests/taskStats.test.js
  frontend/src/components/projectStats/timeStats.js
  frontend/src/components/statsCardContent.js
  frontend/src/components/tests/statsCardContent.test.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/hooks/UseProjectCompletenessCalc.js
  frontend/src/hooks/tests/UseProjectCompletenessCalc.test.js
  frontend/src/locales/en.json
  frontend/src/utils/formatChartJSData.js
  frontend/src/utils/tests/formatChartJSData.test.js
  frontend/src/utils/tests/snippets/tasksGeometry.js
  frontend/src/views/messages.js
  frontend/src/views/projectStats.js
Labels: Component: Backend, Component: Frontend, Difficulty: 13, Priority: High, Status: Review needed, Type: Enhancement

#3286 Make user details page components handle case where no data is present
  frontend/src/components/userDetail/barListChart.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/messages.js
  frontend/src/components/userDetail/tests/barListChart.test.js
  frontend/src/components/userDetail/tests/editByNumbers.test.js
  frontend/src/components/userDetail/tests/topCauses.test.js
  frontend/src/components/userDetail/tests/topProjects.test.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/components/userDetail/topProjects.js
  frontend/src/locales/en.json
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3298 use str.replace instead of replaceAll + update frontend libs
  frontend/package.json
  frontend/src/components/projectStats/timeStats.js
  frontend/yarn.lock
Labels: Component: Frontend, Type: Bug, dependencies, javascript

#3299 Compute time averages based on row count from database
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Type: Bug

#3300 Add links to project stats page
  frontend/src/components/dropdown.js
  frontend/src/components/projectDetail/downloadButtons.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/tests/dropdown.test.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3280 Sort task history applying most recent first
  backend/models/postgis/task.py
  tests/backend/unit/services/test_mapping_service.py
Labels: Component: Backend, Difficulty: 1, Priority: High, Status: Review needed, Type: Bug

#3303 update ES translations
  frontend/package.json
  frontend/src/locales/es.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3314 add project contributors stats
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/messages.js
  frontend/src/components/projectStats/timeStats.js
  frontend/src/locales/en.json
  frontend/src/views/projectStats.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3320 General translations update
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Enhancement

#3322 remove omitMemberList query param
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/taskSelection/index.js
  frontend/src/store/actions/auth.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#3297 show "Managed by me" and "Created by Me" filters on My Projects page
  frontend/src/components/projects/myProjectNav.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3232 disable backend tests on circle-ci
  .circleci/config.yml
Labels: Component: Backend, Component: Infrastructure, Status: Review needed, Type: Bug

#3337 Include manager list for manage orgs page
  frontend/src/views/organisations.js
Labels: Component: Frontend, Difficulty: 1, Priority: High, Status: Review needed

#3276 Validate not null geometry for project search and creation
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  frontend/src/components/projectCreate/review.js
  migrations/versions/2cfa981c70e7_.py
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Priority: High, Status: Review needed, Type: Bug

#3349 Fix query params in My Projects page
  frontend/src/components/projects/myProjectNav.js
Labels: Component: Frontend, Type: Bug

#3346 add "how to validate" video to learn page
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3348 Add link to stats on tasks selection page
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/osmchaButton.js
  frontend/src/components/projectDetail/tests/osmchaButton.test.js
  frontend/src/components/svgIcons/chart.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3351 fix zoom param in JOSM load imagery command
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Frontend, Type: Bug

#3362 update iD to 2.18.2
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement, dependencies, javascript

#3361 Store message in database even mention option is disabled
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: 1, Priority: High, Type: Bug

#3369 Improve notification settings messages + fix login redirect on settings
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
  frontend/src/views/settings.js
Labels: Component: Frontend, Type: Enhancement

#3376 remove unneeded message + fix validated all tasks error message
  frontend/src/components/contributions/messages.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Bug

#3386 update translations + libs + enable Greek language
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/utils/countries.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/tests/countries.test.js
  frontend/src/utils/tests/internationalization.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Type: Enhancement, dependencies, javascript

#3328 Add tests to contributors stats
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/tests/contributorsStats.test.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/hooks/UseContributorStats.js
  frontend/src/hooks/tests/UseContributorStats.test.js
  frontend/src/network/tests/mockData/contributions.js
  frontend/src/utils/date.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#3387 update iD editor version to 2.18.3
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3393 format timeline X axes according to time interval between dates
  frontend/src/components/projectDetail/timeline.js
  frontend/src/hooks/UseTimeDiff.js
  frontend/src/hooks/tests/UseTimeDiff.test.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3379 Notifications enhancements
  backend/__init__.py
  backend/api/notifications/resources.py
  backend/models/postgis/notification.py
  backend/services/notification_service.py
  frontend/src/components/header/notificationBell.js
Labels: Component: Backend, Component: Frontend, Difficulty: 5, Priority: High, Type: Bug

#3371 Validate each user settings before sending message
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Status: Review needed

#3395 handle plural case on notifications popup
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3399 update translations
  .tx/config
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend

#3413 update msw to 0.20.1
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend

#3414 update Persian and Hebrew translations
  frontend/src/locales/fa_IR.json
  frontend/src/locales/he.json
Labels: Component: Frontend, Type: Enhancement

#3410 Do not set geometry and centroid as None when cloning projects
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Bug

#3417 update iD version to 2.18.4
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3416 Translate Mapping Types labels and "Edits by number" chart legend
  frontend/src/components/mappingTypes.js
  frontend/src/components/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projects/mappingTypeFilterPicker.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/tests/mappingTypes.test.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement
