Repository hotosm/tasking-manager, pull requests merged in 2020-04, with the labels that each got.

#2616 fix migrations of organization and role migrations
  migrations/versions/14340f1e0d6b_.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Review needed

#2548 Consistency in table names
  backend/models/postgis/interests.py
  backend/models/postgis/licenses.py
  backend/models/postgis/project.py
  backend/models/postgis/user.py
  backend/services/interests_service.py
  backend/services/project_search_service.py
  backend/services/users/user_service.py
  migrations/versions/2d6a7ad4e1eb_.py
Labels: Component: Backend, Status: Done, Type: Enhancement

#2617 update iD and enable localization
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2621 Separate the views and filter options of My projects and Manage projects
  frontend/src/App.js
  frontend/src/components/header/index.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/messages.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/views/management.js
  frontend/src/views/project.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2620 Change icon for user locked task
  backend/models/postgis/task.py
  frontend/src/assets/img/red-lock.png
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Done, Type: Enhancement

#2624 Validate messageType before rendering
  frontend/src/components/notifications/notificationCard.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#2623 Hotfix/2247 notifications page
  backend/services/messaging/message_service.py
  frontend/src/components/deleteModal/index.js
Labels: Component: Backend, Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Bug

#2629 Text area to fetch users component
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed

#2647 Clear filter user button
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  frontend/src/views/users.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2628 Optimize autoscaling for TM4
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: Critical, Status: Review needed

#2648 Add token to organization select API request
  frontend/src/components/formInputs.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#2646 use the same svg drawing for both red and black lock icons
  frontend/src/assets/img/red-lock.png
  frontend/src/assets/img/red_lock.png
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2636 Improvements to my contributions page
  backend/services/users/user_service.py
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Bug, Type: Enhancement

#2626 add changeset comment information on project instructions
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/changesetComment.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Status: Done, Type: Enhancement

#2637 Set title tag in all views
  frontend/public/index.html
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/index.js
  frontend/src/hooks/UseMetaTags.js
  frontend/src/hooks/tests/UseMetaTags.test.js
  frontend/src/views/about.js
  frontend/src/views/campaigns.js
  frontend/src/views/contact.js
  frontend/src/views/contributions.js
  frontend/src/views/interests.js
  frontend/src/views/learn.js
  frontend/src/views/login.js
  frontend/src/views/management.js
  frontend/src/views/notifications.js
  frontend/src/views/organisations.js
  frontend/src/views/project.js
  frontend/src/views/projectEdit.js
  frontend/src/views/settings.js
  frontend/src/views/swagger.js
  frontend/src/views/teams.js
  frontend/src/views/userDetail.js
  frontend/src/views/users.js
  frontend/src/views/verifyEmail.js
  frontend/src/views/welcome.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2657 delete redundant column in users table
  backend/models/postgis/user.py
Labels: Component: Backend, Difficulty: Easy, Status: In Progress, Type: Bug

#2354 Add react matomo components
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/assets/styles/index.scss
  frontend/src/components/banner/index.js
  frontend/src/components/banner/messages.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Priority: Medium, Status: In Progress

#2661 fix organisation fetch on the project management
  frontend/src/components/formInputs.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/projectEdit/teamSelect.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2632 Country names
  frontend/package.json
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/taskResults.js
  frontend/src/components/formInputs.js
  frontend/src/components/messages.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/tagFilterPicker.js
  frontend/src/components/user/forms.js
  frontend/src/hooks/UseTagAPI.js
  frontend/src/locales/en.json
  frontend/src/utils/countries.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/tests/countries.test.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2644 Project and Team doesn't update some values
  frontend/src/components/projectEdit/metadataForm.js
Labels: Component: Backend, Priority: High, Status: Done, Type: Bug

#2666 Fix managedBy, createdBy and status project filters
  backend/services/project_search_service.py
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/statusBox.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/hooks/tests/UseMetaTags.test.js
  frontend/src/views/project.js
Labels: Component: Frontend, Status: Review needed, Type: Bug, Type: Enhancement

#2649 Changes to the project detail page style
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2689 Only fetch project campaigns when the campaign name is available
  frontend/src/views/campaigns.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2694 redirect to tasks page if user doesn't have a locked task
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2695 Fix privacy policy link variable name
  .circleci/config.yml
Labels: Component: Infrastructure, Priority: High, Status: Done, Type: Bug

#2684 Enhancements in project creation
  frontend/package.json
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Done, Type: Bug

#2668 Campaign tag migration
  migrations/versions/c40e1fdf6b70_.py
  migrations/versions/f86698c827cc_.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Enhancement

#2696 avoid editorRef redefinition
  frontend/src/components/editor.js
Labels: Component: Frontend, Priority: High, Status: Review needed, Type: Bug

#2697 Mention user in validation textarea
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done

#2703 Remove authorization header from being forwarded to react app
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: High, Status: Review needed

#2698 Licenses frontend
  backend/models/postgis/licenses.py
  frontend/src/App.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/licenses/index.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/svgIcons/copyright.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/menu.test.js
  frontend/src/locales/en.json
  frontend/src/views/licenses.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Type: Enhancement

#2705 Disable validation task lock across projects
  backend/services/project_service.py
  backend/services/validator_service.py
Labels: Component: Backend, Difficulty: Easy, Status: Review needed, Type: Bug

#2707 update user level and organizations messages
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/messages.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/settings.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2602 Fix resume mapping and task status updation.
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend

#2685 fix team to update the organisation
  backend/api/teams/resources.py
  backend/models/postgis/organisation.py
  backend/services/organisation_service.py
Labels: Component: Backend, Priority: Medium, Status: Done

#2720 use the same alignment on management & explore project pages
  frontend/src/components/interests/index.js
  frontend/src/components/licenses/index.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/views/project.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2723 Preserve comment when switching task in mapping/validation views
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Bug

#2732 Send contact-admin mail without user login validation
  frontend/src/views/contact.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2731 Search project by id in notifications search box
  backend/api/notifications/resources.py
  backend/services/messaging/message_service.py
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/hooks/UseInboxQueryAPI.js
Labels: Component: Backend, Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Bug

#2730 Preserve status when switching task in mapping/validation views
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Priority: Medium, Status: Done, Type: Enhancement

#2627 Update team fetch results based on user authentication
  backend/api/teams/resources.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/statuses.py
  backend/services/team_service.py
  frontend/package.json
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/priorityBox.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/hooks/UsePermissions.js
  frontend/src/hooks/tests/UsePermissions.test.js
  frontend/src/locales/en.json
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/tests/userPermissions.test.js
  frontend/src/utils/userPermissions.js
  frontend/src/views/management.js
  frontend/src/views/messages.js
  frontend/src/views/organisations.js
  frontend/src/views/projectEdit.js
Labels: Component: Backend, Difficulty: Medium, Status: Done

#2724 update style in edit project
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2733 Change date message on My Tasks cards
  frontend/src/components/contributions/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2734 Add indicators for required fields in personal information
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2736 Return always members list when listing teams
  backend/models/dtos/team_dto.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Status: Done, Type: Bug

#2699 Notifications layout fixes
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Medium, Priority: Medium, Status: Done, Type: Enhancement

#2745 Amend development setup docs for API
  docs/setup-development.md
Labels: Status: Done, Type: Enhancement

#2746 Show missing required fields error when updating project
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Bug

#2752 separate map/validate sidebar components in a different file
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2753 Add loading indicator while user data is being fetched
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/preloader.js
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/loader.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/loader.js
  frontend/src/views/authorized.js
  frontend/src/views/login.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2739 improve TeamCards and UserAvatar style
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/user/avatar.js
  frontend/src/components/user/tests/userAvatar.test.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2756 add quickstart guide to welcome screen
  frontend/src/components/user/content.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Enhancement

#2761 fix exhibition of user avatar on header
  frontend/src/components/header/index.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2759 add perTaskInstructions + handle better multiple tasks validation
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2768 Logos change
  frontend/src/assets/img/organizations/aws.png
  frontend/src/assets/img/organizations/bing.png
  frontend/src/assets/img/organizations/brc.png
  frontend/src/assets/img/organizations/gfdrr.png
  frontend/src/assets/img/organizations/unicef.png
  frontend/src/assets/img/organizations/wb.png
  frontend/src/assets/styles/_organizations.scss
  frontend/src/components/homepage/whoIsMapping.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Bug

#2758 add migration instructions for TM3 to TM4
  README.md
  docs/migration.md
  docs/setup-live.md
Labels: Priority: High, Status: Done, Type: Documentation

#2772 fix project detail page redirect
  frontend/src/App.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2776 make all links in markdown content open in a new window
  frontend/src/utils/htmlFromMarkdown.js
Labels: Component: Frontend, Status: Done, Status: Review needed, Type: Enhancement

#2777 force 'who is mapping' title to be only one line
  frontend/src/components/homepage/whoIsMapping.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2775 Handle projects with no mapped task
  backend/api/tasks/resources.py
  backend/models/postgis/task.py
Labels: Component: Backend, Difficulty: Easy, Status: Review needed

#2771 Organisation logo upload
  backend/__init__.py
  backend/api/system/image_upload.py
  backend/config.py
  example.env
  frontend/.env.expand
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/views/organisations.js
Labels: Component: Backend, Component: Frontend, Status: Done, Status: Review needed, Type: Enhancement

#2785 change text and avoid project card's edit/tasks link to be multiple line
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2767 Message notification with message id
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  frontend/src/views/authorized.js
  frontend/src/views/notifications.js
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#2784 allow admin, org managers & PMs to review validated and badimagery tasks
  backend/services/mapping_service.py
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
  frontend/src/utils/openEditor.js
  tests/backend/unit/services/test_mapping_service.py
Labels: Component: Frontend, Priority: Critical, Status: Done, Type: Enhancement

#2773 Add infrastructure documentation
  docs/assets/Tasking Manager.svg
  docs/deploy-aws.md
  scripts/aws/lambda/AuthenticatedMaintenancePage/index.js
  scripts/aws/lambda/MaintenancePage/index.js
Labels: Component: Infrastructure, Priority: High, Status: Done, Status: In Progress

#2782 Improve project search backend
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Bug

#2766 Frontend details
  backend/models/postgis/campaign.py
  backend/models/postgis/organisation.py
  backend/models/postgis/project.py
  frontend/src/assets/img/info-logo.svg
  frontend/src/assets/img/learn-osm-logo.svg
  frontend/src/components/footer.js
  frontend/src/components/messages.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/user/forms.js
  frontend/src/locales/en.json
  frontend/src/views/home.js
  frontend/src/views/learn.js
  frontend/src/views/messages.js
  frontend/src/views/quickstart.js
Labels: Component: Backend, Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Done, Type: Enhancement

#2774 Fix daily and absolute count values on contribution endpoint
  backend/services/project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed

#2796 fix team editing error
  backend/api/teams/resources.py
  frontend/src/components/formInputs.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/teams.js
Labels: Component: Backend, Component: Frontend, Status: Done, Type: Bug

#2781 Run auto unlock operation as background thread
  backend/__init__.py
  manage.py
  requirements.txt
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Done

#2797 handle better image upload errors
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Bug

#2799 Improve learn page responsiveness
  frontend/src/views/learn.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2803 change revert status confirmation message
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2811 Fix add to favorites button visibility
  frontend/src/components/projectDetail/projectDetailFooter.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2807 Generate tasks layer without user logged in
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Review needed, Type: Bug

#2806 improve task selection page data fetching
  frontend/src/components/projectDetail/header.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
  frontend/src/views/taskSelection.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2815 update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2814 make Ukrainian language available
  frontend/src/utils/internationalization.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2819 update mapbox-gl and final-form libs
  frontend/package.json
Labels: Component: Frontend, dependencies, javascript

#2821 avoid calling the api without the project id + improve isOrgManager var
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/management.js
  frontend/src/views/organisations.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2826 import stringify from query-string and update use-query-params lib
  frontend/package.json
  frontend/src/hooks/UseInboxQueryAPI.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/hooks/UseTaskContributionAPI.js
Labels: Component: Frontend, dependencies, javascript

#2828 update intl, tooltip, placeholder, semiotic, node-sass & humanize-duration
  frontend/package.json
Labels: Component: Frontend, dependencies, javascript

#2830 use external hosted swagger instead of swagger-ui as react dependency
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/footer.js
  frontend/src/views/swagger.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2820 don't show the loader when user is updating their settings
  frontend/src/components/user/forms.js
  frontend/src/store/actions/auth.js
Labels: Component: Frontend, Status: Done, Type: Bug

#2823 improvements to teams page
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Frontend, Status: Done, Type: Enhancement
