Repository hotosm/tasking-manager, pull requests merged in 2020-03, with the labels that each got.

#2424 Fix problems in locales
  frontend/src/components/header/index.js
  frontend/src/components/localeSelect.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/tests/internationalization.test.js
Labels: Component: Frontend, Priority: High, Status: Review needed, Type: Bug

#2415 Fix automatic editor selection
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2414 fix login redirect on task selection and map/validate pages
  frontend/src/views/login.js
  frontend/src/views/taskAction.js
  frontend/src/views/taskSelection.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2425 Send whole featurecollection json instead of array of features in set…
  frontend/src/components/projectCreate/setAOI.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Status: Review needed, Type: Bug

#2428 fix locale code on fetch commands and enable new languages
  frontend/src/hooks/UseFetch.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/internationalization.js
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2427 Support for multipolygon aoi for tasks clip/trim
  frontend/src/components/projectCreate/trimProject.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Status: Done, Type: Bug

#2429 Compute task area in task grid
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: Priority: High, Status: Done, Type: Bug

#2430 switch the taskList page to always show the selected task
  frontend/src/components/projectCreate/review.js
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2435 fix bug in project edit form fields and improve style
  frontend/src/components/projectEdit/inputLocale.js
Labels: Component: Frontend, Priority: Critical, Status: Done, Type: Bug

#2436 update frontend dependencies + replace complete turf package by modular ones
  frontend/package.json
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/trimProject.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/utils/tasksGeometry.js
  frontend/src/utils/tests/osmchaLink.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement, javascript

#2440 add missing @turf/area import
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: Component: Frontend, Priority: Critical, Status: Review needed, Type: Bug

#2439 Remove additional string for date in notification card mini
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Bug

#2442 Preserve taskgrid on basemap change
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/trimProject.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug, Type: Enhancement

#2450 show modal if user doesn't have permission to work on a project
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/permissionErrorModal.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/components/taskSelection/tests/permissionErrorModal.test.js
  frontend/src/locales/en.json
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/tests/permissionErrorMsg.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2455 multiple tasks validation + show all tasks on map/validate page
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Status: Review needed, Type: Bug, Type: Enhancement

#2459 Transform zoom level value to integer in project creation view
  frontend/src/components/projectCreate/setAOI.js
Labels: Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Review needed, Type: Bug

#2476 Custom Editor Frontend
  frontend/src/components/projectEdit/customEditorForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Priority: High, Status: Review needed

#2069 Upgrade localization in frontend to React-Intl v4
  frontend/package.json
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/homepage/tests/featuredProjects.test.js
  frontend/src/components/homepage/tests/stats.test.js
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/projectDetail/bigProjectTeaser.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectcard/dueDateBox.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projectcard/tests/dueDateBox.test.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/user/content.js
  frontend/src/index.js
  frontend/src/utils/formattedRelativeTime.js
  frontend/src/utils/internationalization.js
Labels: Component: Frontend, Status: Done, Type: Enhancement, dependencies

#2410 Update user role and mapping level in frontend
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/users.js
  server/services/users/user_service.py
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed

#2480 Fix documentation links
  docs/contributing-code.md
  docs/contributing.md
  docs/customize.md
  docs/migration-from-tm2.md
  docs/setup-development.md
  docs/setup-docker.md
Labels: Difficulty: Easy, Priority: Medium, Status: Done, Type: Enhancement

#2486 remove "How to contribute" section and change "Read more" logic
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectDetail/showReadMoreButton.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2452 make TaskList search case insensitive and add last action users to results
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2494 Enhanced sign up process
  docker-compose.yml
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/signUp.js
  frontend/src/config/index.js
  frontend/src/locales/en.json
  server/api/users/actions.py
  server/services/users/user_service.py
Labels: Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Done, Type: Enhancement

#2492 Accomodate org manager permissions
  server/api/campaigns/resources.py
  server/api/comments/resources.py
  server/api/interests/resources.py
  server/api/organisations/resources.py
  server/api/projects/actions.py
  server/api/projects/campaigns.py
  server/api/projects/resources.py
  server/api/projects/teams.py
  server/api/tasks/actions.py
  server/models/postgis/project.py
  server/services/messaging/chat_service.py
  server/services/project_admin_service.py
  server/services/project_service.py
  tests/server/unit/services/test_project_admin_service.py
Labels: Component: Backend, Difficulty: Medium, Status: Review needed

#2482 handle invalid project id values on UserTasks view's query param
  backend/api/users/tasks.py
Labels: Component: Backend, Status: Done, Type: Bug

#2453 fix typo "get_all_users_not_pagainated" -> "get_all_users_not_paginated"
  backend/models/postgis/user.py
  backend/services/users/user_service.py
Labels: Component: Backend, Status: Done, Type: Enhancement

#2495 Separate frontend to s3 host for tm4 deployment
  .circleci/config.yml
  example.env
  frontend/.env.expand
  frontend/src/config/index.js
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Frontend, Component: Infrastructure, Priority: Critical, Status: Review needed, Type: Enhancement

#2503 replace quote and images
  frontend/src/assets/img/children.jpg
  frontend/src/assets/img/footer.jpg
  frontend/src/assets/img/testimonials/ifrc.jpg
  frontend/src/assets/img/testimonials/michaelyani.jpg
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/_testimonials.scss
  frontend/src/components/homepage/testimonials/index.js
  frontend/src/components/homepage/testimonials/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2438 Edit aoi in project creation view
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/setAOI.js
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug

#2519 Enhanced about page
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/locales/en.json
  frontend/src/views/about.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Enhancement

#2481 Replace old buildings video on Learn page with new one
  .circleci/config.yml
  client/app/learn/learn.html
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2521 Validate environment variables for smtp service
  backend/services/messaging/smtp_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Type: Bug

#2522 Include Log level environment variable in cf template and circleci
  .circleci/config.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: Critical, Status: Review needed, Type: Enhancement

#2525 Upgrade dependencies - pyyaml and bleach
  requirements.txt
Labels: Component: Backend, Status: Review needed, Type: Enhancement, dependencies, python

#2530 Update org fetch parameters while invocation
  backend/services/messaging/chat_service.py
  backend/services/project_admin_service.py
Labels: Component: Backend, Priority: Critical

#2523 Add route53 record to configure cloudfront distro for frontend deployment
  .circleci/config.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: Critical, Status: In Progress, Type: Enhancement

#2528 Improve "contributing" docs and fix typos
  docs/contributing-code.md
  docs/contributing-translation.md
  docs/contributing.md
Labels: Priority: Low, Status: Done, Type: Documentation

#2055 Import project categories command
  backend/models/dtos/mapping_dto.py
  backend/models/postgis/interests.py
  backend/services/interests_service.py
  backend/services/project_service.py
  backend/services/users/user_service.py
  manage.py
Labels: Component: Backend, Difficulty: Medium, Priority: Medium, Status: Done, Type: Enhancement

#2538 fix manage.py imports
  manage.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#2512 Embed id editor within Tasking Manager
  .gitignore
  frontend/.env.expand
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/static/favicon.ico
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/editor.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/sidebar.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
  frontend/src/serviceWorker.js
  frontend/src/store/actions/auth.js
  frontend/src/store/index.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/login.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/views/authorized.js
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Difficulty: Hard, Priority: Critical, Status: In Progress

#2541 udpate react, react-scripts, react-intl and react-tooltip libs
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/components/svgIcons/sidebar.js
Labels: Component: Frontend, dependencies, javascript

#2543 move swagger-ui to react-app and try to solve production build problem
  backend/__init__.py
  backend/config.py
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/serviceWorker.js
  frontend/src/views/swagger.js
Labels: Component: Frontend, Status: Review needed, Type: Bug, Type: Enhancement

#2542 [WIP] Enhanced learn page
  frontend/src/assets/img/icons/community.jpg
  frontend/src/assets/img/icons/emergency-mapping.jpg
  frontend/src/assets/img/icons/map_step_osm.png
  frontend/src/assets/img/icons/map_step_select_project.png
  frontend/src/assets/img/icons/map_step_select_task.png
  frontend/src/assets/img/icons/technical.jpg
  frontend/src/assets/img/icons/validate_step_build.png
  frontend/src/assets/img/icons/validate_step_collaborate.png
  frontend/src/assets/img/icons/validate_step_identify.png
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Done, Type: Enhancement

#2545 Fix font size; Moved Floss information into two rows
  frontend/src/views/about.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2546 update iD version to fix cursor css problems
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Status: Done, Type: Bug, Type: Enhancement

#2484 Fix contributor count on project sort
  backend/models/postgis/project.py
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Review needed, Type: Bug

#2552 fix typo on isOrgManager check
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Frontend, Priority: High, Status: Review needed, Type: Bug

#2549 delete old swagger html which is not needed anymore
  frontend/public/swagger.html
Labels: Component: Backend, Component: Frontend, Status: Done, Type: Enhancement

#2547 Remove manager details for anonymous org fetch
  backend/api/organisations/resources.py
  backend/services/organisation_service.py
Labels: Component: Backend, Status: Done, Type: Bug

#2576 Return 0 when database query is None for unread message count
  backend/models/postgis/notification.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Bug

#2579 Include option to resend email verification in user settings
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2570 fix initial height of id-container div to solve scrolling problems
  frontend/src/components/editor.js
Labels: Component: Frontend, Status: Review needed, Type: Bug

#2544 Add 404 handling to /projects/{id} and /users/{id}
  frontend/src/views/project.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Priority: Low, Status: Done, Type: Bug

#2509 Fix mixed up filter query parameters.
  frontend/src/components/notifications/notificationOrderBy.js
Labels: Component: Frontend, Priority: Medium, Status: Done, Type: Bug

#2562 Fix task lock API errors
  backend/__init__.py
  backend/api/projects/favorites.py
  backend/api/tasks/resources.py
  backend/api/users/resources.py
Labels: Component: Backend, Priority: Critical, Status: Done

#2586 update iD version in order to solve upload button error
  frontend/package.json
Labels: Component: Frontend, Status: Review needed, dependencies, javascript

#2584 Set environment variable for contact form
  .circleci/config.yml
  backend/api/system/general.py
  backend/config.py
  backend/services/messaging/smtp_service.py
  example.env
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Backend, Priority: High, Status: In Progress, Type: Enhancement

#2589 include task counter in sidebar
  frontend/src/components/projectcard/dueDateBox.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Review needed, Type: Enhancement

#2595 Redirect to project page after user sign-up
  frontend/src/components/header/signUp.js
Labels: Component: Frontend, Difficulty: Easy, Priority: High, Status: Review needed, Type: Enhancement

#2597 update locked tasks endpoints
  frontend/src/hooks/UseLockedTasks.js
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2606 Improvements to install scripts
  example.env
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
Labels: Priority: Medium, Status: Review needed, Type: Documentation, Type: Enhancement

#2607 Remove ttl cache in project chat service
  backend/services/messaging/chat_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Type: Bug

#2604 update iD version, final-form, mapbox-gl and some other frontend libs
  frontend/package.json
Labels: Component: Frontend, Status: Review needed, dependencies, javascript

#2605 hide "improve this map" on map attribution
  frontend/src/assets/styles/_extra.scss
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#2596 Fix projects favorited by me filter
  backend/services/project_search_service.py
Labels: Component: Backend, Status: In Progress, Type: Bug

#2599 Org manager permissions across endpoints
  backend/api/projects/resources.py
  backend/api/teams/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/organisation.py
  backend/services/organisation_service.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: Critical, Status: Review needed, Type: Enhancement

#2610 Set display geom to true for upload aoi
  frontend/src/assets/img/red_lock.png
  frontend/src/components/projectCreate/setAOI.js
Labels: Component: Frontend, Difficulty: Easy, Priority: Critical, Status: Review needed, Type: Bug

#2588 fix permissions to organisation managers
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/organisations.test.js
  frontend/src/locales/en.json
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2613 Trim non-polygon tasks
  frontend/src/components/projectCreate/trimProject.js
Labels: Component: Frontend, Difficulty: Medium, Priority: Critical, Status: Done, Type: Bug

#2600 change elements of map/validate sidebar
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/questionCircle.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Status: Done, Type: Enhancement

#2518 Migrate Validator/PM role
  backend/api/projects/resources.py
  backend/api/users/resources.py
  backend/models/dtos/project_dto.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/organisation.py
  backend/models/postgis/statuses.py
  backend/models/postgis/user.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/utils/tests/userPermissions.test.js
  migrations/versions/14340f1e0d6b_.py
  tests/backend/unit/services/test_project_admin_service.py
  tests/backend/unit/services/test_project_service.py
  tests/backend/unit/services/test_validator_service.py
  tests/backend/unit/services/users/test_user_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Status: Done

#2260 Import existing organisation information
  backend/models/postgis/project.py
  migrations/versions/7bbc01082457_.py
Labels: Component: Backend, Difficulty: Medium, Status: Done, Type: Enhancement
