Repository hotosm/tasking-manager, pull requests merged in 2020-11, with the labels that each got.

#3804 Update Python and Node versions on instructions
  docs/setup-development.md
Labels: Difficulty: 1, Status: Review needed, Type: Documentation

#3807 Update iD to 2.19.4
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#3812 Handle NoneType condition check during project update
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#3811 Metadata copy for project clone
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 5, Status: Done, Type: Bug

#3813 Improve style of Review step of project creation
  frontend/src/components/projectCreate/review.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3816 Update translations
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3817 v4.2.0 Release
  .circleci/config.yml
  backend/models/postgis/project.py
  backend/models/postgis/statuses.py
  backend/models/postgis/utils.py
  backend/services/grid/split_service.py
  backend/services/mapping_service.py
  backend/services/messaging/message_service.py
  backend/services/organisation_service.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/team_service.py
  backend/services/users/authentication_service.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
  docker-compose.yml
  docs/setup-development.md
  frontend/package.json
  frontend/src/components/editor.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/store/actions/editor.js
  frontend/src/store/reducers/editor.js
  frontend/src/store/reducers/index.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/yarn.lock
  requirements.txt
Labels: Component: Backend, Component: Frontend, Component: Infrastructure

#3820 Comment out the iD Editor URL on example.env
  example.env
Labels: Component: Backend, Difficulty: 1, Status: Review needed

#3819 Improve BASE and API URL instructions + delete TM_FRONTEND_BASE_URL
  backend/config.py
  example.env
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3831 Remove weekend restriction on Project's DueDate
  frontend/src/components/projectEdit/descriptionForm.js
Labels: Component: Frontend, Difficulty: 1, Status: Done, Type: Bug

#3835 Update mapbox-gl-draw to 1.2.0
  frontend/package.json
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement, dependencies, javascript

#3838 Replace injectIntl by useIntl + replace props by explicit object
  frontend/package.json
  frontend/src/components/header/index.js
  frontend/src/components/licenses/index.js
  frontend/src/components/localeSelect.js
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/edits.js
  frontend/src/components/projectStats/taskStatus.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/contributions.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3848 Refactor validation and mapping permission blocks
  frontend/src/components/permissionsBlock.js
  frontend/src/components/projectEdit/permissionsForm.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3857 Update Ukranian translation + react-intl libs
  frontend/package.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3853 Refactor name and URL CustomEditorForm inputs
  frontend/src/components/projectEdit/customEditorForm.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3862 Spelling corrections
  frontend/src/components/comments/messages.js
  frontend/src/components/comments/tests/status.test.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projects/messages.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/tests/menu.test.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  scripts/database/export-import-projects/README
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Bug, Type: Translations

#3863 Load perTaskInstructions in the user locale
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug

#3866 Style project edit section checkbox inputs
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/settingsForm.js
Labels: Component: Frontend, Status: Done, Type: Enhancement

#3869 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3883 Improve padding and colour of homepage components
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/components/homepage/stats.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#3867 Remove unneeded if statement + update docstrings
  backend/models/postgis/task.py
  backend/services/mapping_service.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3884 Show featured projects section only if there are projects + improve style
  frontend/src/components/homepage/featuredProjects.js
  frontend/src/components/homepage/tests/featuredProjects.test.js
  frontend/src/network/tests/mockData/featuredProjects.js
  frontend/src/network/tests/server-handlers.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#3885 Update translations and react-intl libs
  frontend/package.json
  frontend/src/locales/de.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Status: Done, Type: Translations

#3886 Improve notification popup position
  frontend/src/components/header/notificationBell.js
  frontend/src/hooks/UseOnResize.js
  frontend/src/views/notifications.js
Labels: Component: Frontend, Difficulty: 5, Type: Enhancement

#3898 update caniuse-lite
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, dependencies, javascript

#3856 Remove nodejs from cfn template
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Difficulty: 1, Status: Review needed, Type: Enhancement

#3899 Add staging-test branch to staging deployment
  .circleci/config.yml
Labels: Component: Infrastructure

#3903 Update labels for time statistics
  frontend/src/components/projectStats/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Priority: Low, Status: Review needed, Type: Enhancement

#3905 Rewrite texts to follow HOT communication guidelines
  frontend/src/components/homepage/messages.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3920 Slugify image filenames to upload
  frontend/package.json
  frontend/src/hooks/UseUploadImage.js
  frontend/src/utils/slugifyFileName.js
  frontend/src/utils/tests/slugifyFileName.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Priority: High, Status: Review needed, Type: Bug

#3923 Update translations and intl libs
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Type: Translations

#3925 Indonesia language review
  frontend/src/locales/id.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3926 Improve learn page
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#3930 Remove redundant LearnStruct component
  frontend/src/views/learn.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#3933 Replace png images on Learn page by svg + improve text
  frontend/src/assets/img/icons/map_step_osm.png
  frontend/src/assets/img/icons/map_step_select_project.png
  frontend/src/assets/img/icons/map_step_select_task.png
  frontend/src/assets/img/icons/validate_step_build.png
  frontend/src/assets/img/icons/validate_step_collaborate.png
  frontend/src/assets/img/icons/validate_step_identify.png
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/manage.js
  frontend/src/components/svgIcons/polygon.js
  frontend/src/components/svgIcons/selectProject.js
  frontend/src/components/svgIcons/selectTask.js
  frontend/src/components/svgIcons/validation.js
  frontend/src/components/svgIcons/worldNodes.js
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: 5, Status: Review needed, Type: Enhancement

#3893 Refactor Campaign Service and Campaign static methods
  backend/api/organisations/campaigns.py
  backend/models/postgis/campaign.py
  backend/services/campaign_service.py
  backend/services/organisation_service.py
Labels: Component: Backend, Status: Review needed

#3938 Improve api-docs and fix flake8 errors
  backend/api/organisations/campaigns.py
  backend/api/organisations/resources.py
  backend/api/system/general.py
  backend/services/campaign_service.py
Labels: Component: Backend, Difficulty: 1, Type: Bug

#3861 Remove enabled field from CustomEditor model
  backend/models/dtos/project_dto.py
  backend/models/postgis/custom_editors.py
  frontend/src/components/projectEdit/customEditorForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
  frontend/src/utils/tests/editorsList.test.js
  migrations/versions/14842761654b_.py
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Status: Review needed
