Repository hotosm/tasking-manager, pull requests merged in 2020-10, with the labels that each got.

#3153 Add project due date
  frontend/package.json
  frontend/src/assets/styles/_datepicker.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
  frontend/src/views/projectEdit.js
  frontend/yarn.lock
Labels: Component: Backend, Component: Frontend, Component: Infrastructure, Status: In Progress, Type: Enhancement

#3674 Remove duplicated user block check
  backend/api/comments/resources.py
  backend/services/messaging/chat_service.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3661 Fix matomo site id loading in html file + add example.env docs
  example.env
  frontend/public/index.html
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Bug

#3660 Improve sign up validation and error display
  frontend/src/components/header/signUp.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3684 refactor user forms components + validate social networks fields
  frontend/src/assets/img/organizations/missingmaps.png
  frontend/src/components/formInputs.js
  frontend/src/components/header/updateEmail.js
  frontend/src/components/projectEdit/projectInterests.js
  frontend/src/components/user/completeness.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/forms/customField.js
  frontend/src/components/user/forms/interests.js
  frontend/src/components/user/forms/notifications.js
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/forms/settings.js
  frontend/src/components/user/forms/switchToggleField.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/tests/completeness.test.js
  frontend/src/components/user/tests/topBar.test.js
  frontend/src/components/user/topBar.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/locales/en.json
  frontend/src/views/settings.js
  frontend/src/views/welcome.js
Labels: Component: Frontend, Difficulty: 5, Type: Enhancement

#3689 fix linkedin url
  frontend/src/components/userDetail/headerProfile.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#3690 Add mapped features stats to project stats
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/edits.js
  frontend/src/components/projectStats/messages.js
  frontend/src/components/projectStats/tests/edits.test.js
  frontend/src/components/projectStats/timeStats.js
  frontend/src/components/svgIcons/index.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/projects.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/projectStats.js
  frontend/src/views/tests/projectStats.test.js
Labels: Component: Frontend

#3678 Refactor QuestionsAndComments component
  backend/services/messaging/chat_service.py
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug, Type: Enhancement

#3685 Handle null campaigns in PATCH
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 5, Priority: High, Status: Done, python

#3695 Update translations and react-intl libs
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend

#3696 use https on osm-stats url
  frontend/src/views/projectStats.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#3699 Adjust section background color
  frontend/src/components/projectStats/edits.js
  frontend/src/views/projectStats.js
Labels: Component: Frontend, Type: Enhancement

#3705 Refactor contribution timeline component
  frontend/src/components/userDetail/contributionTimeline.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend

#3652 Add timezone setting
  scripts/docker/Dockerfile.backend
Labels: Component: Infrastructure

#3644 Fix Traefik version to 2.3
  docker-compose.yml
Labels: Component: Infrastructure

#3643 Fix Traefik rule for backend
  docker-compose.yml
Labels: Component: Infrastructure

#3648 Improve dockerfiles
  scripts/docker/Dockerfile.backend
  scripts/docker/Dockerfile.frontend
Labels: Component: Infrastructure

#3724 replace "task" by "project" on admin user docs
  docs/setup-development.md
Labels: Difficulty: 1, Type: Documentation

#3727 Add new validation training video and change the "map buildings" one
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#3722 Improve user tasks card and add tests
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/tests/elementsMapped.test.js
Labels: Component: Frontend, Type: Enhancement

#3745 Fix error when loading map on user detail page
  frontend/src/components/userDetail/countriesMapped.js
Labels: Component: Frontend

#3706 Improve style of TaskActivity modal
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3734 Add back iDPreset param to external custom editor url
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#3744 Style emails, set ORG_LOGO var, remove non used image assets
  backend/__init__.py
  backend/config.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/template_service.py
  backend/services/messaging/templates/base.html
  backend/services/messaging/templates/email_verification_en.html
  backend/services/messaging/templates/email_verification_en.txt
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/message_alert_en.txt
  backend/services/users/user_service.py
  example.env
  frontend/src/assets/img/hot-logo-square.svg
  frontend/src/assets/img/hot-logo.png
  frontend/src/assets/img/hot-logo.svg
  frontend/src/assets/img/hot-tm-logo.svg
  frontend/src/assets/img/logo-square.png
  frontend/src/components/notifications/notificationCard.js
Labels: Component: Backend, Component: Frontend, Difficulty: 13, Status: Review needed, Type: Enhancement

#3747 Customize email content title based on messages type
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/message_alert_en.html
Labels: Component: Backend, Difficulty: 3, Type: Enhancement

#3749 Run MessageService.send_message_after_chat on a separate thread
  backend/services/messaging/chat_service.py
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3750 Update translations and react-intl libs
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#3692 Simplify CircleCI config and fix sentry envvar setting
  .circleci/config.yml
Labels: Component: Infrastructure

#3767 Restart containers automatically
  docker-compose.yml
Labels: Component: Infrastructure, Difficulty: 1

#3768 Add drag and drop support on project creation
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/locales/en.json
Labels: Component: Frontend

#3773 Add explicit arguments to TaskSelectionFooter component
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#3794 Update translations and intl libs
  frontend/package.json
  frontend/src/components/projectCreate/messages.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3795 Update iD to 2.19.3
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend

#3771 Return 403 error instead of 500 on USER_ALREADY_HAS_TASK_LOCKED case
  backend/models/postgis/statuses.py
  backend/services/mapping_service.py
  backend/services/validator_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Bug

#3772 Replace logger.error by .debug on Exceptions
  backend/models/postgis/utils.py
  backend/services/grid/split_service.py
  backend/services/mapping_service.py
  backend/services/messaging/message_service.py
  backend/services/organisation_service.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/team_service.py
  backend/services/users/authentication_service.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Enhancement

#3770 Set default mapping/validation editors as iD, JOSM and custom
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement
