Repository hotosm/tasking-manager, pull requests merged in 2020-12, with the labels that each got.

#3941 Simplify leading, trailing slash strip
  backend/__init__.py
Labels: Component: Backend, Priority: Low, Status: Review needed, Type: Enhancement

#3943 Refactor UserAvatar with hooks and improve background-image values
  frontend/src/components/user/avatar.js
  frontend/src/components/user/tests/userAvatar.test.js
  frontend/src/hooks/UseAvatarStyle.js
  frontend/src/hooks/UseAvatarText.js
  frontend/src/hooks/tests/UseAvatarStyle.test.js
  frontend/src/hooks/tests/UseAvatarText.test.js
Labels: Component: Frontend, Difficulty: 5, Priority: High, Type: Bug, Type: Enhancement

#3952 Allow empty SMTP credentials
  backend/services/messaging/smtp_service.py
Labels: Component: Backend, Status: Done, Type: Enhancement

#3953 Update translations
  frontend/src/locales/cs.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/sv.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3950 Use .contains instead of .ilike on user filtering
  backend/models/postgis/user.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3963 Polyfill Intl.Locale when needed
  frontend/package.json
  frontend/src/utils/internationalization.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Bug

#3967 update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend

#3711 Improve DueDateBox and add it to ProjectCard component on manage projects
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 5, Status: Done, Type: Enhancement

#3971 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend

#3968 Give more visibility to our code of conduct
  README.md
Labels: Type: Documentation

#3859 Add action filters for list projects endpoint
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/services/project_search_service.py
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/tests/projectsActionFilter.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/testWithIntl.js
Labels: Component: Backend, Component: Frontend, Difficulty: 13, Priority: High, Status: Review needed, Type: Enhancement

#3954 Request users to view task history comments
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/info.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/hooks/tests/useReadTaskComments.test.js
  frontend/src/hooks/useReadTaskComments.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/taskHistory.js
Labels: Component: Frontend

#3669 Update existing country names for projects
  migrations/versions/7937dae319b5_.py
Labels: Component: Backend, Difficulty: 5, Priority: Medium, Status: Review needed, Type: Enhancement, python

#3978 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#3974 Update NoGeometries signature
  backend/api/projects/resources.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#3979 Remove DueDateBox from ProjectCard + remove unneeded import on test file
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/userDetail/tests/elementsMapped.test.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#3983 Hide social network logos if the url is not defined with an env var
  frontend/src/components/footer.js
  frontend/src/config/index.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#3980 v4.2.3 release
  README.md
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/user.py
  backend/services/messaging/smtp_service.py
  backend/services/project_search_service.py
  frontend/package.json
  frontend/src/components/footer.js
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/tests/projectsActionFilter.test.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/info.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/userDetail/tests/elementsMapped.test.js
  frontend/src/config/index.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/hooks/tests/useReadTaskComments.test.js
  frontend/src/hooks/useReadTaskComments.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/network/tests/mockData/taskHistory.js
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/testWithIntl.js
  frontend/yarn.lock
  migrations/versions/7937dae319b5_.py
Labels: Component: Backend, Component: Frontend

#3992 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#3975 Remove redundant lines
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#4002 Fix imagery loading in internal iD and className attrib on mapping sidebar
  frontend/src/components/editor.js
  frontend/src/components/taskSelection/actionSidebars.js
Labels: Component: Frontend, Difficulty: 3, Priority: High, Type: Bug

#4008 Add missing blue-dark css class
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4007 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#4017 Add link to sustainability model FAQs
  frontend/src/locales/en.json
  frontend/src/views/about.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4019 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#4021 Improve division on My Tasks card
  frontend/src/components/contributions/taskCard.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#4020 Order task history by action_date instead of id
  backend/models/postgis/task.py
Labels: Component: Backend, Difficulty: 1, Priority: High, Status: Review needed, Type: Bug
