Repository hotosm/tasking-manager, pull requests merged in 2020-01, with the labels that each got.

#2107 LockedTasksDTO additional fields
  server/models/dtos/project_dto.py
  server/models/postgis/task.py
  server/services/project_service.py
  tests/server/unit/services/test_project_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Project: redesign

#2101 Fix popular projects endpoint
  server/services/project_search_service.py
  server/services/stats_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High, Project: redesign

#2087 Fix project search
  frontend/src/hooks/UseProjectsQueryAPI.js
  server/api/projects/resources.py
  server/models/postgis/project.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Project: redesign, Status: Review needed, Type: Bug

#2091 Add redux provider to taskSelection/footer tests
  frontend/src/components/taskSelection/tests/footer.js
  frontend/src/components/taskSelection/tests/footer.test.js
Labels: Component: Frontend, Difficulty: Easy, Status: Review needed, Type: Enhancement

#2082 add functions to open JOSM, Potlatch2 and FieldPapers editors
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/checkCircle.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/setAOI.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/tests/checkCircle.test.js
  frontend/src/hooks/UseLockedTasks.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/random.js
  frontend/src/utils/tasksGeometry.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/utils/tests/random.test.js
  frontend/src/utils/tests/tasksGeometry.test.js
  frontend/src/views/messages.js
  frontend/src/views/project.js
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2123 Fix TasksMap zoom
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2104 [WIP] Fix 500 errors on recommended projects
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Project: redesign

#2085 My Contributions page basics
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/contributions/taskBodyCard.js
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/contributions/taskResults.js
  frontend/src/components/menu.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/svgIcons/clock.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/tests/menu.test.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/views/contributions.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2126 Projects mapped filter under project search
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Project: redesign

#2136 Style enhancements
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/header/index.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2143 Fix task comments endpoint
  server/services/mapping_service.py
  server/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High

#2135 Task activity modal
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  server/api/comments/resources.py
  server/models/dtos/mapping_dto.py
  server/models/postgis/task.py
  server/services/messaging/message_service.py
  tests/server/unit/services/messaging/test_messaging_service.py
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2149 activate "join the community" buttons on homepage
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/header/index.js
  frontend/src/components/homepage/jumbotron.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2125 add team membership view
  frontend/src/App.js
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/views/campaigns.js
  frontend/src/views/messages.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
  server/models/postgis/team.py
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2146 change user's default_editor values
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/config/index.js
  frontend/src/utils/editorsList.js
  frontend/src/utils/openEditor.js
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: In Progress, Type: Enhancement

#2147 Questions and comments component
  frontend/package.json
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  server/api/comments/resources.py
  server/models/dtos/message_dto.py
  server/models/postgis/project_chat.py
  server/services/messaging/chat_service.py
Labels: Component: Frontend, Difficulty: Medium, Priority: High, Project: redesign, Status: Review needed

#2133 fix contributed project search on frontend
  frontend/src/components/projects/myProjectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/views/project.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2090 Create Contact frontend
  frontend/src/App.js
  frontend/src/components/homepage/contactForm.js
  frontend/src/components/homepage/messages.js
  frontend/src/views/contact.js
  frontend/src/views/messages.js
  server/__init__.py
  server/api/system/general.py
  server/services/messaging/smtp_service.py
Labels: Priority: High, Project: redesign, Status: Review needed, Type: Enhancement

#2152 improve my-contributions and task activity modal
  frontend/src/App.js
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/contributions/taskBodyCard.js
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/views/contributions.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2081 Improve reliability of task splitting
  server/services/grid/split_service.py
  tests/server/helpers/test_files/non_square_split_results.json
  tests/server/integration/services/grid/test_split_service.py
Labels: Component: Backend, Priority: Critical, Status: Review needed, Type: Bug

#2153 Read registered user email from localstorage
  frontend/src/components/header/signUp.js
  frontend/src/utils/login.js
  server/api/system/authentication.py
  server/services/users/authentication_service.py
  server/services/users/user_service.py
  tests/server/integration/services/users/test_authentication_service.py
  tests/server/integration/services/users/test_user_service.py
  tests/server/unit/services/users/test_authentication_service.py
Labels: Component: Backend, Component: Frontend, Difficulty: Hard, Difficulty: Medium, Priority: High, Status: Review needed

#2155 fix API_DOCS_URL config
  server/config.py
Labels: Component: Backend, Type: Bug

#2097 add project status label when draft or archived
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2148 Local tests fixes
  server/models/postgis/task.py
  server/services/messaging/message_service.py
  server/services/users/authentication_service.py
  tests/server/integration/models/postgis/test_project.py
  tests/server/unit/services/users/test_authentication_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Bug

#2156 don't fetch user profile endpoint from UserAvatar
  frontend/src/components/user/avatar.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Regression

#2145 Favorite project filter
  frontend/src/components/projects/myProjectNav.js
  server/api/projects/resources.py
  server/models/dtos/project_dto.py
  server/services/project_search_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High

#2163 only verify if project is favorited if the user is logged in
  frontend/src/hooks/UseFavProjectAPI.js
Labels: Component: Frontend, Project: redesign, Status: Needs implementation, Type: Bug

#2185 update js dependencies + add coverage command
  .gitignore
  frontend/package.json
Labels: dependencies, javascript

#2059 Remove december banner
  client/assets/styles/sass/_mobile.scss
  client/index.html
  client/locale/en.json
  devops/database/duplicate-priority-area-cleanup.sql
Labels: Component: Frontend, Difficulty: Easy, Priority: Medium, Status: Review needed, Type: Enhancement

#2061 Replace screenshot with TM4
  README.md
  docs/assets/project-view.jpg
  docs/setup-docker.md
  screenshot.jpg
Labels: Difficulty: Easy, Priority: Low, Status: In Progress, Type: Enhancement

#2182 assure OSM attribution is always visible
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2188 hide completion instructions if height is less than 930 px
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2181 Better alignment of Comment form textarea and button
  frontend/src/components/taskSelection/taskActivity.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#2189 handle locked tasks in project on task selection page
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Enhancement

#2192 Improve reliability of task splitting (TM4)
  server/services/grid/split_service.py
  tests/server/helpers/test_files/non_square_split_results.json
  tests/server/integration/services/grid/test_split_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#2203 Upgrade python packages
  requirements.txt
  server/api/users/actions.py
  server/api/utils.py
  server/models/postgis/message.py
  server/models/postgis/project_info.py
  server/services/mapping_issues_service.py
  server/services/project_admin_service.py
  server/services/project_search_service.py
  server/services/users/authentication_service.py
  server/services/validator_service.py
  tests/server/unit/models/postgis/test_task.py
Labels: Component: Backend, Priority: High, Status: Review needed, dependencies

#2201 set map locale according to user preferences
  frontend/package.json
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/store/index.js
  frontend/src/utils/tasksGeometry.js
  frontend/src/utils/tests/tasksGeometry.test.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2205 improve user settings and welcome pages
  frontend/src/components/header/index.js
  frontend/src/components/localeSelect.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms.js
  frontend/src/components/user/messages.js
  frontend/src/views/settings.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2208 update react-scripts + fix license value
  frontend/package.json
Labels: dependencies, javascript

#2206 Update locked tasks DTO field check
  server/services/project_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: Critical, Project: redesign

#2186 fix featured api url / solves #2157
  frontend/src/hooks/UseFeaturedProjectAPI.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2219 handle more permissions and error cases on task selection page
  frontend/src/components/header/messages.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/locales/en.json
  frontend/src/utils/projectPermissions.js
  frontend/src/utils/tests/taskAction.test.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2202 fix dropdown content position
  frontend/src/components/dropdown.js
  frontend/src/components/tests/dropdown.test.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2223 improve team members management
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/utils/teamMembersDiff.js
  frontend/src/utils/tests/teamMembersDiff.test.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug, Type: Enhancement

#2228 add more tests to frontend/src/utils functions
  frontend/src/utils/tests/commaArrayParam.test.js
  frontend/src/utils/tests/remapParamsToAPI.test.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2220 List tasks for the signed in user
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectcard/messages.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/locales/en.json
  frontend/src/views/contributions.js
  server/api/users/tasks.py
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Project: redesign, Status: In Progress, Type: Enhancement

#2230 Fix task action page and modify user tasks endpoint
  frontend/src/hooks/UseTaskContributionAPI.js
  server/api/users/tasks.py
  server/models/dtos/user_dto.py
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Bug

#2233 Improvements to open editor functionality
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Project: redesign, Status: In Progress, Type: Enhancement

#2232 Update English textstrings
  frontend/src/components/header/messages.js
  frontend/src/components/homepage/messages.js
  frontend/src/components/homepage/testimonials/messages.js
  frontend/src/components/messages.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
Labels: Component: Frontend, Difficulty: Easy, Status: Review needed, Type: Enhancement

#2225 Countries most contributed endpoint
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Status: Review needed, Type: Enhancement

#2235 Useful error messages for task handling
  server/api/tasks/actions.py
  server/services/validator_service.py
  tests/server/unit/services/test_validator_service.py
Labels: Component: Backend, Difficulty: Easy, Project: redesign

#2187 Assure centroid data is present before adding map layer
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2238 Reopen editor + customEditor
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/utils/editorsList.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/editorsList.test.js
  frontend/src/utils/tests/openEditor.test.js
  server/models/dtos/project_dto.py
  server/models/postgis/project.py
Labels: Component: Backend, Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2239 fix problems on the style of the project detail page
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/projectDetailFooter.js
  frontend/src/components/projectDetail/showReadMoreButton.js
  frontend/src/views/project.js
Labels: Component: Frontend, Project: redesign, Status: Done, Type: Bug, Type: Enhancement

#2249 Include user contributions by day in statistics endpoint
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Easy, Priority: High

#2093 serialize team dto for project update
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/formInputs.js
  frontend/src/components/messages.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/messages.js
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
  server/__init__.py
  server/api/projects/actions.py
  server/api/projects/teams.py
  server/models/dtos/project_dto.py
  server/models/dtos/team_dto.py
  server/models/postgis/project.py
  server/services/team_service.py
Labels: Component: Backend, Priority: High, Status: Review needed, Type: Bug

#2252 fix project progress bar tooltip onHover
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectcard/projectProgressBar.js
  frontend/src/components/projectcard/tests/projectProgressBar.test.js
  frontend/src/hooks/UseHover.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Bug

#2237 Projects contributed by interest backend
  server/models/dtos/interests_dto.py
  server/models/dtos/user_dto.py
  server/services/users/user_service.py
Labels: Component: Backend, Difficulty: Medium, Priority: High, Project: redesign

#2259 improve responsiveness of explore projects page
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/projectNav.js
Labels: Component: Frontend, Difficulty: Easy, Project: redesign, Status: Review needed, Type: Enhancement

#2248 improve my projects page
  frontend/src/App.test.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/header/index.js
  frontend/src/components/projectcard/messages.js
  frontend/src/components/projectcard/projectCard.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/utils/tests/userPermissions.test.js
  frontend/src/utils/userPermissions.js
  frontend/src/views/project.js
Labels: Component: Frontend, Project: redesign, Status: Review needed, Type: Enhancement

#2271 User filter on role and level
  server/models/dtos/user_dto.py
  server/models/postgis/user.py
Labels: Component: Backend, Difficulty: Medium

#2272 Include additional fields in user contributions of projects endpoint
  server/models/dtos/stats_dto.py
  server/services/stats_service.py
Labels: Component: Backend, Priority: High, Project: redesign, Status: Review needed

#2273 Remove comment status from latest activity
  server/services/stats_service.py
Labels: Component: Backend, Difficulty: Easy, Type: Bug
