Repository hotosm/tasking-manager, pull requests merged in 2021-01, with the labels that each got.

#4013 Allow validators to view the history of multiple tasks
  frontend/package.json
  frontend/src/assets/styles/_accordion.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/multipleTaskHistories.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/tests/multipleTaskHistories.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#4018 Avoid error on project list + set action=any on My / Manage projects pages
  backend/models/dtos/project_dto.py
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/views/management.js
  frontend/src/views/welcome.js
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Bug

#4036 Ensure mappers receive notifications on project chat
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/message_alert_en.html
Labels: Component: Backend, Difficulty: 5, Priority: High, Status: Review needed, Type: Bug

#4042 Add "Resources" tab for validation
  frontend/src/components/button.js
  frontend/src/components/projectDetail/osmchaButton.js
  frontend/src/components/projectDetail/tests/osmchaButton.test.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionTabsNav.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/resourcesTab.js
  frontend/src/components/taskSelection/tests/actionsTabsNav.test.js
  frontend/src/components/taskSelection/tests/resourcesTab.test.js
  frontend/src/hooks/UseTaskBbox.js
  frontend/src/hooks/tests/UseTaskBbox.test.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/taskGrid.js
Labels: Component: Frontend, Difficulty: 8, Status: Review needed, Type: Enhancement

#4050 Add condition for custom URL in cfn template
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#4051 Improve Relative Time expressions
  frontend/package.json
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/user/content.js
  frontend/src/utils/formattedRelativeTime.js
  frontend/src/utils/selectUnit.js
  frontend/src/utils/tests/formattedRelativeTime.test.js
  frontend/src/utils/tests/selectUnit.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Priority: High, Status: Review needed, Type: Bug

#4057 Makes customization of images on header and homepage easier
  example.env
  frontend/.env.expand
  frontend/src/components/header/index.js
  frontend/src/components/homepage/jumbotron.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#4056 Replace node-sass by the new sass
  .circleci/config.yml
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Component: Infrastructure, dependencies, javascript

#4073 Update react, react-dom and react-test-renderer to 17.0.1
  frontend/package.json
  frontend/src/components/interests/index.js
  frontend/src/components/licenses/index.js
  frontend/src/components/taskSelection/tests/resourcesTab.test.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4093 Add section on README about instances running TM4
  README.md
Labels: Difficulty: 1, Status: Review needed, Type: Documentation

#4097 Add organisation stats endpoint
  backend/__init__.py
  backend/api/organisations/resources.py
  backend/models/dtos/stats_dto.py
  backend/services/organisation_service.py
  backend/services/stats_service.py
Labels: Component: Backend, Difficulty: 3, Priority: High, Status: Review needed, Type: Enhancement

#4104 Update all Turf js libraries
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4105 Hide the option to mark task as BADIMAGERY if it was previously reverted
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/hooks/UseDisableBadImagery.js
  frontend/src/hooks/UseReadTaskComments.js
  frontend/src/hooks/tests/UseDisableBadImagery.test.js
  frontend/src/hooks/tests/UseReadTaskComments.test.js
  frontend/src/network/tests/mockData/taskHistory.js
Labels: Component: Frontend, Difficulty: 3

#4095 Make organisation a required field for each project
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_admin_service.py
  frontend/src/components/formInputs.js
  frontend/src/components/projectCreate/alertMessage.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/tests/organisationSelect.test.js
  frontend/src/locales/en.json
  frontend/src/views/projectEdit.js
Labels: Component: Backend, Component: Frontend, Status: Review needed, Type: Enhancement

#4055 Forbid to split tasks with zoom level >=18 or area < 25k m²
  backend/models/postgis/utils.py
  backend/services/grid/split_service.py
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4112 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement, Type: Translations, dependencies, javascript

#4113 Initialize TaskHistory with activities filter disabled to all users
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/multipleTaskHistories.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/tests/multipleTaskHistories.test.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4115 Remove trailing spaces on changeset comment when cloning project
  backend/models/postgis/project.py
Labels: Component: Backend

#4116 Add comments to some hooks and remove console.log statements
  frontend/src/hooks/UseDisableBadImagery.js
  frontend/src/hooks/UseReadTaskComments.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4129 Update @turfjs libs to 6.3.0, sass and translations
  frontend/package.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#4133 Exclude tasks that are not on mapped status, when locking tasks of a user
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Bug

#4135 Update react-scripts to 4.0.1
  .gitignore
  frontend/package.json
  frontend/src/components/mappingTypes.js
  frontend/src/components/projectStats/tests/contributorsStats.test.js
  frontend/src/components/projects/mappingTypeFilterPicker.js
  frontend/src/components/taskSelection/action.js
  frontend/src/views/tests/projectStats.test.js
Labels: Component: Frontend, Difficulty: 5, Type: Enhancement, dependencies, javascript

#4136 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#4146 Add g++ to fix pip build errors
  Dockerfile
  scripts/docker/Dockerfile.backend
Labels: Component: Backend, Component: Infrastructure, Priority: High

#3993 Change email sending to only message verified users
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  tests/backend/integration/services/messaging/test_smtp_service.py
Labels: Component: Backend

#4155 Fix "Resume task" button link and add tests to TaskCard component
  frontend/package.json
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/contributions/tests/taskCard.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug

#4158 Add slack username to user page
  frontend/src/assets/img/icons/slack.png
  frontend/src/components/userDetail/headerProfile.js
Labels: Component: Frontend, Difficulty: 3, Status: Done, Type: Enhancement
