Repository hotosm/tasking-manager, pull requests merged in 2021-06, with the labels that each got.

#4694 Refactor Project Edit actions in order to use only the useAsync state
  frontend/src/components/projectEdit/actionsForm.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4711 Improve status filters by making them independent on manage project page
  frontend/src/components/projects/myProjectNav.js
Labels: Component: Frontend

#4704 Autofill OSM usernames in comment box based on project contributors
  frontend/src/components/comments/commentInput.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/utils/getTaskContributors.js
  frontend/src/utils/tests/getTaskContributors.test.js
Labels: Component: Frontend

#4722 Fix responsivity and improve display logic for the buttons on My Tasks
  frontend/src/components/contributions/myTasksNav.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug, UX

#4731 Update translations
  frontend/src/locales/it.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Translations

#4733 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4734 Update charts tooltips config + add missing chart labels translations
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/timeline.js
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/taskStatus.js
  frontend/src/components/teamsAndOrgs/tasksStatsChart.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/locales/en.json
  frontend/src/utils/formatChartJSData.js
  frontend/src/utils/tests/formatChartJSData.test.js
Labels: Component: Frontend, Difficulty: 5, Type: Bug, Type: Translations

#4735 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Translations

#4736 Fix ordering of tasks on multiple history list
  frontend/src/components/taskSelection/multipleTaskHistories.js
Labels: Component: Frontend, Difficulty: 1, Priority: Low, Type: Enhancement

#4732 v4.4.8
  frontend/package.json
  frontend/src/components/comments/commentInput.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/timeline.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/taskStatus.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/multipleTaskHistories.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/teamsAndOrgs/tasksStatsChart.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/utils/formatChartJSData.js
  frontend/src/utils/getTaskContributors.js
  frontend/src/utils/tests/formatChartJSData.test.js
  frontend/src/utils/tests/getTaskContributors.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#4741 Update translations
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/nl_NL.json
Labels: Component: Frontend, Type: Translations

#4749 Fix missing alt attribute in email template
  backend/services/messaging/templates/base.html
Labels: Component: Backend, Difficulty: 1, Type: Bug

#4745 Update translation documentation and remove unneeded command
  docs/contributing-translation.md
  manage.py
Labels: Status: Review needed, Type: Documentation, Type: Translations

#4750 Use forEach instead of map in an array that doesn't return a result
  frontend/src/hooks/UseContributorStats.js
Labels: Component: Frontend

#4756 Use radio buttons on Task History instead of checkboxes
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/multipleTaskHistories.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/tests/taskActivity.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#4760 Set grey-light border on some input fields that had other colours
  frontend/src/components/projectEdit/settingsForm.js
  frontend/src/components/projects/filterSelectFields.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement, UX

#4759 Limit space available to usernames on the header
  frontend/src/components/header/index.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, UX

#4723 Allow users to see existing projects' AOI during project creation
  frontend/src/components/basemapMenu.js
  frontend/src/components/formInputs.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/projectsAOILayerCheckBox.js
  frontend/src/components/projectCreate/tests/projectsAOILayerCheckBox.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 8, Status: Review needed, Type: Enhancement, Type: Translations

#4769 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Translations

#4770 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4665 Refactor geo file functions
  frontend/src/components/projectCreate/fileUploadErrors.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/utils/fileFunctions.js
  frontend/src/utils/geoFileFunctions.js
  frontend/src/utils/tests/fileFunctions.test.js
  frontend/src/utils/tests/geoFileFunctions.test.js
  frontend/src/utils/tests/snippets/feature.js
  frontend/src/utils/tests/snippets/parsedGeometry.js
  frontend/src/utils/tests/snippets/testFiles/testFile.geojson
  frontend/src/utils/tests/snippets/testFiles/testFile.kml
Labels: Component: Frontend, Status: In Progress

#4771 Adjust bottom padding of project edit page's sidebar
  frontend/src/views/projectEdit.js
Labels: Component: Frontend
