Repository hotosm/tasking-manager, pull requests merged in 2021-03, with the labels that each got.

#4295 Add loading icon and use it on Preloader component
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/preloader.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/loading.js
  frontend/src/components/tests/preloader.test.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#4303 Management section: rename "Add" buttons to "New" + fix alignment
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
  frontend/src/views/contributions.js
  frontend/src/views/licenses.js
  frontend/src/views/organisations.js
  frontend/src/views/users.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4312 Improve UX of orgs, teams, campaigns, licenses, categories editing forms
  frontend/src/components/interests/index.js
  frontend/src/components/licenses/index.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/campaigns.js
Labels: Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Enhancement

#4317 Move Statistics page to inside /manage url and adapt style
  frontend/src/App.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/tests/menu.test.js
  frontend/src/views/stats.js
Labels: Component: Frontend

#4307 Fix tier information on progress bar tooltip
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
Labels: Component: Frontend, Difficulty: 1, Priority: Critical, Status: Review needed, Type: Bug

#4318 Rename "last month/week" to "last 30/7 days"
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/newUsersStats.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Priority: High, Type: Enhancement

#4321 Exclude already validated tasks to be locked for validation again
  backend/services/stats_service.py
  backend/services/validator_service.py
Labels: Component: Backend, Difficulty: 1, Priority: High, Status: Review needed

#4315 Fix geojson extension writing
  backend/api/projects/resources.py
  backend/api/tasks/resources.py
  backend/models/postgis/task.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#3407 Add BaseTestCase and test environment
  backend/__init__.py
  backend/config.py
  tests/backend/base.py
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/models/postgis/test_project.py
  tests/backend/integration/models/postgis/test_user.py
  tests/backend/integration/services/grid/test_split_service.py
  tests/backend/integration/services/messaging/test_messaging_service.py
  tests/backend/integration/services/messaging/test_smtp_service.py
  tests/backend/integration/services/test_favorite_service.py
  tests/backend/integration/services/test_featured_projects_services.py
  tests/backend/integration/services/test_interests_service.py
  tests/backend/integration/services/test_license_service.py
  tests/backend/integration/services/test_mapping_service.py
  tests/backend/integration/services/test_project_search_service.py
  tests/backend/integration/services/test_stats_service.py
  tests/backend/integration/services/test_validation_service.py
  tests/backend/integration/services/users/test_user_service.py
  tests/backend/unit/models/dtos/test_mapping_dto.py
  tests/backend/unit/models/dtos/test_project_dto.py
  tests/backend/unit/models/postgis/test_task.py
  tests/backend/unit/services/grid/test_grid_service.py
  tests/backend/unit/services/messaging/test_messaging_service.py
  tests/backend/unit/services/messaging/test_template_service.py
  tests/backend/unit/services/test_mapping_service.py
  tests/backend/unit/services/test_project_admin_service.py
  tests/backend/unit/services/test_project_search_service.py
  tests/backend/unit/services/test_project_service.py
  tests/backend/unit/services/test_stats_service.py
  tests/backend/unit/services/test_team_service.py
  tests/backend/unit/services/test_validator_service.py
  tests/backend/unit/services/users/test_authentication_service.py
  tests/backend/unit/services/users/test_osm_service.py
  tests/backend/unit/services/users/test_user_service.py
Labels: Component: Backend, Difficulty: 8, Priority: High, Status: In Progress, Type: Enhancement

#4319 Change Edit managers/members toggle
  frontend/src/components/teamsAndOrgs/editMode.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4323 Update dependencies and translations
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#4324 Cache google fonts in service worker
  frontend/package.json
  frontend/src/service-worker.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#4326 Enable Korean language
  .tx/config
  backend/config.py
  frontend/package.json
  frontend/src/locales/ko.json
  frontend/src/utils/internationalization.js
  frontend/yarn.lock
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Type: Translations

#4339 Update translations
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/orgUsageLevel.test.js
  frontend/src/locales/cs.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/it.json
  frontend/src/locales/ko.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/uk.json
Labels: Component: Frontend, Type: Translations

#4346 Adjust font size when the sidebar is hidden to avoid horizontal scroll
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#4347 Avoid CORS errors when fetching osm stats api
  frontend/src/views/projectStats.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug

#4348 List all orgs to ADMIN users + add msg when orgs list is empty
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/locales/en.json
  frontend/src/views/organisationManagement.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4352 Improve messages and style of number of contributors on the project detail page
  frontend/src/components/projectDetail/bigProjectTeaser.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#4356 Add public organisation page link to team membership page
  backend/models/dtos/team_dto.py
  backend/services/team_service.py
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Backend, Component: Frontend, Type: Enhancement

#4302 Change position of create/clone button
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/review.js
Labels: Component: Frontend, Status: Review needed

#4336 Improve responsiveness of Total Features section
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/projectStats/edits.js
  frontend/src/components/projectStats/taskStatus.js
  frontend/src/components/projectStats/tests/edits.test.js
  frontend/src/components/projectStats/timeStats.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/statsCard.js
  frontend/src/components/statsCardContent.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
  frontend/src/components/teamsAndOrgs/remainingTasksStats.js
  frontend/src/components/teamsAndOrgs/tasksStatsSummary.js
  frontend/src/components/tests/statsCard.test.js
  frontend/src/components/tests/statsCardContent.test.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/locales/en.json
  frontend/src/views/management.js
  frontend/src/views/tests/projectStats.test.js
  frontend/src/views/users.js
Labels: Component: Frontend

#4351 Fix privacy issue on user detail API + add privacy notice
  backend/api/users/resources.py
  backend/models/postgis/user.py
  backend/services/users/user_service.py
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
Labels: Component: Backend, Component: Frontend, Difficulty: 3, Priority: High, Status: Review needed, Type: Bug

#4357 Display number of comments per task on "My tasks" list
  backend/models/dtos/mapping_dto.py
  backend/models/postgis/task.py
  backend/services/users/user_service.py
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/contributions/tests/taskCard.test.js
  frontend/src/components/svgIcons/comment.js
  frontend/src/components/svgIcons/index.js
  frontend/src/locales/en.json
Labels: Component: Backend, Component: Frontend

#4301 Test projectDetail components
  frontend/src/components/comments/commentInput.js
  frontend/src/components/projectDetail/newMapperFlow.js
  frontend/src/components/projectDetail/tests/bigProjectTeaser.test.js
  frontend/src/components/projectDetail/tests/downloadButtons.test.js
  frontend/src/components/projectDetail/tests/favorites.test.js
  frontend/src/components/projectDetail/tests/footer.test.js
  frontend/src/components/projectDetail/tests/header.test.js
  frontend/src/components/projectDetail/tests/infoPanel.test.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
  frontend/src/components/projectDetail/tests/shareButton.test.js
  frontend/src/components/projectDetail/tests/statusBox.test.js
  frontend/src/utils/testWithIntl.js
Labels: Component: Frontend, Status: Review needed

#4387 Fix error on message service
  backend/services/messaging/message_service.py
  backend/services/users/user_service.py
Labels: Component: Backend, Difficulty: 3, Priority: Critical, Status: Review needed

#4386 Split up Frontend and Backend certificate manager certificates
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure, Priority: High, Type: Bug

#4389 v4.4.2
  backend/services/messaging/message_service.py
  backend/services/users/user_service.py
Labels: Component: Backend

#4391 Fix link on fallback component and improve style of contact form
  frontend/src/components/homepage/contactForm.js
  frontend/src/views/contact.js
  frontend/src/views/fallback.js
Labels: Component: Frontend, Difficulty: 3, Type: Bug

#4409 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/it.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#4380 Separate OrganisationUsageLevel and OrganisationTier, add subscribed tier info
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
  frontend/src/components/teamsAndOrgs/tests/orgUsageLevel.test.js
  frontend/src/locales/en.json
  frontend/src/views/organisationStats.js
Labels: Component: Frontend, Difficulty: 5, Status: Review needed, Type: Enhancement

#4413 Update react-redux to 7.2.3 and translations
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, Type: Translations, dependencies, javascript

#4404 Add some predefined global imagery options to project edit page
  frontend/src/components/editor.js
  frontend/src/components/projectDetail/tests/infoPanel.test.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/svgIcons/clipboard.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/hooks/UseImageryOption.js
  frontend/src/hooks/tests/UseImageryOption.test.js
  frontend/src/locales/en.json
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
Labels: Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Enhancement

#4410 Update react-intl to 5.13.5. Fix and improve DueDateBox & TaskCard tests
  frontend/package.json
  frontend/src/components/contributions/tests/taskCard.test.js
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/svgIcons/clock.js
  frontend/src/views/tests/projectStats.test.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, dependencies, javascript

#4421 Update blue colour on charts
  frontend/src/config/index.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement, UX

#4420 Fit map view to the AoI's bounds on step 2 of project creation
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#4447 Show loading icon on buttons during mapping/validation API requests
  frontend/src/components/button.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/hooks/UseAsync.js
  frontend/src/hooks/tests/UseAsync.test.js
Labels: Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Enhancement

#4451 Improve Login page
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/tests/authButtons.test.js
  frontend/src/locales/en.json
  frontend/src/views/login.js
  frontend/src/views/messages.js
  frontend/src/views/tests/login.test.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, UX

#4457 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, dependencies, javascript

#4458 Update translations
  frontend/src/components/projectCreate/messages.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#4460 Fix error message on useAsync tests
  frontend/src/hooks/tests/UseAsync.test.js
Labels: Component: Frontend

#4431 Load imagery on JOSM using its id instead of the url
  frontend/src/utils/openEditor.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement
