Repository hotosm/tasking-manager, pull requests merged in 2021-04, with the labels that each got.

#4473 Bleach & Jinja version update
  requirements.txt
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Enhancement, dependencies

#4482 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#4407 Add basemap options to Priority Areas form
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/basemapMenu.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/mappedSquare.js
  frontend/src/components/tests/basemapMenu.test.js
Labels: Component: Frontend

#4501 Update welcome letter link and improve welcome notification text
  backend/services/messaging/message_service.py
  backend/services/messaging/templates/hot_welcome_section_en.txt
  backend/services/messaging/templates/welcome_message_en.txt
Labels: Component: Backend, Difficulty: 3, Type: Enhancement

#4499 Enable to set different status on multiple tasks validation
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 8, Priority: High, Status: Review needed, Type: Enhancement

#4503 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations

#4486 Update formatjs libs and try to fix bug in Safari 13
  frontend/package.json
  frontend/src/utils/formattedRelativeTime.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/polyfill.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 5, Priority: Medium, Type: Bug, dependencies, javascript

#4504 Fix email validation regex
  frontend/src/components/header/signUp.js
Labels: Component: Frontend

#4502 v4.4.4 Release
  backend/services/messaging/message_service.py
  backend/services/messaging/templates/hot_welcome_section_en.txt
  backend/services/messaging/templates/welcome_message_en.txt
  frontend/package.json
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/basemapMenu.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/descriptionForm.js
  frontend/src/components/projectEdit/inputLocale.js
  frontend/src/components/projectEdit/localeOption.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projectEdit/tests/localeOption.test.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/mappedSquare.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/tests/basemapMenu.test.js
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/utils/fileFunctions.js
  frontend/src/utils/formattedRelativeTime.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/polyfill.js
  frontend/src/views/projectEdit.js
  frontend/yarn.lock
  requirements.txt
Labels: Component: Backend, Component: Frontend

#4520 Update translations, date-fns and rtl/user-events
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#4521 Filter projects by last update
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/services/project_search_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4452 Refactor duplicated components - server and error messages
  backend/api/campaigns/resources.py
  backend/models/dtos/campaign_dto.py
  backend/services/campaign_service.py
  frontend/src/components/alerts/error.js
  frontend/src/components/alerts/tests/error.test.js
  frontend/src/components/button.js
  frontend/src/components/svgIcons/ban.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/hooks/UseAsync.js
  frontend/src/locales/en.json
  frontend/src/views/campaigns.js
  frontend/src/views/messages.js
Labels: Component: Backend, Component: Frontend, UX

#4522 Add Alert Component with 4 type options
  frontend/src/components/alert/index.js
  frontend/src/components/alert/tests/index.test.js
  frontend/src/components/alerts/error.js
  frontend/src/components/alerts/tests/error.test.js
  frontend/src/views/campaigns.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, UX

#4512 Consider only validation time on the project validation estimation
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#4524 Improve question and comments section with loading indicator and alerts
  frontend/src/components/comments/status.js
  frontend/src/components/comments/tests/status.test.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, UX

#4544 Show loading indicator when locking tasks to map or validate
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#4523 Add tests for set-task-sizes functions
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/tests/setTaskSizes.test.js
  frontend/src/utils/taskGrid.js
  frontend/src/utils/tests/snippets/AOI.js
  frontend/src/utils/tests/snippets/projectMetadata.js
  frontend/src/utils/tests/snippets/taskGrid.js
  frontend/src/utils/tests/taskGrid.test.js
Labels: Component: Frontend, Type: Enhancement

#4545 Make use of Alert component and useAsync on Edit project page
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4557 Use icon property on buttons of SetTaskSizes component
  frontend/src/components/projectCreate/setTaskSizes.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4555 Add tests for licences components
  frontend/src/components/licenses/index.js
  frontend/src/components/licenses/tests/licenses.test.js
Labels: Component: Frontend

#4556 Fix bug in OSMCha filter id field of edit project page
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/utils/osmchaLink.js
  frontend/src/utils/tests/osmchaLink.test.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Bug

#4541 Add query params to filter projects by last_update and created dates
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/services/project_search_service.py
Labels: Component: Backend

#4554 Show id of locked for validation tasks on the map when doing validation
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend, Difficulty: 5, Type: Enhancement

#4559 Update dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend

#4561 Enable Chinese translation + update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/src/utils/internationalization.js
  frontend/src/utils/polyfill.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Type: Translations

#4563 Update @sentry/react and formatjs libs
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4569 Fix spelling of "occurred"
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/tasksStats.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Difficulty: 1, Type: Bug

#4597 Fix names of the Czech and Chinese languages
  backend/config.py
  example.env
  frontend/src/utils/internationalization.js
Labels: Component: Backend, Component: Frontend, Difficulty: 1, Type: Bug

#4598 Update translations
  frontend/src/locales/he.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Difficulty: 1, Type: Translations
