Repository hotosm/tasking-manager, pull requests merged in 2021-02, with the labels that each got.

#4163 Filter users by username on Project's contributors
  frontend/package.json
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/contributions.test.js
  frontend/src/hooks/UseFilterContributors.js
  frontend/src/hooks/tests/UseFilterContributors.test.js
  frontend/src/locales/en.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 5, Status: Review needed, Type: Enhancement

#4174 Task stats - campaign name query
  backend/api/tasks/statistics.py
  backend/services/campaign_service.py
  backend/services/stats_service.py
Labels: Component: Backend

#4166 Avoid ZeroDivisionError in the percent mapped / validated / bad imagery
  backend/models/postgis/project.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Bug

#4171 Make task stats perform faster
  backend/services/stats_service.py
Labels: Component: Backend

#4064 Add TM_ORG_LOGO envvar to AWS backend
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#4176 Use distinct on to filter task & project IDs and fetch action date
  backend/services/stats_service.py
Labels: Component: Backend, Difficulty: 8, Priority: Critical

#4179 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Type: Translations, dependencies, javascript

#4180 Validate date queries on organisation stats + add placeholder on loading
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tasksStats.js
  frontend/src/hooks/UseValidateDateRange.js
  frontend/src/hooks/tests/UseValidateDateRange.test.js
  frontend/src/locales/en.json
  frontend/src/views/organisationStats.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#4181 Restrict organisation stats to only logged users
  frontend/src/components/teamsAndOrgs/tasksStats.js
  frontend/src/views/organisationStats.js
Labels: Component: Frontend

#4182 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend

#4204 Complete TaskStats component test coverage
  frontend/src/components/teamsAndOrgs/tests/tasksStats.test.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#4216 Lint code and move file to correct folder
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/userDetail/tests/editByNumbers.test.js
  frontend/src/components/userDetail/tests/topCauses.test.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4218 Add type field to organisation model
  backend/models/dtos/organisation_dto.py
  backend/models/postgis/organisation.py
  backend/models/postgis/statuses.py
  migrations/versions/86c0f6b6a176_.py
Labels: Component: Backend

#4220 Don't log known exceptions on tasks stats endpoint
  backend/api/tasks/statistics.py
Labels: Component: Backend, Difficulty: 1, Status: Review needed, Type: Bug

#4215 Show information about tiers to managers of non exempt organisations
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
  frontend/src/components/teamsAndOrgs/tasksStats.js
  frontend/src/components/teamsAndOrgs/tests/orgUsageLevel.test.js
  frontend/src/hooks/UseOrgYearStats.js
  frontend/src/hooks/UseOrganisationLevel.js
  frontend/src/hooks/UsePredictYearlyTasks.js
  frontend/src/hooks/UseTotalTasksStats.js
  frontend/src/hooks/tests/UseOrganisationLevel.test.js
  frontend/src/hooks/tests/UsePredictYearlyTasks.test.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/organisationStats.js
Labels: Component: Frontend, Difficulty: 5, Status: Review needed, Type: Enhancement

#4186 Allow to order tasks by last action in reverse order
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/locales/en.json
Labels: Component: Frontend

#4234 Improve TaskList ordering code
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Difficulty: 3, Type: Enhancement

#4010 Add Docker support for additional frontend parameters
  docker-compose.override.yml
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: Component: Infrastructure

#4226 Fix contributor counting.
  backend/services/project_search_service.py
Labels: Component: Backend

#4236 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4233 Clean up backend code.
  backend/api/organisations/campaigns.py
  backend/api/projects/actions.py
  backend/api/projects/resources.py
  backend/api/tasks/actions.py
  backend/api/tasks/resources.py
  backend/api/teams/actions.py
  backend/models/dtos/campaign_dto.py
  backend/models/dtos/validator_dto.py
  backend/models/postgis/notification.py
  backend/services/messaging/message_service.py
  backend/services/organisation_service.py
  backend/services/users/authentication_service.py
Labels: Component: Backend, Difficulty: 3, Status: Done, Type: Enhancement

#4235 Add org type field to create and patch API endpoints and frontend forms
  backend/api/organisations/resources.py
  backend/models/dtos/organisation_dto.py
  backend/models/postgis/organisation.py
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/locales/en.json
  frontend/src/views/organisations.js
Labels: Component: Backend, Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Enhancement

#4242 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#4241 fix error on PATCH organisation endpoint
  backend/services/organisation_service.py
Labels: Component: Backend, Difficulty: 1, Priority: High, Status: Review needed, Type: Bug

#4237 Modify query to return counts
  backend/services/stats_service.py
Labels: Component: Backend, Difficulty: 8, Priority: Critical, Type: Bug, Type: Enhancement

#4252 Reset arbitrary tasks option when clicking the Reset button
  frontend/src/components/projectCreate/index.js
Labels: Component: Frontend, Difficulty: 1, Priority: High, Type: Bug

#4256 Rename tasksNo to tasksNumber and update it when going back to Step 2
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/navButtons.js
  frontend/src/components/projectCreate/review.js
  frontend/src/components/projectCreate/setTaskSizes.js
  frontend/src/components/projectCreate/trimProject.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Bug

#4278 Improve the User tasks endpoint and set a default sort_by value
  backend/api/users/tasks.py
Labels: Component: Backend, Difficulty: 1, Status: Done, Type: Enhancement

#4277 Set sort_by param on My Tasks API request
  frontend/src/hooks/UseTaskContributionAPI.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Bug

#4270 Use JSON format to get user details from OSM
  backend/services/users/osm_service.py
Labels: Component: Backend, Priority: Low, Status: Review needed, Type: Enhancement

#4258 Truncate Project AoI and Task Grid to 6 decimal places
  frontend/package.json
  frontend/src/components/projectCreate/review.js
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4255 Show discounted cost for organisations under that type
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/orgUsageLevel.js
  frontend/src/components/teamsAndOrgs/tests/orgUsageLevel.test.js
  frontend/src/hooks/tests/UseOrganisationLevel.test.js
Labels: Component: Frontend, Status: Review needed, Type: Enhancement

#4285 Improve some pages' title
  frontend/src/views/campaigns.js
  frontend/src/views/interests.js
  frontend/src/views/licenses.js
  frontend/src/views/organisations.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Difficulty: 1, Type: Enhancement

#4287 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#4296 Update translations and frontend dependencies
  frontend/package.json
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/it.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/uk.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript
