Repository hotosm/tasking-manager, pull requests merged in 2021-05, with the labels that each got.

#4600 Add dialog to notify user of new version
  frontend/src/components/header/index.js
  frontend/src/components/header/messages.js
  frontend/src/components/header/updateDialog.js
  frontend/src/components/taskSelection/index.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/serviceWorkerRegistration.js
Labels: Component: Frontend, Difficulty: 5, Priority: High, Status: Review needed, Type: Enhancement

#4612 Parse new database connection parameters
  backend/config.py
  example.env
Labels: Component: Backend, Component: Infrastructure, Type: Enhancement

#4616 Add new CSS rule to hide "Improve this map" link
  frontend/src/assets/styles/_extra.scss
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Bug

#4619 Add Service Desk configuration option and tests to contact page
  example.env
  frontend/.env.expand
  frontend/src/components/homepage/contactForm.js
  frontend/src/components/homepage/messages.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
  frontend/src/views/fallback.js
  frontend/src/views/tests/contact.test.js
Labels: Difficulty: 3, Status: Review needed

#4635 Improve logic of reset pagination in the TaskList component
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend, Difficulty: 3, Priority: Critical, Status: Review needed, Type: Bug

#4637 Update translations
  frontend/src/locales/ar.json
  frontend/src/locales/cs.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/es.json
  frontend/src/locales/fa_IR.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/id.json
  frontend/src/locales/it.json
  frontend/src/locales/ja.json
  frontend/src/locales/ko.json
  frontend/src/locales/mg.json
  frontend/src/locales/ml.json
  frontend/src/locales/nl_NL.json
  frontend/src/locales/pt.json
  frontend/src/locales/pt_BR.json
  frontend/src/locales/sv.json
  frontend/src/locales/sw.json
  frontend/src/locales/tl.json
  frontend/src/locales/tr.json
  frontend/src/locales/uk.json
  frontend/src/locales/zh_TW.json
Labels: Component: Frontend, Type: Translations

#4647 Make react-select component used on on stats and projects page clearable
  frontend/src/components/projects/filterSelectFields.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4640 Improve GitHub labeler action with additional labels
  .github/labeler.yml
Labels: Component: Infrastructure

#4656 Validate taskHistory and add tests
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/tests/taskActivity.test.js
Labels: Component: Frontend, Difficulty: 3, Type: Bug

#4668 Don't change map bounds when the user press the "Draw polygon" button
  frontend/src/components/projectEdit/priorityAreasForm.js
Labels: Component: Frontend, Difficulty: 1, Status: Review needed, Type: Enhancement

#4418 Add opsgenie integration to CircleCI to push alerts there
  .circleci/config.yml
Labels: Component: Infrastructure

#4669 Remove Organization Managers from notifications triggered by #managers
  backend/services/messaging/message_service.py
Labels: Component: Backend, Difficulty: 3, Status: Review needed, Type: Enhancement

#4681 Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Difficulty: 1, dependencies, javascript

#4683 Separate the tasks selection page's TabSelector in a new component
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/tabSelector.js
  frontend/src/components/taskSelection/tests/tabSelector.test.js
Labels: Component: Frontend, Difficulty: 3, Status: Review needed, Type: Enhancement, UX

#4685 Update translations
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/it.json
  frontend/src/locales/nl_NL.json
Labels: Component: Frontend, Type: Translations

#4684 v4.4.7 release
  .circleci/config.yml
  .github/labeler.yml
  backend/services/messaging/message_service.py
  frontend/package.json
  frontend/src/components/comments/commentInput.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/filterSelectFields.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/tabSelector.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/tests/tabSelector.test.js
  frontend/src/components/taskSelection/tests/taskActivity.test.js
  frontend/src/locales/cs.json
  frontend/src/locales/fr.json
  frontend/src/locales/he.json
  frontend/src/locales/hu.json
  frontend/src/locales/it.json
  frontend/src/locales/nl_NL.json
  frontend/yarn.lock
Labels: Component: Backend, Component: Frontend, Component: Infrastructure

#4693 Show loading icon on buttons during edit project API requests
  frontend/src/components/projectEdit/actionsForm.js
Labels: Component: Frontend, Type: Enhancement

#4695 Fix task IDs are not sorted on multiple tasks validation sidebar
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend, Status: Done, Type: Enhancement
