Repository hotosm/tasking-manager, pull requests merged in 2022-12, with the labels that each got.

#5432 Update styles for user stats under contributions section
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/contributions.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/projectStats/edits.js
  frontend/src/components/statsCard.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/tests/statsCard.test.js
  frontend/src/components/userDetail/contributionTimeline.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/editByNumbers.test.js
  frontend/src/components/userDetail/tests/topCauses.test.js
  frontend/src/components/userDetail/tests/topProjects.test.js
  frontend/src/components/userDetail/topCauses.js
  frontend/src/components/userDetail/topProjects.js
  frontend/src/views/contributions.js
  frontend/src/views/project.js
  frontend/src/views/teams.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend, Component: UI/UX

#5434 Update OSMCha URLs
  frontend/src/components/user/content.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
Labels: Component: Frontend

#5436 Add spellcheck props for the markdown editor
  frontend/src/components/comments/commentInput.js
Labels: Component: Frontend

#5437 Opt out of dark mode from the markdown editor
  frontend/src/components/comments/commentInput.js
Labels: Component: Frontend

#5423 Update contributing.md
  docs/contributing.md
Labels: Component: Documentation

#5421 Rename LICENSE.txt to LICENSE.md
  LICENSE.md
Labels: Component: Documentation

#5422 Create code_of_conduct.md
  docs/code_of_conduct.md
Labels: Component: Documentation

#5444 Include all team members on payload for team join notifications request
  backend/models/dtos/team_dto.py
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/views/teams.js
Labels: Component: Frontend, Component: Backend

#5462 Redirect from /learn to /learn/map
  frontend/src/App.js
Labels: Component: Frontend

#5443 Display the notification modal without being directed to the notification list(inbox) page
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/contributions/taskCard.js
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/components/notifications/styles.scss
  frontend/src/views/notifications.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript, Component: UI/UX

#5464 Display priority boxes for all priority options
  frontend/src/components/projectCard/priorityBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/tests/header.test.js
  frontend/src/components/projects/list.js
Labels: Component: Frontend

#5409 Handle random task selection enforcement on task selection page
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/messages.js
Labels: Component: Frontend

#5490 Revise popup implementation for task detail
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend

#5493 Circleci update resource class and limit cache for frontend deps
  .circleci/config.yml
Labels: Component: Infrastructure

#5494 Handle tab click event to select user handles
  frontend/src/components/comments/commentInput.js
Labels: Component: Frontend

#5495 Use ci cache version and further limit key checks
  .circleci/config.yml
  docs/sysadmins/ci-cd.md
Labels: Component: Infrastructure

#5502 Revise styles for the user settings page
  frontend/src/assets/styles/_colors.scss
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/formInputs.js
  frontend/src/components/header/index.js
  frontend/src/components/localeSelect.js
  frontend/src/components/user/completeness.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms/customField.js
  frontend/src/components/user/forms/interests.js
  frontend/src/components/user/forms/notifications.js
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/forms/settings.js
  frontend/src/components/user/forms/switchToggleField.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/topBar.js
  frontend/src/locales/en.json
  frontend/src/views/settings.js
Labels: Component: Frontend, Type: Translations
