Repository hotosm/tasking-manager, pull requests merged in 2022-07, with the labels that each got.

#5213 Consistent cards heights in the mapping flow section
  frontend/src/components/homepage/mappingFlow.js
Labels: Component: Frontend

#5200 Add alert messages for unsupported WebGL context in map components
  frontend/src/components/alert/index.js
  frontend/src/components/messages.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/components/webglUnsupported.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5220 Allow updating team member role
  backend/models/postgis/team.py
  backend/services/team_service.py
  frontend/src/views/teams.js
Labels: Component: Frontend, Component: Backend, Status: In Progress

#5226 Make learn page sections linkable
  frontend/src/App.js
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
  frontend/src/components/user/content.js
  frontend/src/components/user/forms/settings.js
  frontend/src/views/learn.js
  frontend/src/views/quickstart.js
Labels: Component: Frontend

#5231 Handle SMTP errors and log in sentry
  backend/services/messaging/smtp_service.py
Labels: Component: Backend

#5237 [rework] Implement email templates from TM4 design
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/assets/Bitmap.png
  backend/services/messaging/templates/assets/Mask.png
  backend/services/messaging/templates/assets/badge.png
  backend/services/messaging/templates/assets/checked.png
  backend/services/messaging/templates/assets/clock-icon.png
  backend/services/messaging/templates/assets/demo-logo.png
  backend/services/messaging/templates/assets/learning_steps.png
  backend/services/messaging/templates/assets/technical.jpg
  backend/services/messaging/templates/assets/validation_hero.png
  backend/services/messaging/templates/base.html
  backend/services/messaging/templates/been_some_time.html
  backend/services/messaging/templates/profile-progress.html
  backend/services/messaging/templates/validator_role_unlocked.html
  backend/services/messaging/templates/welcome.html
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, Component: Backend, dependencies, javascript

#5240 Position textfield clear icon inside input field on tasks selection page
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend

#5243 Fix failing sonarcloud tests
  backend/services/messaging/templates/base.html
  backend/services/messaging/templates/been_some_time.html
  backend/services/messaging/templates/email_verification_en.html
  backend/services/messaging/templates/message_alert_en.html
  backend/services/messaging/templates/profile-progress.html
  backend/services/messaging/templates/validator_role_unlocked.html
  backend/services/messaging/templates/welcome.html
Labels: Component: Backend

#5245 Replace textfield with dropdown for searching by project ID for 'My Tasks' tab
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myProjectsDropdown.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/contributions/tests/myProjectsDropdown.test.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5252 Add form validation and error message on create/edit organization page
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/organisationManagement.js
Labels: Component: Frontend, Type: Translations

#5259 Remove default options to not prepopulate options without a query
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5100 Add CC-BY-SA notice to footer
  frontend/src/components/footer.js
  frontend/src/components/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5250 Feature/5247 transfer project ownership
  backend/api/projects/actions.py
  backend/services/messaging/message_service.py
  backend/services/messaging/templates/been_some_time.html
  backend/services/messaging/templates/profile-progress.html
  backend/services/messaging/templates/project_transfer_alert_en.html
  backend/services/messaging/templates/validator_role_unlocked.html
  backend/services/messaging/templates/welcome.html
  backend/services/project_admin_service.py
  docs_old/error_code.md
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
  frontend/src/views/projectEdit.js
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/services/messaging/test_messaging_service.py
  tests/backend/integration/services/test_project_admin_service.py
Labels: Component: Frontend, Component: Backend, Type: Translations

#5218 [rework] Added switch field to enable/disable notifications
  backend/config.py
  backend/models/dtos/team_dto.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/team.py
  backend/models/postgis/user.py
  backend/services/messaging/message_service.py
  backend/services/team_service.py
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/members.test.js
  frontend/src/components/user/forms/notifications.js
  frontend/src/views/teams.js
  migrations/versions/bcb474128817_.py
  tests/backend/integration/services/messaging/test_smtp_service.py
  tests/backend/integration/services/test_team_service.py
  tests/backend/unit/services/test_mapping_service.py
Labels: Component: Frontend, Component: Backend

#5266 Fix transfer project ownership to admins
  backend/api/users/resources.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/project_admin_service.py
  docs_old/error_code.md
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/projectEdit/messages.js
Labels: Component: Frontend, Component: Backend

#5268 Run prettier on all JS files inside src
  frontend/package.json
Labels: Component: Frontend

#5265 Update personal information form validation logic
  backend/models/postgis/user.py
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/formInputs.js
  frontend/src/components/user/forms/personalInformation.js
Labels: Type: Enhancement, Component: Frontend, Component: Backend

#5270 Enhance the existing projects AoIs on project creation map
  frontend/src/components/button.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/projectsAOILayerCheckBox.js
  frontend/src/components/projectCreate/tests/projectsAOILayerCheckBox.test.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5262 Send project progress email to contributors
  backend/config.py
  backend/models/postgis/project.py
  backend/models/postgis/statuses.py
  backend/services/mapping_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/been_some_time.html
  backend/services/messaging/templates/encourage_mapper_en.html
  backend/services/messaging/templates/project_transfer_alert_en.html
  backend/services/project_service.py
  backend/services/validator_service.py
  example.env
  migrations/versions/3b8b0956b217_.py
  scripts/aws/cloudformation/tasking-manager.template.js
  tests/backend/integration/services/messaging/test_smtp_service.py
  tests/backend/unit/services/test_mapping_service.py
  tests/backend/unit/services/test_project_service.py
Labels: Component: Infrastructure, Component: Backend

#5271 Add project name and Id in notifications
  backend/config.py
  backend/services/messaging/message_service.py
  backend/services/messaging/templates/message_alert_en.html
  tests/backend/unit/services/messaging/test_messaging_service.py
Labels: Component: Backend

#5272 Style notifications mini popover
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/_typography.scss
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/locales/en.json
  frontend/src/views/notifications.js
Labels: Component: Frontend, Type: Translations

#5277 Remove recommended projects from project progress emails
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/encourage_mapper_en.html
  tests/backend/integration/services/messaging/test_smtp_service.py
Labels: Component: Backend
