Repository hotosm/tasking-manager, pull requests merged in 2022-04, with the labels that each got.

#5066 Update text in 'Learn to Manage' section
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Type: Translations

#5067 Fix support link in footer
  frontend/src/components/footer.js
Labels: Component: Frontend

#5076 Display error message for self intersecting AOI
  backend/api/projects/actions.py
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectCreate/trimProject.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Component: Backend, Type: Translations

#5075 Improve sorting for ‘My Tasks’ list
  backend/api/users/tasks.py
  backend/services/users/user_service.py
  frontend/src/components/contributions/messages.js
  frontend/src/components/contributions/myTasksNav.js
  frontend/src/components/contributions/myTasksOrderDropdown.js
  frontend/src/components/contributions/tests/myTasksOrderDropdown.test.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Component: Backend, Type: Translations

#5065 Add common date range filters
  frontend/package.json
  frontend/src/components/projects/filterSelectFields.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/tests/filterSelectFields.test.js
  frontend/src/components/teamsAndOrgs/tasksStats.js
  frontend/src/locales/en.json
  frontend/src/utils/date.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript, Type: Translations

#5084 Do not cache html files in the browser
  .circleci/config.yml
Labels: Component: Infrastructure

#5096 Handle switching editors with unsaved edits
  frontend/package.json
  frontend/src/components/rapidEditor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/store/actions/editor.js
  frontend/src/store/reducers/editor.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5106 Fix JOSM doesn't load OSM data when attempting to map a task
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend

#5068 Fix user tasks stats
  backend/services/users/user_service.py
Labels: Component: Backend

#5048 Fix user permission on Projects API
  backend/api/comments/resources.py
  backend/api/projects/actions.py
  backend/api/projects/campaigns.py
  backend/api/projects/resources.py
  backend/api/projects/teams.py
  backend/api/tasks/actions.py
  frontend/src/views/learn.js
Labels: Component: Frontend, Component: Backend

#5109 Only show SERVICE_DESK link if variable is configured
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItens.test.js
Labels: Component: Frontend

#5104 Enable adding YouTube videos with the ::youtube[] markdown tag
  frontend/src/utils/htmlFromMarkdown.js
  frontend/src/utils/tests/htmlFromMarkdown.test.js
Labels: Component: Frontend

#5099 Segment project notifications categories in settings
  backend/models/dtos/user_dto.py
  backend/models/postgis/user.py
  backend/services/messaging/message_service.py
  frontend/src/components/user/forms/notifications.js
  frontend/src/components/user/messages.js
  frontend/src/locales/en.json
  migrations/versions/924a63857df4_.py
Labels: Component: Frontend, Component: Backend, Type: Translations
