Repository hotosm/tasking-manager, pull requests merged in 2022-03, with the labels that each got.

#5018 Fix reset-all-bad-imagery API
  backend/services/mapping_service.py
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/models/postgis/test_project.py
  tests/backend/integration/services/test_mapping_service.py
  tests/backend/unit/services/messaging/test_template_service.py
Labels: Component: Backend

#5028 Update issue templates- Feature
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Component: Infrastructure

#5026 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Component: Infrastructure

#5046 Fix/cfn init codedeploy
  .circleci/config.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#4996 Cleans up some code I left in the last release, and rebases to master
  .circleci/config.yml
Labels: Component: Infrastructure

#5040 Add 'blocked' option to dropdown
  frontend/src/components/user/list.js
Labels: Component: Frontend

#5044 set-default-permission-for-validation-to-intermediate-and-advanced
  backend/models/postgis/project.py
Labels: Component: Backend

#5058 Enable OpsGenie webhook by fixing yaml syntax
  .circleci/config.yml
Labels: Component: Infrastructure

#5049 Add cheatsheet under manuals
  frontend/src/locales/en.json
  frontend/src/views/learn.js
  frontend/src/views/messages.js
Labels: Component: Frontend, Type: Translations

#5061 Change default editors while creating project
  backend/models/postgis/project.py
Labels: Component: Backend

#5039 Improve task lock error messages
  backend/api/annotations/resources.py
  backend/api/campaigns/resources.py
  backend/api/comments/resources.py
  backend/api/countries/resources.py
  backend/api/interests/resources.py
  backend/api/issues/resources.py
  backend/api/licenses/actions.py
  backend/api/licenses/resources.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/organisations/campaigns.py
  backend/api/organisations/resources.py
  backend/api/projects/actions.py
  backend/api/projects/activities.py
  backend/api/projects/campaigns.py
  backend/api/projects/contributions.py
  backend/api/projects/favorites.py
  backend/api/projects/resources.py
  backend/api/projects/statistics.py
  backend/api/projects/teams.py
  backend/api/system/applications.py
  backend/api/system/authentication.py
  backend/api/system/general.py
  backend/api/system/image_upload.py
  backend/api/system/statistics.py
  backend/api/tasks/actions.py
  backend/api/tasks/resources.py
  backend/api/tasks/statistics.py
  backend/api/teams/actions.py
  backend/api/teams/resources.py
  backend/api/users/actions.py
  backend/api/users/openstreetmap.py
  backend/api/users/resources.py
  backend/api/users/statistics.py
  backend/api/users/tasks.py
  backend/models/postgis/project.py
  backend/models/postgis/task.py
  backend/services/campaign_service.py
  backend/services/grid/grid_service.py
  backend/services/grid/split_service.py
  backend/services/mapping_service.py
  backend/services/messaging/chat_service.py
  backend/services/messaging/message_service.py
  backend/services/organisation_service.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/team_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/lockedTasks.test.js
  frontend/src/locales/en.json
  frontend/src/utils/promise.js
Labels: Component: Frontend, Component: Backend, Type: Translations
