Repository hotosm/tasking-manager, pull requests merged in 2022-08, with the labels that each got.

#5280 Add filter by admins on project ownership transfer dropdown
  frontend/src/components/projectEdit/actionsForm.js
Labels: Component: Frontend

#5297 Emend link for teams tab to be consistent with overview tab
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
Labels: Component: Frontend

#5296 Enhancement/landing design figma
  frontend/src/assets/img/mask.png
  frontend/src/assets/styles/_extra.scss
  frontend/src/assets/styles/_typography.scss
  frontend/src/components/footer/index.js
  frontend/src/components/footer/styles.scss
  frontend/src/components/homepage/jumbotron.js
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/components/homepage/messages.js
  frontend/src/components/homepage/stats.js
  frontend/src/components/homepage/styles.scss
  frontend/src/components/homepage/testimonials.js
  frontend/src/components/homepage/testimonials/index.js
  frontend/src/components/homepage/testimonials/messages.js
  frontend/src/components/homepage/whoIsMapping.js
  frontend/src/index.js
  frontend/src/views/home.js
Labels: Component: Frontend, Component: UI/UX

#5290 Display user picture in notifications
  backend/models/dtos/message_dto.py
  backend/models/postgis/message.py
  backend/services/messaging/message_service.py
  backend/services/users/user_service.py
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
Labels: Component: Frontend, Component: Backend

#5301 Remove asterisk from extra iD params label
  frontend/src/components/projectEdit/metadataForm.js
Labels: Component: Frontend

#5303 Display project due date on project card
  frontend/src/assets/styles/_typography.scss
  frontend/src/components/projectCard/dueDateBox.js
  frontend/src/components/projectCard/messages.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/tests/dueDateBox.test.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/svgIcons/timer.js
  frontend/src/components/taskSelection/action.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5307 Disable support to remove default generated changeset comment
  frontend/src/components/projectEdit/instructionsForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5319 Update sqlalchemy deprecated configs
  backend/config.py
  backend/models/postgis/banner.py
Labels: Component: Backend

#5323 Style explore projects page cards from Figma design
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/dropdown.js
  frontend/src/components/homepage/mappingFlow.js
  frontend/src/components/homepage/styles.scss
  frontend/src/components/projectCard/nCardPlaceholder.js
  frontend/src/components/projectCard/priorityBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/styles.scss
  frontend/src/components/projects/list.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/teamsPlaceholder.js
  frontend/src/components/teamsAndOrgs/tests/projects.test.js
  frontend/src/locales/en.json
  frontend/src/views/management.js
  frontend/src/views/project.js
Labels: Component: Frontend, Type: Translations

#5324 Format all links with default colour in emails
  backend/services/messaging/message_service.py
  backend/services/messaging/templates/encourage_mapper_en.html
  tests/backend/unit/services/messaging/test_messaging_service.py
Labels: Component: Backend
