Repository hotosm/tasking-manager, pull requests merged in 2022-06, with the labels that each got.

#5160 Resolve some key warnings
  frontend/src/components/footer.js
  frontend/src/components/header/index.js
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/user/usersPlaceholder.js
Labels: Component: Frontend

#5162 Populate project info locales only if not provided by user
  backend/models/postgis/project.py
Labels: Component: Backend

#5129 Implement backend tests
  backend/models/postgis/organisation.py
  backend/models/postgis/task.py
  backend/services/grid/split_service.py
  backend/services/users/osm_service.py
  tests/backend/base.py
  tests/backend/helpers/test_files/canned_draft_project.json
  tests/backend/helpers/test_files/canned_project_detail.json
  tests/backend/helpers/test_files/non_square_split_results.json
  tests/backend/helpers/test_files/osm_user_details.json
  tests/backend/helpers/test_files/split_task.json
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/models/postgis/test_project.py
  tests/backend/integration/services/grid/test_split_service.py
  tests/backend/integration/services/messaging/test_smtp_service.py
  tests/backend/integration/services/test_mapping_service.py
  tests/backend/integration/services/test_organisation_service.py
  tests/backend/integration/services/test_project_admin_service.py
  tests/backend/integration/services/test_team_service.py
  tests/backend/integration/services/test_validation_service.py
  tests/backend/integration/services/users/test_authentication_service.py
  tests/backend/integration/services/users/test_osm_service.py
  tests/backend/integration/services/users/test_user_service.py
  tests/backend/unit/models/postgis/test_organisation.py
  tests/backend/unit/models/postgis/test_project.py
  tests/backend/unit/models/postgis/test_project_info.py
  tests/backend/unit/models/postgis/test_task.py
  tests/backend/unit/models/postgis/test_user.py
  tests/backend/unit/services/grid/test_grid_service.py
  tests/backend/unit/services/messaging/test_template_service.py
  tests/backend/unit/services/test_organisation_service.py
  tests/backend/unit/services/test_project_admin_service.py
  tests/backend/unit/services/test_project_search_service.py
  tests/backend/unit/services/test_project_service.py
  tests/backend/unit/services/test_team_service.py
  tests/backend/unit/services/users/test_authentication_service.py
  tests/backend/unit/services/users/test_osm_service.py
  tests/backend/unit/services/users/test_user_service.py
Labels: Component: Backend

#5165 Use window width for last locked tasks padding
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend

#5169 Add private project indication for users having no access to a project
  backend/api/projects/resources.py
  backend/services/project_service.py
  docs/error_code.md
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/privateProjectError.js
  frontend/src/components/projectDetail/tests/privateProjectError.test.js
  frontend/src/locales/en.json
  frontend/src/views/project.js
  tests/backend/integration/models/postgis/test_project.py
  tests/backend/integration/services/test_project_service.py
Labels: Component: Frontend, Component: Backend, Type: Translations

#5174 New issue go to backlog:triage
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Component: Infrastructure

#5170 Resize map canvas on map load
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend

#5155 Fix search filter cannot display accents
  backend/services/project_search_service.py
Labels: Component: Backend

#5180 Fix card heights in learn page
  frontend/src/views/learn.js
Labels: Component: Frontend

#5185 Fix logic to not show error on project detail page
  frontend/src/views/project.js
Labels: Component: Frontend

#5195 Update editor only if allowed editors for mapping/validation doesn't contain that particular editor
  frontend/src/components/taskSelection/footer.js
Labels: Component: Frontend

#5181 Display message when project's mapping/validation permissions are set to team only but no team is added
  frontend/src/locales/en.json
  frontend/src/views/messages.js
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Type: Translations

#5192 Use flask-mail instead of directly using smtplib [ Rework on #2506 ]
  backend/__init__.py
  backend/config.py
  backend/services/messaging/smtp_service.py
  example.env
  requirements.txt
  tests/backend/integration/services/messaging/test_smtp_service.py
Labels: Component: Backend

#5196 Add message if no editor is selected for mapping or validation
  frontend/src/components/projectEdit/messages.js
  frontend/src/locales/en.json
  frontend/src/views/projectEdit.js
Labels: Component: Frontend, Type: Translations

#5105 Include extraIdParams field to projects
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  frontend/src/components/code.js
  frontend/src/components/projectEdit/extraIdParams.js
  frontend/src/components/projectEdit/imageryForm.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/projectEdit/metadataForm.js
  frontend/src/components/tests/code.test.js
  frontend/src/utils/openEditor.js
  frontend/src/utils/tests/openEditor.test.js
  migrations/versions/8b61ac59bc57_.py
Labels: Component: Frontend, Component: Backend

#4071 Validation/Map Permissions check on Test Project Service
  tests/backend/unit/services/test_project_service.py
Labels: Type: Enhancement, Component: Backend, Status: In Progress

#5201 Add tasks status filter dropdown on task selection page
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/taskFilter.test.js
Labels: Component: Frontend

#5202 Reset draw mode after clearing priority area
  frontend/src/components/projectEdit/priorityAreasForm.js
Labels: Component: Frontend

#5204 Show project title instead of project id in notifications
  backend/services/messaging/chat_service.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/templates/message_alert_en.html
  tests/backend/integration/services/messaging/test_chat_service.py
  tests/backend/integration/services/messaging/test_messaging_service.py
Labels: Component: Backend
