Repository hotosm/tasking-manager, pull requests merged in 2022-05, with the labels that each got.

#5112 Display message when project is deleted
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5119 Update team members list when joining or leaving
  frontend/src/views/teams.js
Labels: Component: Frontend

#5121 Store tasks sort order in local storage
  frontend/src/components/taskSelection/taskList.js
  frontend/src/store/actions/auth.js
Labels: Component: Frontend

#5120 Add checkbox to redirect to previous project after unlocking task in another project
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/lockedTasks.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/tests/lockedTasks.test.js
Labels: Component: Frontend

#5094 Add tabs to preview markdown content for project detail comment section
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/messages.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
Labels: Component: Frontend

#5133 Fix active nav bar and tab indicator
  frontend/src/components/header/index.js
  frontend/src/components/menu.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/menu.test.js
  frontend/src/components/userDetail/headerProfile.js
Labels: Component: Frontend

#5134 Handle special chars in project search text
  backend/services/project_search_service.py
Labels: Component: Backend

#5136 Notifications Page Enhancement
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationOrderBy.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/components/notifications/paginator.js
  frontend/src/hooks/UseInboxQueryAPI.js
  frontend/src/views/notifications.js
Labels: Component: Frontend

#5141 Fit map bounds to just mapped/validated task(s)
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
Labels: Component: Frontend

#5095 Disable support to select username already in members
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/locales/en.json
  frontend/src/views/teams.js
Labels: Component: Frontend, Type: Translations

#5148 Fix displaced notification detail loading placeholder
  frontend/src/components/notifications/notificationBodyCard.js
Labels: Component: Frontend

#5152 Add radio button to validate all tasks at once
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/messages.js
Labels: Component: Frontend

#5153 Fixed conditionals for commend textarea outline
  frontend/src/components/comments/commentInput.js
Labels: Component: Frontend
