Repository hotosm/tasking-manager, pull requests merged in 2022-10, with the labels that each got.

#5376 Fix issue while relocking tasks for validation
  backend/models/postgis/task.py
  frontend/src/components/editor.js
  frontend/src/components/projectEdit/actionsForm.js
  frontend/src/components/rapidEditor.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/map.js
  frontend/src/config/index.js
  frontend/src/hooks/UseTaskContributionAPI.js
  frontend/src/locales/en.json
  frontend/src/store/actions/auth.js
Labels: Component: Frontend, Component: Backend, Type: Translations

#4599 Add stale filter to manage projects section
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: Component: Frontend

#5382 Display username and formatted relative time on task list tooltip
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend

#5383 Add button on dropdown option labels when editing team members list
  frontend/src/components/teamsAndOrgs/members.js
Labels: Component: Frontend

#5386 Implement a simple markdown editor with toolbar
  frontend/package.json
  frontend/src/assets/img/icons/youtube.svg
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/editorIconConfig.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/components/teamsAndOrgs/messageMembers.js
  frontend/src/views/teams.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript
