Repository hotosm/tasking-manager, pull requests merged in 2022-09, with the labels that each got.

#5337 Make Download Tasks Grid and Download AOI buttons available to all users
  frontend/src/components/projectDetail/index.js
Labels: Component: Frontend

#5338 Use useMatch to conditionally render footer
  frontend/src/components/footer/index.js
Labels: Component: Frontend

#5339 Add an icon to OSMCha filtered on their username
  frontend/src/assets/img/icons/osm-cha.png
  frontend/src/components/user/messages.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5351 Add height for swagger iframe for small screens
  frontend/src/assets/styles/_extra.scss
  frontend/src/views/swagger.js
Labels: Component: Frontend

#5278 Add popup on tasks mapped by you
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#5353 Display organization icon as inline block
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Frontend

#4615 Add Projects Stats to Organisation Stats Page
  backend/models/dtos/stats_dto.py
  backend/services/organisation_service.py
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/organisationProjectStats.js
  frontend/src/components/teamsAndOrgs/tests/organisationProjectStats.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
  frontend/src/utils/sorting.js
  frontend/src/utils/tests/sorting.test.js
  frontend/src/views/messages.js
  frontend/src/views/organisationStats.js
Labels: Component: Frontend, Component: Backend, Type: Translations

#5355 Add error handler for unauthorized requests
  backend/api/users/openstreetmap.py
  backend/services/users/authentication_service.py
  docs-old/error_code.md
  frontend/src/App.js
  frontend/src/index.js
  frontend/src/store/actions/auth.js
Labels: Component: Frontend, Component: Backend

#5366 Remove interestsLead message from WelcomeCard
  frontend/src/components/user/content.js
Labels: Component: Frontend

#5360 Fixes for oauth2
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#5367 Sort based on substring position asc in users filtering
  backend/models/postgis/user.py
Labels: Component: Backend
