Repository hotosm/tasking-manager, pull requests merged in 2022-11, with the labels that each got.

#5387 Fix endpoint to fetch user invalidated tasks
  backend/__init__.py
Labels: Component: Backend

#5378 Add feature to extend task lock time
  backend/__init__.py
  backend/api/tasks/actions.py
  backend/models/dtos/mapping_dto.py
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/extendSession.js
  frontend/src/components/taskSelection/messages.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/views/taskAction.js
Labels: Component: Frontend, Component: Backend, Status: In Progress

#5394 Allow '+' character in email address username
  frontend/src/components/user/forms/personalInformation.js
Labels: Component: Frontend

#5399 Add tm version to db using github workflow
  .github/workflows/add-version-to-db.yml
  backend/__init__.py
  backend/api/system/general.py
  backend/models/postgis/release_version.py
  migrations/versions/a9cbd2c6c213_.py
  tests/backend/api/system/test_general.py
Labels: Component: Infrastructure, Component: Backend

#5404 Update some styles for task selection page from Figma design
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/dropdown.js
  frontend/src/components/formInputs.js
  frontend/src/components/interests/index.js
  frontend/src/components/licenses/index.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/taskSelection/contributions.js
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/tabSelector.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/tabSelector.test.js
  frontend/src/components/teamsAndOrgs/campaigns.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
Labels: Component: Frontend

#5405 Include icons of types of mapping on the task action page
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend

#5401 Add handle to mention all contributors of a task
  backend/models/postgis/message.py
  backend/services/messaging/message_service.py
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/messages.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/locales/en.json
  frontend/yarn.lock
Labels: Component: Frontend, Component: Backend, dependencies, javascript, Type: Translations

#5411 Add icon on toolbar to upload an image for comment input
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/editorIconConfig.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
Labels: Component: Frontend

#5424 Display task instructions also when multiple tasks are selected
  frontend/src/components/taskSelection/action.js
Labels: Component: Frontend

#5426 Remove dependency on the visibility value to enable submit button
  frontend/src/components/formInputs.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/teams.js
Labels: Component: Frontend

#5430 Fix the relative path to navigate to when clicking outside the notification modal
  frontend/src/components/notifications/notificationBodyCard.js
Labels: Component: Frontend
