Repository hotosm/tasking-manager, pull requests merged in 2023-04, with the labels that each got.

#5670 Switch to OIDC to authenticate CircleCI to AWS
  .circleci/config.yml
Labels: Type: Enhancement, Component: Infrastructure, Security, Continuous Integration

#5679 Revert stats implementation to previous version
  backend/models/dtos/stats_dto.py
  backend/services/stats_service.py
  tests/backend/integration/api/projects/test_contributions.py
Labels: Component: Backend

#5682 Adjust CircleCI badge style for consistency
  README.md
Labels: Type: Enhancement, Component: Documentation

#5683 Fix OpsGenie API Key ENVVAR interpolation
  .circleci/config.yml
Labels: Component: Infrastructure, Continuous Integration

#5684 Remove pip upgrade awscli
  .circleci/config.yml
Labels: Type: Enhancement, Component: Infrastructure, Continuous Integration

#5674 Use createBrowserRouter from React Router
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/footer/index.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/index.js
  frontend/src/routes.js
  frontend/src/views/root.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5687 Enhance/remove codedeploy pipelines
  .circleci/config.yml
  appspec.yml
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Priority: Medium, Component: Infrastructure, Status: Done, Assigned: hot_tech, Needs Discussion, Continuous Integration

#5689 Parameterise Backend AMI and Instance Type
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Priority: Medium, Component: Infrastructure, Assigned: hot_tech, Needs Discussion

#5690 Fix javascript syntax
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Bug, Assigned: hot_tech

#5692 Improve security parameters for AWS CloudFront
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Priority: High, Component: Infrastructure, Assigned: hot_tech, Security

#5693 Add IPv6 route to Frontend CloudFront CDN
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Priority: Medium, Component: Infrastructure, Assigned: hot_tech

#5695 Add IPv6 route to Frontend CloudFront CDN
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Component: Frontend, Priority: Medium, Assigned: hot_tech

#5697 Secure and make Frontend S3 bucket private
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Priority: Medium, Component: Infrastructure, Assigned: hot_tech

#5620 Allow validator to revalidate task they have requested revalidation
  backend/models/postgis/task.py
Labels: Component: Backend

#5704 Syntactic sugar - simplify template
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Type: Enhancement, Component: Infrastructure, Priority: Low, Assigned: hot_tech, Needs Discussion

#5713 Update tests for notifications page and its components (Part 1/2)
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationBodyCard.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/components/notifications/tests/deleteNotificationsButton.test.js
  frontend/src/components/notifications/tests/inboxNav.test.js
  frontend/src/components/notifications/tests/notificationCard.test.js
  frontend/src/components/notifications/tests/notificationResults.test.js
  frontend/src/components/svgIcons/refresh.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/notifications.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/notifications.js
  frontend/src/views/tests/notifications.test.js
Labels: Component: Frontend, Type: Translations

#5718 Add spacing to no unread messages
  frontend/src/components/notifications/notificationResults.js
Labels: Component: Frontend, Component: UI/UX

#5636 Remove redundant TeamsRestAPI Post method
  backend/__init__.py
  backend/api/teams/resources.py
Labels: Component: Backend

#5720 Use window object to generate copy URLs for tasks and organizations
  frontend/package.json
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/taskList.js
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/components/taskSelection/tests/taskList.test.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/user/content.js
  frontend/src/components/user/tests/content.test.js
  frontend/src/views/tests/organisationManagement.test.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript
