Repository hotosm/tasking-manager, pull requests merged in 2023-02, with the labels that each got.

#5551 Add textfield to search for team members on the team detail page
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
Labels: Component: Frontend

#5552 Fix project header boxes to be next to project title
  frontend/src/components/projectDetail/header.js
Labels: Component: Frontend

#5556 Fix unread notification count on popup
  frontend/src/components/header/notificationBell.js
  frontend/src/components/notifications/deleteNotificationsButton.js
  frontend/src/components/notifications/inboxNav.js
  frontend/src/components/notifications/messages.js
  frontend/src/components/notifications/notificationCard.js
  frontend/src/components/notifications/notificationResults.js
  frontend/src/hooks/UseFetch.js
  frontend/src/locales/en.json
  frontend/src/store/actions/notifications.js
  frontend/src/store/reducers/notifications.js
  frontend/src/views/notifications.js
Labels: Component: Frontend, Type: Translations

#5557 Update nav learn link to not have type param
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItems.test.js
Labels: Component: Frontend

#5558 Fix failing project contrib tests after #5489 merge
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/api/projects/test_contributions.py
  tests/backend/integration/api/projects/test_resources.py
Labels: Component: Backend

#5562 Bump use-query-params from 1.2.2 to 2.1.2 in /frontend
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/contributions/tests/myTasksNav.test.js
  frontend/src/components/projects/tests/myProjectNav.test.js
  frontend/src/views/tests/contributions.test.js
  frontend/src/views/tests/project.test.js
  frontend/src/views/tests/stats.test.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5571 Brush up on responsiveness of the navigation bar
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/header/burgerMenu.js
  frontend/src/components/header/index.js
  frontend/src/components/header/notificationBell.js
  frontend/src/components/header/styles.scss
  frontend/src/components/horizontalScroll/index.js
  frontend/src/components/horizontalScroll/styles.scss
  frontend/src/components/localeSelect.js
  frontend/src/components/projectDetail/footer.js
Labels: Component: Frontend

#5579 Update tests for some smaller miscellaneous components
  frontend/src/App.js
  frontend/src/components/banner/tests/topBanner.test.js
  frontend/src/components/banner/topBanner.js
  frontend/src/network/tests/mockData/miscellaneous.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/fallback.js
  frontend/src/views/notFound.js
  frontend/src/views/tests/fallback.test.js
  frontend/src/views/tests/notFound.test.js
Labels: Component: Frontend

#5561 Add pagination and member filters in teams all api
  backend/api/teams/resources.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/team.py
  backend/services/team_service.py
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
  frontend/src/components/user/avatar.js
  frontend/src/views/management.js
  frontend/src/views/notifications.js
  frontend/src/views/teams.js
  frontend/src/views/tests/teams.test.js
  tests/backend/unit/services/test_team_service.py
Labels: Component: Frontend, Component: Backend

#5581 Bump react-final-form from 6.5.3 to 6.5.9 and final-form from 4.20.2 to 4.20.8 in /frontend
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5582 Bump all Turf modules to 6.5.0
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5580 Revise conditionals for displaying the JOSM error on modal
  frontend/src/components/taskSelection/lockedTasks.js
Labels: Component: Frontend

#5572 Add tests for endpoints associated with the tasks section
  backend/api/tasks/resources.py
  backend/api/tasks/statistics.py
  backend/api/utils.py
  backend/services/mapping_service.py
  backend/services/validator_service.py
  tests/backend/base.py
  tests/backend/helpers/test_helpers.py
  tests/backend/integration/api/tasks/test_actions.py
  tests/backend/integration/api/tasks/test_resources.py
  tests/backend/integration/api/tasks/test_statistics.py
  tests/backend/unit/services/test_mapping_service.py
Labels: Component: Backend

#5588 Update tests for projects list page
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/projectSearchBox.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/tests/filterSelectFields.test.js
  frontend/src/components/projects/tests/mappingTypeFilterPicker.test.js
  frontend/src/components/projects/tests/moreFiltersForm.test.js
  frontend/src/components/projects/tests/myProjectNav.test.js
  frontend/src/components/projects/tests/orderBy.test.js
  frontend/src/components/projects/tests/projectNav.test.js
  frontend/src/components/projects/tests/projectSearchBox.test.js
  frontend/src/components/projects/tests/projectSearchResults.test.js
  frontend/src/components/projects/tests/projectsMap.test.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/network/tests/server.js
  frontend/src/views/project.js
  frontend/src/views/tests/project.test.js
Labels: Component: Frontend

#5603 Add and use local image for OSI logo in About page
  frontend/src/assets/img/osi_standard_logo_0.png
  frontend/src/views/about.js
Labels: Component: Frontend

#5604 Replace textarea in message contributors section with the markdown editor
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/messages.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectEdit/actionsForm.js
Labels: Component: Frontend

#5608 Handle navigation from useEffect, not from conditional cases
  frontend/src/views/login.js
  frontend/src/views/organisationStats.js
Labels: Component: Frontend

#5609 Restart editor context on side panel toggle
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
Labels: Component: Frontend

#5612 Revise relative navigation links for action side bars
  frontend/src/components/taskSelection/actionSidebars.js
Labels: Component: Frontend

#5613 Display TopBanner only on the home page
  frontend/src/components/banner/tests/topBanner.test.js
  frontend/src/components/banner/topBanner.js
Labels: Component: Frontend
