Repository hotosm/tasking-manager, pull requests merged in 2023-10, with the labels that each got.

#6021 Restructured API endpoints for ohsomeNow stats
  example.env
  frontend/.env.expand
  frontend/src/api/stats.js
  frontend/src/components/homepage/stats.js
  frontend/src/components/homepage/styles.scss
  frontend/src/components/projectStats/edits.js
  frontend/src/components/projectStats/messages.js
  frontend/src/components/statsTimestamp/index.js
  frontend/src/components/statsTimestamp/messages.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/tests/featureStats.test.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/messages.js
  frontend/src/components/userDetail/tests/editByNumbers.test.js
  frontend/src/components/userDetail/tests/elementsMapped.test.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/network/tests/mockData/homepageStats.js
  frontend/src/network/tests/mockData/miscellaneous.js
  frontend/src/network/tests/mockData/userStats.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/internationalization.js
  frontend/src/views/home.js
  frontend/src/views/messages.js
  frontend/src/views/stats.js
  frontend/src/views/userDetail.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript, Type: Translations

#6076 Revert changes to yarn.lock in #6021
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#6080 Change value from `0` to `-` in My Contributions stats section
  frontend/src/components/userDetail/elementsMapped.js
Labels: Component: Frontend

#6084 Fix syntax error parsing JSON string
  backend/config.py
Labels: Type: Bug, Priority: High, Component: Backend

#6086 Update CircleCI AWS CLI Orb syntax
  .circleci/config.yml
Labels: Component: Infrastructure

#6089 fix: unable to access draft and private projects
  frontend/src/api/projects.js
Labels: Component: Frontend
