Repository hotosm/tasking-manager, pull requests merged in 2023-05, with the labels that each got.

#5708 Wait for RDS resources to become available
  .circleci/config.yml
Labels: Type: Enhancement, Component: Infrastructure, Priority: Low, Assigned: hot_tech, Continuous Integration

#5759 Fix footer collapse by wrapping root container with flex column
  frontend/src/views/root.js
Labels: Component: Frontend

#5749 Display TM stats on the landing page simultaneously
  frontend/src/components/homepage/stats.js
  frontend/src/components/homepage/tests/stats.test.js
  frontend/src/network/tests/mockData/miscellaneous.js
  frontend/src/network/tests/server-handlers.js
Labels: Component: Frontend

#5757 Display list view for projects only if the section is management
  frontend/src/components/projects/projectSearchResults.js
Labels: Component: Frontend

#5748 Refactor Redirect component to support dynamic URL parameters
  frontend/src/components/redirect.js
  frontend/src/components/tests/redirect.test.js
  frontend/src/routes.js
Labels: Component: Frontend

#5756 Display loading text when organisations and teams are loading under Permissions under project creation
  frontend/src/components/messages.js
  frontend/src/components/projectEdit/teamSelect.js
Labels: Component: Frontend

#5755 Use FallbackComponent when route throws an exception while rendering
  frontend/src/App.js
  frontend/src/routes.js
Labels: Component: Frontend

#5589 Use OIDC to securely connect CircleCI to AWS
  .circleci/config.yml
  .circleci/rdsid.sh
Labels: Type: Enhancement, Priority: High, Component: Infrastructure, Assigned: hot_tech, Continuous Integration

#5774 Quick and dirty fix for Maxar Premium imagery on Rapid
  frontend/package.json
  frontend/patch/rapid-imagery.min.json
Labels: Type: Bug, Component: Frontend

#5765 Use keys for comments from taskIds
  frontend/src/components/taskSelection/taskList.js
Labels: Component: Frontend

#5778 Add env variable POSTGRES_TEST_DB for test database name.
  backend/config.py
  example.env
Labels: Component: Backend

#5742 Add feature to delete project chat messages.
  backend/__init__.py
  backend/api/comments/resources.py
  backend/models/dtos/message_dto.py
  backend/models/postgis/project_chat.py
  backend/services/messaging/chat_service.py
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/tests/questionsAndComments.test.js
  frontend/src/components/taskSelection/tests/taskList.test.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/network/tests/server-handlers.js
  tests/backend/integration/api/comments/test_resources.py
  tests/backend/integration/services/messaging/test_chat_service.py
Labels: Component: Frontend, Component: Backend

#5779 Fix backend code formatting.
  tests/backend/integration/api/comments/test_resources.py
Labels: Component: Backend

#5184 build: update backend dependency management to pdm + dockerfile
  .circleci/config.yml
  .dockerignore
  .github/labeler.yml
  .gitignore
  Dockerfile
  backend/config.py
  docs-old/contributing-translation.md
  docs-old/review-pr.md
  docs-old/setup-development.md
  pdm.lock
  pyproject.toml
  scripts/aws/cloudformation/tasking-manager.template.js
  scripts/aws/packer/bootstrap.sh
  scripts/database/migration-from-tm2-postgres.sql
  scripts/docker/Dockerfile.backend
  scripts/docker/tasking-manager/Dockerfile
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
  tasking-manager.service
Labels: Component: Infrastructure, Priority: Critical, Component: Backend

#5775 Display project categories in the project detail page
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/tests/header.test.js
Labels: Component: Frontend

#5786 Add basic backend commands on PDM scripts.
  .gitignore
  docs-old/contributing-code.md
  docs-old/migration.md
  docs-old/review-pr.md
  docs-old/setup-development.md
  docs/developers/contributing-guidelines.md
  docs/developers/development-setup.md
  pdm.lock
  pyproject.toml
Labels: Component: Backend

#5791 Fix dependency mismatch between `requirements.txt` and `pyproject.toml`
  migrations/env.py
  pdm.lock
  pyproject.toml
  requirements.txt
  tests/backend/integration/services/test_mapping_service.py
Labels: Component: Backend

#5801 Fix timestamp suffix to avoid namespace collisions
  .circleci/config.yml
Labels: Type: Bug

#5760 Refactor country search for more precise matching
  backend/services/project_search_service.py
Labels: Component: Backend

#5809 Fix CFN helper script install directory
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Infrastructure

#5819 Add DB param group substitution
  .circleci/config.yml
Labels: Component: Infrastructure

#5726 Add notification toasts and alerts for error/success messages in the management section
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/alert/index.js
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/tests/index.test.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/teamsAndOrgs/messageMembers.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
  frontend/src/components/user/tests/list.test.js
  frontend/src/hooks/UseModifyMembers.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/management.js
  frontend/src/views/campaigns.js
  frontend/src/views/interests.js
  frontend/src/views/licenses.js
  frontend/src/views/messages.js
  frontend/src/views/organisationManagement.js
  frontend/src/views/teams.js
  frontend/src/views/tests/campaigns.test.js
  frontend/src/views/tests/interests.test.js
  frontend/src/views/tests/licenses.test.js
  frontend/src/views/tests/organisationManagement.test.js
  frontend/src/views/tests/teams.test.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5794 Add optional chaining to ensure availability of team list
  frontend/src/components/projectEdit/teamSelect.js
Labels: Component: Frontend

#5826 Enhance CircleCI workflow dependencies
  .circleci/config.yml
Labels: Component: Infrastructure

#5828 Remove legacy CircleCI build job
  .circleci/config.yml
Labels: Component: Infrastructure

#5834 Remove OpsGenie Webhook and maintain orb
  .circleci/config.yml
Labels: Component: Infrastructure

#5796 Handle tab selection for teams and orgs
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/organisations.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/views/organisationManagement.js
  frontend/src/views/teams.js
  frontend/src/views/tests/organisationManagement.test.js
Labels: Component: Frontend

#5842 Bump sentry-sdk on pyproject.toml
  pdm.lock
  pyproject.toml
Labels: dependencies

#5853 Assert function to send email/message is called after project chat is posted.
  tests/backend/integration/api/comments/test_resources.py
Labels: Component: Backend

#5808 Fix app configuration in create_app for testing.
  backend/__init__.py
  backend/config.py
  backend/services/messaging/message_service.py
  tests/backend/base.py
  tests/backend/integration/api/comments/test_resources.py
Labels: Component: Backend

#5855 Fix backend code formatting
  tests/backend/integration/api/comments/test_resources.py
Labels: Component: Backend

#5776 Add test cases for endpoints associated with system section.
  backend/api/system/authentication.py
  backend/api/system/general.py
  backend/api/system/image_upload.py
  backend/services/messaging/smtp_service.py
  backend/services/users/authentication_service.py
  tests/backend/integration/api/system/test_authentication.py
  tests/backend/integration/api/system/test_general.py
  tests/backend/integration/api/system/test_image_upload.py
  tests/backend/integration/api/system/test_statistics.py
Labels: Component: Backend

#5856 Fix backend code formatting
  tests/backend/integration/api/system/test_authentication.py
Labels: Component: Backend
