Repository hotosm/tasking-manager, pull requests merged in 2023-01, with the labels that each got.

#5485 Update tests for the campaigns, licenses, organizations, users and categories sections under the management area
  frontend/package.json
  frontend/src/components/deleteModal/tests/index.test.js
  frontend/src/components/taskSelection/tests/taskActivity.test.js
  frontend/src/components/teamsAndOrgs/tests/tasksStats.test.js
  frontend/src/components/user/list.js
  frontend/src/network/tests/mockData/management.js
  frontend/src/network/tests/mockData/miscellaneous.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/network/tests/mockData/userList.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/testWithIntl.js
  frontend/src/views/campaigns.js
  frontend/src/views/organisationManagement.js
  frontend/src/views/tests/campaigns.test.js
  frontend/src/views/tests/interests.test.js
  frontend/src/views/tests/licenses.test.js
  frontend/src/views/tests/organisationManagement.test.js
  frontend/src/views/tests/users.test.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5516 Revise styles for the project detail page
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/button.js
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/messages.js
  frontend/src/components/progressBar.js
  frontend/src/components/projectCard/projectProgressBar.js
  frontend/src/components/projectCard/tests/projectProgressBar.test.js
  frontend/src/components/projectDetail/bigProjectTeaser.js
  frontend/src/components/projectDetail/downloadButtons.js
  frontend/src/components/projectDetail/favorites.js
  frontend/src/components/projectDetail/footer.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/infoPanel.js
  frontend/src/components/projectDetail/questionsAndComments.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/projectDetail/styles.scss
  frontend/src/components/projectDetail/tests/favorites.test.js
  frontend/src/components/taskSelection/imagery.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/resourcesTab.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/user/tests/userAvatar.test.js
  frontend/src/hooks/UseAvatarStyle.js
  frontend/src/hooks/tests/UseAvatarStyle.test.js
  frontend/src/views/userDetail.js
Labels: Component: Frontend

#5521 Update test cases for statistics section under the management area
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/hooks/UseTasksStatsQueryAPI.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/tests/stats.test.js
Labels: Component: Frontend

#5522 Add link to HDYC Neis One profile from the user profile page
  frontend/src/assets/img/icons/hdyc-neis-one.png
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
Labels: Component: Frontend

#5525 Update test cases for projects section under the management area
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/tests/projectCard.test.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/tests/myProjectNav.test.js
  frontend/src/components/projects/tests/projectSearchResults.test.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/setupTests.js
  frontend/src/views/tests/project.test.js
Labels: Component: Frontend

#5530 Update tests for overview section under the management area
  frontend/src/components/teamsAndOrgs/projects.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/projects.test.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
  frontend/src/views/tests/management.test.js
Labels: Component: Frontend

#5531 Replace @mapbox/geo-viewport with @placemarkio/geo-viewport
  frontend/package.json
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/utils/tasksGeometry.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5533 Bump @sentry/tracing and @sentry/react from 7.24.2 to 7.31.0 in /frontend
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#5542 Fix issue with undo when multiple same status
  backend/services/mapping_service.py
Labels: Component: Backend

#5543 Always use English locale as country payload
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/teamsAndOrgs/tasksStats.js
  frontend/src/utils/countries.js
Labels: Component: Frontend

#5545 Add tests for footer component
  frontend/src/components/footer/index.js
  frontend/src/components/footer/tests/index.test.js
  frontend/src/components/header/index.js
  frontend/src/components/header/tests/menuItems.test.js
Labels: Component: Frontend

#5549 Update tests for the header and its components
  frontend/src/components/header/NavLink.js
  frontend/src/components/header/index.js
  frontend/src/components/header/notificationBell.js
  frontend/src/components/header/signUp.js
  frontend/src/components/header/tests/index.test.js
  frontend/src/components/header/tests/notificationBell.test.js
  frontend/src/components/header/tests/signUp.test.js
  frontend/src/components/header/tests/topBar.test.js
  frontend/src/components/header/tests/updateDialog.test.js
  frontend/src/components/header/tests/updateEmail.test.js
  frontend/src/components/header/updateDialog.js
  frontend/src/components/header/updateEmail.js
  frontend/src/components/user/avatar.js
  frontend/src/network/tests/mockData/auth.js
  frontend/src/network/tests/mockData/notifications.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/mockMatchMedia.js
  frontend/src/views/notifications.js
Labels: Component: Frontend
