Repository hotosm/tasking-manager, pull requests merged in 2024-07, with the labels that each got.

#6485 refac: Campaign, organisations and projects association delete apis a…
  backend/api/organisations/campaigns.py
  backend/api/projects/campaigns.py
  backend/api/projects/resources.py
  backend/api/projects/teams.py
  backend/api/teams/resources.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/campaign.py
  backend/models/postgis/project.py
  backend/models/postgis/task.py
  backend/services/campaign_service.py
  backend/services/organisation_service.py
  backend/services/project_admin_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/team_service.py
Labels: scope: backend

#6490 Fixes for Partners Page UI
  .github/pull_request_template.md
  .github/workflows/ecs-deploy.yml
  docs/sysadmins/ci-cd.md
  docs/sysadmins/deployment.md
  frontend/src/assets/styles/_colors.scss
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/footer/index.js
  frontend/src/components/formInputs.js
  frontend/src/components/partners/currentProjects.js
  frontend/src/components/partners/messages.js
  frontend/src/components/partners/partners.js
  frontend/src/components/partners/partnersActivity.js
  frontend/src/components/partners/partnersProgresBar.js
  frontend/src/components/partners/partnersResources.js
  frontend/src/components/partners/partnersStats.js
  frontend/src/components/partners/styles.scss
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/locales/en.json
  frontend/src/views/partnersManagement.js
  frontend/src/views/partnersStats.js
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: frontend, scope: infrastructure, scope: translations

#6494 Fix/pdm develop cherrypicked
  backend/models/postgis/project.py
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: infrastructure, scope: backend

#6414 Frontend tests now has parallel workers & removed cluttered warnings
  .circleci/config.yml
Labels: scope: infrastructure

#6498 Partners table atrributes lengths adjusted
  backend/models/postgis/partner.py
  migrations/versions/6276c258149c_.py
Labels: scope: backend

#6484 Fix mismatch value for language json file for Traditional Chinese
  frontend/src/utils/internationalization.js
Labels: scope: frontend

#6374 Use hotosm/gh-workflows for container img builds
  .github/workflows/docker-image-push.yml
Labels: scope: infrastructure

#6512 Use AWS SSM instead of static AMI for Ubuntu base image in cloudformation
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: infrastructure

#6515 Revert "Fix ssm permissions to pull the AMI"
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: infrastructure

#6493 Fix react-placeholder peerDependency conflict (React v18)
  frontend/package.json
  frontend/yarn.lock
  scripts/docker/Dockerfile.frontend
Labels: scope: frontend, scope: infrastructure, dependencies
