Repository hotosm/tasking-manager, pull requests merged in 2024-01, with the labels that each got.

#6182 Create Sponsorship Button
  .github/FUNDING.yml
Labels: infrastructure

#6176 Feat osm download
  example.env
  frontend/.env.expand
  frontend/src/assets/styles/index.scss
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/src/components/projectDetail/fileFormatCard.js
  frontend/src/components/projectDetail/footer.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/styles.scss
  frontend/src/components/svgIcons/download.js
  frontend/src/components/svgIcons/index.js
  frontend/src/config/index.js
Labels: codebase: frontend

#6186 fix: unit test fail for backend tasks/statistics
  tests/backend/integration/api/tasks/test_statistics.py
Labels: codebase: backend

#6153 feat: new active projects api for export tool
  backend/__init__.py
  backend/api/projects/resources.py
  backend/services/project_service.py
Labels: codebase: backend

#6190 fix: Add "apidocs" target to produce API documentation
  Makefile
  docs/Doxyfile
Labels: documentation

#6192 Add doc on the database schema
  docs/developers/tmschema.md
Labels: documentation

#6191 Add Mkdocs support
  docs/LICENSE.md
  docs/about.md
  docs/images/hot_logo.png
  docs/images/logo-square.png
  docs/images/screenshot.jpg
  docs/images/tm-architecture.svg
  docs/index.md
  mkdocs.yml
  pyproject.toml
Labels: documentation

#6196 Fix : Bug : Multiple download on links : Download service
  frontend/src/components/projectDetail/downloadOsmData.js
Labels: codebase: frontend

#6201 Update working-groups.md
  docs-old/working-groups.md
Labels: documentation

#6203 Update docs on PR handling
  docs-old/assets/TM ERD.drawio
  docs-old/assets/Tasking Manager.svg
  docs-old/assets/osm-oauth-settings.jpg
  docs-old/assets/project-view.gif
  docs-old/erd.md
  docs-old/migration.md
  docs-old/review-pr.md
  docs-old/setup-development.md
  docs/developers/error_code.md
  docs/developers/review-pr.md
  docs/developers/submit-pr.md
  docs/sysadmins/architecture.md
  docs/sysadmins/customize.md
  docs/sysadmins/migration.md
  docs/working-groups.md
Labels: documentation

#6206 fix: Fix relative links, add new docs to the menu
  README.md
  docs/about.md
  docs/index.md
  docs/sysadmins/migration.md
  mkdocs.yml
Labels: documentation

#6205 Enhance : Download link for Exports
  frontend/src/components/projectDetail/downloadOsmData.js
Labels: codebase: frontend

#6215 Add doc to explain diagrams
  docs/about.md
  docs/dataflow.md
  docs/developers/code_of_conduct.md
  docs/developers/contributing.md
  docs/developers/development-setup.md
  docs/index.md
  docs/sysadmins/architecture.md
  docs/sysadmins/migration.md
  mkdocs.yml
Labels: documentation

#6225 Fix version of black to last working version
  .circleci/config.yml
Labels: infrastructure

#6222 Feature/OSM Download meta data integration
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/src/components/projectDetail/fileFormatCard.js
  frontend/src/components/projectDetail/styles.scss
  frontend/src/utils/formatBytes.js
Labels: codebase: frontend
