Repository hotosm/tasking-manager, pull requests merged in 2024-04, with the labels that each got.

#6315 Feature/live monitoring DQ
  example.env
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/config/index.js
  frontend/src/config/underpass.js
  frontend/src/hooks/UseHasLiveMonitoringFeature.js
  frontend/src/routes.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: codebase: frontend, dependencies, javascript

#6314 Feature/6303 restrict live monitoring on expert mode
  frontend/src/components/projectDetail/index.js
  frontend/src/config/underpass.js
  frontend/src/hooks/UseHasLiveMonitoringFeature.js
  frontend/src/views/projectLiveMonitoring.js
Labels: codebase: frontend

#6322 Add `Edit Project` button on `Task Selection` page
  frontend/src/components/taskSelection/index.js
Labels: codebase: frontend

#6323 Change `Twitter Icon` to `X`
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/twitter.js
  frontend/src/components/svgIcons/twitterNoBg.js
  frontend/src/components/userDetail/headerProfile.js
Labels: codebase: frontend

#6300 feat: ohsome proxy api for user stats
  backend/__init__.py
  backend/api/users/statistics.py
  backend/config.py
  frontend/src/api/stats.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/config/index.js
  frontend/src/network/genericJSONRequest.js
Labels: codebase: frontend, codebase: backend

#6312 fix: image displaying in email content for comments
  backend/services/messaging/message_service.py
Labels: codebase: backend

#6330 Publish Data quality and other changes to staging site
  .github/dependabot.yml
  backend/__init__.py
  backend/api/users/statistics.py
  backend/config.py
  backend/services/messaging/message_service.py
  example.env
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/api/stats.js
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/twitter.js
  frontend/src/components/svgIcons/twitterNoBg.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/config/index.js
  frontend/src/config/underpass.js
  frontend/src/hooks/UseHasLiveMonitoringFeature.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/routes.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: codebase: frontend, infrastructure, codebase: backend, dependencies, javascript

#6343 Fix Project Instructions not picking up user opted language issue
  frontend/src/api/projects.js
Labels: codebase: frontend

#6351 Merge to main in preparation for release v4.7.2
  frontend/src/api/projects.js
Labels: codebase: frontend

#6344 Add default changeset comment from env in ohsome API
  frontend/src/api/stats.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/config/index.js
  frontend/src/network/tests/server-handlers.js
Labels: codebase: frontend
