Repository hotosm/tasking-manager, pull requests merged in 2024-05, with the labels that each got.

#6397 Fixes: Circle CI and Docker build failing due to unupdated version of node
  .circleci/config.yml
  docs/developers/development-setup.md
  frontend/package.json
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: codebase: frontend, infrastructure

#6399 Delete .github/dependabot.yml
  .github/dependabot.yml
Labels: dependencies, infrastructure

#6401 Fix for loading Live Monitoring View
  frontend/src/views/projectLiveMonitoring.js
Labels: scope: frontend, status: done, data-quality, underpass-api, upcoming release 🔜

#6375 feat: fixed osm download destroy issue
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies, ui/ux 👥

#6406 + Configurable project's hashtag on Live Monitoring
  frontend/src/views/projectLiveMonitoring.js
Labels: type: enhancement, scope: frontend, data-quality, ui/ux 👥

#6403 Add `AWS Logo` to footer
  frontend/src/components/footer/index.js
  frontend/src/components/footer/styles.scss
Labels: scope: frontend

#6325 Optimize API calls and Redesign `More Filter` section of `Explore projects`
  frontend/src/api/projects.js
  frontend/src/components/header/index.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/projectNav.js
  frontend/src/views/project.js
  frontend/src/views/tests/project.test.js
Labels: type: enhancement, scope: frontend, good first issue, status: testing, upcoming release 🔜

#6376 Validate project name while creating/editing project
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/messages.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/views/projectEdit.js
Labels: scope: frontend, status: testing, upcoming release 🔜

#6421 Fix/ohsome envvar infra
  .github/pull_request_template.md
  docs/sysadmins/ci-cd.md
  docs/sysadmins/deployment.md
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: infrastructure

#6426 Fix TM crash issue when language switched to Nederlands
  frontend/src/utils/countries.js
  frontend/src/utils/internationalization.js
  frontend/src/utils/tests/internationalization.test.js
Labels: scope: frontend

#6430 Fix map page crash due to unsupported language error
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/hooks/UseMapboxSupportedLanguage.js
Labels: scope: frontend, status: testing

#6446 hot-fix: migrations error fix for multiple entry
  migrations/versions/451f6bd05a19_.py
Labels: scope: backend

#6445 Fix project name validation error on cloning project
  frontend/src/components/projectCreate/index.js
Labels: scope: frontend

#6202 Update Rapid to v2.3.1 from v2.2.5
  example.env
  frontend/.env.expand
  frontend/package.json
  frontend/src/components/rapidEditor.js
  frontend/src/config/index.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: scope: frontend, priority: high, dependencies, status: testing, external tools, Rapid, upcoming release 🔜
