Repository hotosm/tasking-manager, pull requests merged in 2024-03, with the labels that each got.

#6256 Unlock tasks after validation using in parallel using python threads
  backend/models/postgis/task.py
  backend/models/postgis/user.py
  backend/services/stats_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
  tests/backend/integration/api/tasks/test_actions.py
Labels: codebase: backend

#6272 Add container image CI workflows
  .github/workflows/docker-image-push.yml
Labels: infrastructure

#6282 Fix dev swagger docs, update example env defaults
  docker-compose.yml
  docs/developers/development-setup.md
  example.env
Labels: infrastructure

#6263 Update docker dev setup and docs
  .gitignore
  Dockerfile
  docker-compose.override.sample.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/developers/development-setup.md
  example.env
  scripts/docker/Dockerfile.frontend_development
Labels: infrastructure

#6290 Add a pull request template
  .github/pull_request_template.md
Labels: infrastructure

#6289 Fix/ faster load project list with no map omit
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: codebase: frontend

#6269 Redesign `User Stats` page
  frontend/src/api/stats.js
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/projectStats/tests/edits.test.js
  frontend/src/components/statsCard.js
  frontend/src/components/statsTimestamp/index.js
  frontend/src/components/teamsAndOrgs/tests/featureStats.test.js
  frontend/src/components/userDetail/editsByNumbers.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/components/userDetail/tests/editByNumbers.test.js
  frontend/src/components/userDetail/tests/elementsMapped.test.js
  frontend/src/views/tests/contributions.test.js
  frontend/src/views/tests/stats.test.js
  frontend/src/views/tests/userDetail.test.js
  frontend/src/views/userDetail.js
Labels: codebase: frontend

#6217 Fix `404 Network Error` in `Comments Section`
  frontend/src/components/comments/commentInput.js
Labels: codebase: frontend

#6304 hotfix: backend tests failing due to Nominatim server error:403
  backend/models/postgis/project.py
Labels: codebase: backend

#6306 Revert "Live Monitoring View"
  example.env
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/config/index.js
  frontend/src/routes.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: codebase: frontend, dependencies, javascript

#6297 Disabling PRs from dependabot
  .github/dependabot.yml
Labels: infrastructure
