Repository hotosm/tasking-manager, pull requests merged in 2024-09, with the labels that each got.

#6436 Cleanup backend dockerfile
  scripts/docker/Dockerfile.backend
Labels: scope: infrastructure

#6331 Remove docs info about running independent dockerised postgres
  docs/developers/development-setup.md
Labels: scope: documentation, dev-setup 🛠️

#6510 fix: db container healthchecks that was earlier broken
  docker-compose.yml
Labels: scope: infrastructure

#6554 Cleanup dockerfiles, remove duplicates, upgrade PDM
  .circleci/config.yml
  Dockerfile
  pdm.lock
  scripts/aws/cloudformation/tasking-manager.template.js
  scripts/docker/Dockerfile.backend
  scripts/docker/tasking-manager/Dockerfile
Labels: scope: infrastructure, priority: low, dev-setup 🛠️, docker 🐳

#6559 Temporarily disable automatic deployment of dev branch to servers for e2e testing
  .circleci/config.yml
Labels: scope: infrastructure

#6561 Similar and Popular projects apis refactored and heartbeat api fixed
  backend/api/projects/resources.py
  backend/api/projects/statistics.py
  backend/api/system/general.py
  backend/services/recommendation_service.py
  backend/services/stats_service.py
Labels: scope: backend

#6504 Project summary table view
  backend/api/projects/resources.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/project.py
  backend/services/project_search_service.py
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/components/formInputs.js
  frontend/src/components/progressBar.js
  frontend/src/components/projectCard/priorityBox.js
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projectEdit/partnersForm.js
  frontend/src/components/projectEdit/partnersListing.js
  frontend/src/components/projects/downloadAsCSV.js
  frontend/src/components/projects/exploreProjectsTable.css
  frontend/src/components/projects/exploreProjectsTable.js
  frontend/src/components/projects/list.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/moreFiltersForm.js
  frontend/src/components/projects/myProjectNav.js
  frontend/src/components/projects/orderBy.js
  frontend/src/components/projects/partnersFilterSelect.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/tests/toggles.test.js
  frontend/src/components/svgIcons/download.js
  frontend/src/components/svgIcons/grid.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/tableList.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/views/project.js
  frontend/yarn.lock
Labels: scope: frontend, scope: backend, dependencies

#6564 Fastapi api migration fixes
  backend/models/dtos/campaign_dto.py
  backend/models/dtos/organisation_dto.py
Labels: scope: backend

#6565 Fastapi refactor
  backend/api/annotations/resources.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/projects/favorites.py
  backend/api/users/actions.py
  backend/api/users/resources.py
  backend/models/dtos/message_dto.py
  backend/models/dtos/project_dto.py
  backend/models/postgis/message.py
  backend/models/postgis/notification.py
  backend/models/postgis/project.py
  backend/routes.py
  backend/services/interests_service.py
  backend/services/messaging/message_service.py
  backend/services/notification_service.py
  backend/services/project_service.py
  backend/services/users/user_service.py
  docs/LICENSE.md
Labels: scope: backend

#6566 fix: system and related api's migration
  backend/__init__.py
  backend/api/issues/resources.py
  backend/api/notifications/resources.py
  backend/api/projects/resources.py
  backend/api/system/applications.py
  backend/api/system/authentication.py
  backend/api/system/banner.py
  backend/api/system/general.py
  backend/api/system/image_upload.py
  backend/api/system/statistics.py
  backend/api/teams/resources.py
  backend/api/users/actions.py
  backend/api/users/openstreetmap.py
  backend/api/users/resources.py
  backend/api/users/statistics.py
  backend/api/users/tasks.py
  backend/config.py
  backend/db.py
  backend/main.py
  backend/models/dtos/__init__.py
  backend/models/dtos/application_dto.py
  backend/models/dtos/banner_dto.py
  backend/models/postgis/application.py
  backend/models/postgis/banner.py
  backend/models/postgis/release_version.py
  backend/models/postgis/task.py
  backend/models/postgis/user.py
  backend/models/postgis/utils.py
  backend/routes.py
  backend/services/application_service.py
  backend/services/campaign_service.py
  backend/services/mapping_issues_service.py
  backend/services/messaging/chat_service.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/messaging/template_service.py
  backend/services/project_admin_service.py
  backend/services/project_service.py
  backend/services/stats_service.py
  backend/services/users/authentication_service.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  migrations/env.py
  pdm.lock
  pyproject.toml
Labels: scope: backend

#6562 Redesign Leaderboard Stats Banner
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/button.js
  frontend/src/components/partners/customDropdown.js
  frontend/src/components/partners/leaderboard.js
  frontend/src/components/partners/partners.js
  frontend/src/components/partners/partnersResources.js
  frontend/src/components/partners/styles.scss
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/partnersStats.js
Labels: scope: frontend, scope: translations

#6551 iD editor upgrade to v2.30.2
  frontend/craco.config.js
  frontend/package.json
  frontend/patch/imagery.min.json
  frontend/src/components/taskSelection/tests/imagery.test.js
  frontend/src/hooks/UseImageryOption.js
  frontend/src/hooks/tests/UseImageryOption.test.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6571 Fastapi refactor
  backend/api/tasks/actions.py
  backend/models/postgis/message.py
  backend/models/postgis/task.py
  backend/models/postgis/user.py
  backend/services/mapping_service.py
  backend/services/messaging/message_service.py
  backend/services/project_service.py
  backend/services/stats_service.py
  backend/services/users/user_service.py
  backend/services/validator_service.py
Labels: scope: backend

#6572 Fastapi api migration fixes
  backend/api/issues/resources.py
  backend/api/system/general.py
  backend/api/users/actions.py
  backend/api/users/resources.py
  backend/api/users/statistics.py
  backend/api/users/tasks.py
  backend/config.py
  backend/models/dtos/banner_dto.py
  backend/models/dtos/mapping_issues_dto.py
  backend/models/dtos/stats_dto.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/mapping_issues.py
  backend/models/postgis/user.py
  backend/routes.py
  backend/services/mapping_issues_service.py
  backend/services/stats_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
Labels: scope: backend

#6576 Fastapi api migration fixes
  backend/api/issues/resources.py
  backend/api/projects/teams.py
  backend/api/system/general.py
  backend/api/teams/actions.py
  backend/api/teams/resources.py
  backend/api/users/resources.py
  backend/api/users/tasks.py
  backend/models/dtos/banner_dto.py
  backend/models/dtos/message_dto.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/message.py
  backend/models/postgis/organisation.py
  backend/models/postgis/project.py
  backend/models/postgis/team.py
  backend/services/messaging/message_service.py
  backend/services/project_search_service.py
  backend/services/team_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
Labels: scope: backend

#6579 Fastapi refactor
  backend/api/tasks/actions.py
  backend/models/dtos/mapping_dto.py
  backend/models/dtos/project_dto.py
  backend/models/dtos/validator_dto.py
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  backend/services/validator_service.py
Labels: scope: backend
