Repository hotosm/tasking-manager, pull requests merged in 2024-11, with the labels that each got.

#6612 v4.8.2 on staging
  .circleci/config.yml
  backend/__init__.py
  backend/api/partners/statistics.py
  backend/models/dtos/partner_stats_dto.py
  backend/services/mapswipe_service.py
  example.env
  frontend/package.json
  frontend/src/components/partnerMapswipeStats/contributionsGrid.js
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.css
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/partnerMapswipeStats/groupMembers.css
  frontend/src/components/partnerMapswipeStats/groupMembers.js
  frontend/src/components/partnerMapswipeStats/messages.js
  frontend/src/components/partnerMapswipeStats/overview.js
  frontend/src/components/partnerMapswipeStats/projectTypeAreaStats.js
  frontend/src/components/partnerMapswipeStats/swipesByOrganization.js
  frontend/src/components/partnerMapswipeStats/swipesByProjectType.js
  frontend/src/components/partnerMapswipeStats/timeSpentContributing.js
  frontend/src/components/partnerMapswipeStats/timeSpentContributingByDay.js
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/statsCard.js
  frontend/src/components/svgIcons/checksGrid.js
  frontend/src/components/svgIcons/columnsGap.js
  frontend/src/components/svgIcons/emptySet.js
  frontend/src/components/svgIcons/fullscreen.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/people.js
  frontend/src/components/svgIcons/swipe.js
  frontend/src/components/svgIcons/zoomMinus.js
  frontend/src/components/taskSelection/action.js
  frontend/src/config/index.js
  frontend/src/locales/en.json
  frontend/src/utils/editorsList.js
  frontend/src/utils/tests/editorsList.test.js
  frontend/src/views/messages.js
  frontend/src/views/partnersMapswipeStats.css
  frontend/src/views/partnersMapswipeStats.js
  frontend/src/views/partnersStats.js
  frontend/yarn.lock
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: frontend, scope: infrastructure, scope: backend, dependencies, scope: translations

#6613 Project clone and transfer project ownership refactored
  backend/api/projects/actions.py
  backend/api/projects/resources.py
  backend/models/postgis/project.py
  backend/services/project_admin_service.py
Labels: scope: backend

#6607 typo fixed in FR translation
  frontend/src/locales/fr.json
Labels: scope: frontend, scope: translations

#6616 Split task url and geom fixed
  backend/api/tasks/actions.py
  backend/services/grid/split_service.py
Labels: scope: backend

#6627 Register user, retrieve org by id and slug and user interests refactored
  backend/api/comments/resources.py
  backend/api/organisations/resources.py
  backend/models/dtos/interests_dto.py
  backend/models/dtos/message_dto.py
  backend/models/postgis/project.py
  backend/models/postgis/utils.py
  backend/services/interests_service.py
  backend/services/messaging/message_service.py
  backend/services/messaging/smtp_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
Labels: scope: backend

#6592 View Task Instructions without login
  frontend/src/api/projects.js
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/footer.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/components/projectDetail/styles.scss
  frontend/src/components/taskSelection/footer.js
  frontend/src/components/taskSelection/index.js
  frontend/src/components/taskSelection/tabSelector.js
  frontend/src/components/taskSelection/tests/footer.test.js
  frontend/src/components/taskSelection/tests/index.test.js
  frontend/src/components/taskSelection/tests/tabSelector.test.js
  frontend/src/hooks/UseFilterContributors.js
  frontend/src/routes.js
  frontend/src/views/taskSelection.js
  frontend/src/views/tests/taskSelection.test.js
Labels: scope: frontend

#6601 Enhancements in Partner Stats MapSwipe page
  frontend/src/components/homepage/stats.js
  frontend/src/components/partnerMapswipeStats/overview.js
  frontend/src/components/partnerMapswipeStats/projectTypeAreaStats.js
  frontend/src/components/partnerMapswipeStats/swipesByOrganization.js
  frontend/src/components/partnerMapswipeStats/swipesByProjectType.js
  frontend/src/components/partners/leaderboard.js
  frontend/src/components/partners/partners.js
  frontend/src/components/partners/partnersStats.js
  frontend/src/components/projectStats/edits.js
  frontend/src/components/statsInfoFooter/index.jsx
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/views/home.js
  frontend/src/views/partnersMapswipeStats.css
  frontend/src/views/partnersMapswipeStats.js
  frontend/src/views/partnersMapswipeStats.scss
  frontend/src/views/partnersStats.js
Labels: scope: frontend

#6632 fix: Join team by request
  backend/api/teams/actions.py
  backend/services/messaging/message_service.py
  backend/services/team_service.py
Labels: scope: backend

#6642 * Send message to contributors and background task. * Image upload in comment section. * Last updated utc serialization in my tasks of my contributions
  backend/api/projects/actions.py
  backend/api/system/image_upload.py
  backend/api/users/tasks.py
  backend/models/dtos/mapping_dto.py
  backend/models/postgis/task.py
  backend/services/messaging/message_service.py
  backend/services/validator_service.py
Labels: scope: backend

#6645 Add PYTHONPATH and bind mount for migrations
  Dockerfile
  docker-compose.yml
Labels: scope: infrastructure
