Repository hotosm/tasking-manager, pull requests merged in 2024-02, with the labels that each got.

#6234 Configurable devevelopment port & documentation updates
  .circleci/config.yml
  docker-compose.yml
  docs/developers/development-setup.md
  example.env
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
Labels: infrastructure

#6231 fix: footer dynamic on visibility with boolean key
  frontend/src/components/projectDetail/footer.js
Labels: codebase: frontend

#6239 Feature: Matomo Track for OSM Downloads
  frontend/src/components/projectDetail/downloadOsmData.js
Labels: codebase: frontend

#6240 Update Matomo Configurations
  frontend/public/index.html
Labels: codebase: frontend

#6236 Remove `Missing Maps` link and fix tests
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/views/tests/contributions.test.js
Labels: codebase: frontend

#6213 Fix `Project Stats` page crash issue for `Archived` projects
  frontend/src/components/projectStats/contributorsStats.js
Labels: codebase: frontend

#6211 fix/6209 comment reset on mouse drag outside popup
  frontend/src/components/taskSelection/taskList.js
  frontend/src/hooks/UseCloseOnDocumentClick.js
Labels: codebase: frontend

#6247 Enhance : Active Projects API
  backend/services/project_service.py
Labels: codebase: backend

#5964 Fix chartjs warnings
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/timeline.js
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/teamsAndOrgs/tasksStatsChart.js
  frontend/src/components/teamsAndOrgs/tests/tasksStats.test.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/utils/chart.js
  frontend/src/views/tests/project.test.js
Labels: codebase: frontend
