Repository hotosm/tasking-manager, pull requests merged in 2024-06, with the labels that each got.

#6444 fix: Exception handled for multiple entries found for task invalidati…
  backend/models/postgis/task.py
Labels: scope: backend

#6450 feat: Campaigns get api for fastapi app
  backend/api/campaigns/resources.py
  backend/models/dtos/campaign_dto.py
  backend/models/postgis/campaign.py
  backend/services/campaign_service.py
Labels: scope: backend

#6447 Update AWS resource tags for cost tracking
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: scope: infrastructure

#6454 feat: Async post for campaigns api
  backend/api/campaigns/resources.py
  backend/api/system/authentication.py
  backend/models/dtos/campaign_dto.py
  backend/models/postgis/organisation.py
  backend/services/campaign_service.py
  backend/services/organisation_service.py
  backend/services/users/authentication_service.py
  backend/services/users/user_service.py
Labels: scope: backend

#6449 Partner Leaderboard #2
  backend/__init__.py
  backend/api/partners/__init__.py
  backend/api/partners/resources.py
  backend/models/dtos/partner_dto.py
  backend/models/postgis/partner.py
  backend/services/partner_service.py
  docs/developers/development-setup.md
  frontend/package.json
  frontend/src/assets/img/learn-MapNow.svg
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/header/messages.js
  frontend/src/components/partners/currentProjects.js
  frontend/src/components/partners/messages.js
  frontend/src/components/partners/partners.js
  frontend/src/components/partners/partnersActivity.js
  frontend/src/components/partners/partnersProgresBar.js
  frontend/src/components/partners/partnersResources.js
  frontend/src/components/partners/partnersStats.js
  frontend/src/components/partners/styles.scss
  frontend/src/components/projectEdit/messages.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/menu.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/config/index.js
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/routes.js
  frontend/src/utils/management.js
  frontend/src/views/messages.js
  frontend/src/views/partnersManagement.js
  frontend/src/views/partnersStats.js
  frontend/yarn.lock
  migrations/versions/e8ffa33a9c18_.py
Labels: scope: frontend, scope: backend, dependencies, scope: translations

#6458 Fix for migration file for passing PEP8 test
  migrations/versions/e8ffa33a9c18_.py
Labels: scope: backend

#6459 Fix missing permissions check on Partners API
  backend/api/partners/resources.py
Labels: scope: backend

#6463 feat: Organisations get apis with statistics
  Dockerfile
  backend/api/organisations/resources.py
  backend/models/postgis/organisation.py
  backend/services/organisation_service.py
  docker-compose.yml
Labels: scope: infrastructure, scope: backend

#6470 feat: Organisations apis updated for managers, teams statistics and d…
  backend/api/organisations/resources.py
  backend/api/projects/teams.py
  backend/models/dtos/organisation_dto.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/organisation.py
  backend/models/postgis/project.py
  backend/models/postgis/team.py
  backend/services/organisation_service.py
  backend/services/users/user_service.py
  docker-compose.yml
Labels: scope: infrastructure, scope: backend

#6477 feat: Organisation post and patch patch apis
  backend/api/organisations/resources.py
  backend/api/projects/resources.py
  backend/api/projects/statistics.py
  backend/models/dtos/organisation_dto.py
  backend/models/postgis/organisation.py
  backend/models/postgis/task.py
  backend/models/postgis/user.py
  backend/services/campaign_service.py
  backend/services/organisation_service.py
  backend/services/project_service.py
Labels: scope: backend
