Repository hotosm/tasking-manager, pull requests merged in 2025-03, with the labels that each got.

#6777 Partner logo url changed to str instead of httpurl type
  backend/models/dtos/partner_dto.py
Labels: scope: backend

#6778 pre-commit over-indent check failure fixed
  backend/services/project_search_service.py
Labels: scope: backend

#6780 Locust removed, autoescape false on template service and refactor tes…
  backend/services/messaging/template_service.py
  scripts/locust/Dockerfile
  scripts/locust/docker-compose.yml
  scripts/locust/locust_requirements.txt
  scripts/locust/locustfile.py
  tests/api/conftest.py
Labels: scope: backend

#6783 Update example env, Add frontend to docker compose, Sentry dns made optional in config, organisation stats query fixed
  backend/config.py
  backend/services/organisation_service.py
  docker-compose.yml
  example.env
Labels: scope: infrastructure, scope: backend

#6787 Add develop environment for terragrunt config
  scripts/aws/infra/develop/deployment_env.hcl
  scripts/aws/infra/develop/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/extras/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/develop/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

#6784 feat: add option to enable or disable execute
  scripts/aws/infra/staging/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

#6788 chore(infra): freeze version for all infra modules
  scripts/aws/infra/develop/deployment_env.hcl
  scripts/aws/infra/develop/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/develop/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/develop/purgeable/ecs/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/staging/purgeable/common-ecs-env.hcl
  scripts/aws/infra/staging/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

#6785 Tasking manager fastapi
  backend/api/organisations/resources.py
  backend/api/tasks/actions.py
  backend/config.py
  backend/models/postgis/organisation.py
  backend/services/messaging/template_service.py
  backend/services/organisation_service.py
  docker-compose.yml
  example.env
Labels: scope: infrastructure, scope: backend

#6790 Merge `develop` to `staging`
  .github/workflows/backend-build-deploy.yml
  .github/workflows/frontend-build-deploy.yml
  example.env
  scripts/aws/infra/_envcommon/cloudfront.hcl
  scripts/aws/infra/_envcommon/s3.hcl
  scripts/aws/infra/develop/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/develop/non-purgeable/s3/terragrunt.hcl
  scripts/aws/infra/infra.env.example
  scripts/aws/infra/staging/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/s3/terragrunt.hcl
Labels: scope: infrastructure

#6791 * Mounts for dev setup* Dockerfile dev setup * Migration autogenerate env setup * Custom editor fixed * example env updated * Banner exception json response
  Dockerfile
  backend/api/system/banner.py
  backend/models/__init__.py
  backend/models/postgis/custom_editors.py
  backend/models/postgis/project.py
  docker-compose.yml
  example.env
  migrations/alembic.ini
  migrations/env.py
Labels: scope: infrastructure, scope: backend
