Repository hotosm/tasking-manager, pull requests merged in 2025-01, with the labels that each got.

#6641 Fix Team Members page issues
  .circleci/config.yml
  frontend/src/views/teams.js
Labels: scope: frontend, scope: infrastructure

#6671 Add Date Filter to MapSwipe Partners Page
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/partnerMapswipeStats/contributionsGrid.js
  frontend/src/components/partnerMapswipeStats/dateFilter.js
  frontend/src/components/partnerMapswipeStats/messages.js
  frontend/src/components/partnerMapswipeStats/overview.js
  frontend/src/views/partnersMapswipeStats.js
Labels: scope: frontend

#6675 Mapswipe changes on staging
  .circleci/config.yml
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/partnerMapswipeStats/contributionsGrid.js
  frontend/src/components/partnerMapswipeStats/dateFilter.js
  frontend/src/components/partnerMapswipeStats/messages.js
  frontend/src/components/partnerMapswipeStats/overview.js
  frontend/src/views/partnersMapswipeStats.js
  frontend/src/views/teams.js
Labels: scope: frontend, scope: infrastructure

#6678 fix: JS -> TS test migrations
  frontend/.env.expand
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/header/tests/index.test.jsx
  frontend/src/components/projectDetail/tests/questionsAndComments.test.jsx
  frontend/src/components/taskSelection/tests/action.test.tsx
  frontend/src/components/taskSelection/tests/taskStatus.test.jsx
  frontend/src/components/user/tests/list.test.jsx
  frontend/src/config/index.ts
  frontend/src/setup.ts
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/views/tests/userDetail.test.jsx
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6679 fix(frontend): package build folder
  frontend/package.json
Labels: scope: frontend

#6680 fix(ci/frontend): rename build folder
  .circleci/config.yml
Labels: scope: infrastructure

#6682 fix(frontend): Bump shpjs, ref in header
  frontend/package.json
  frontend/src/components/header/index.tsx
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6692 fix: update aws-actions/amazon-ecs-deploy-task-definition to v2
  .github/workflows/ecs-deploy.yml
Labels: ci/cd

#6693 Merge develop into typescript-vite
  README.md
  backend/__init__.py
  backend/api/teams/resources.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/team.py
  backend/services/project_search_service.py
  docs-old/releases.md
  frontend/src/components/teamsAndOrgs/members.jsx
  frontend/src/components/teamsAndOrgs/tests/members.test.jsx
  migrations/versions/8e5144b55919_.py
Labels: scope: frontend, scope: backend

#6696 typescript-vite: fix(frontend): i18n, projects list, icon, tasks
  frontend/src/api/projects.ts
  frontend/src/components/svgIcons/grid.tsx
  frontend/src/components/taskSelection/map.jsx
  frontend/src/utils/internationalization.jsx
Labels: scope: frontend

#6697 typescript-vite: fix(frontend): various further fixes/cleanups
  frontend/src/api/teams.ts
  frontend/src/components/projects/downloadAsCSV.jsx
  frontend/src/components/taskSelection/index.tsx
  frontend/src/components/taskSelection/lockedTasks.jsx
  frontend/src/components/taskSelection/tests/task.selection.test.jsx
Labels: scope: frontend

#6700 fix(frontend/tests): favorites test
  frontend/src/components/projectDetail/tests/favorites.test.jsx
Labels: scope: frontend, scope: infrastructure

#6702 Add `HOT Global Validators Team` by default for Validation Permission restricted to Teams
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/projectEdit/teamSelect.js
Labels: scope: frontend

#6711 typescript-vite: fix,chore: merge latest develop changes, fix start command
  frontend/package.json
  frontend/src/components/projectEdit/permissionsBlock.jsx
  frontend/src/components/projectEdit/teamSelect.jsx
Labels: scope: frontend

#6712 typescript-vite: chore(frontend): switch port from 5173 -> 3000
  frontend/vite.config.ts
Labels: scope: frontend

#6703 Fix ohsomeNow URL link on Bar Chart click in Partner Stats page
  example.env
  frontend/src/api/stats.js
  frontend/src/components/partners/partnersActivity.js
  frontend/src/components/partners/partnersProgresBar.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/partnersStats.js
Labels: scope: frontend

#6720 v4.8.4 on staging
  README.md
  backend/__init__.py
  backend/api/teams/resources.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/team.py
  backend/services/project_search_service.py
  example.env
  frontend/src/api/stats.js
  frontend/src/components/partners/partnersActivity.js
  frontend/src/components/partners/partnersProgresBar.js
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/projectEdit/teamSelect.js
  frontend/src/components/teamsAndOrgs/featureStats.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/partnersStats.js
  migrations/versions/8e5144b55919_.py
Labels: scope: frontend, scope: backend

#6721 typescript-vite: fix(frontend/tests): remove readdition of server-handlers.js, rename ohsome url constant var
  frontend/src/network/tests/server-handlers.js
  frontend/src/network/tests/server-handlers.ts
Labels: scope: frontend
