Repository hotosm/tasking-manager, pull requests merged in 2025-05, with the labels that each got.

#6832 Upgrade iD editor version to latest (v2.33.0)
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6815 Make default validator team dynamic using environment variable
  example.env
  frontend/.env.expand
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/config/index.js
Labels: scope: frontend

#6833 iD editor upgrade and default team for validators fix
  example.env
  frontend/.env.expand
  frontend/package.json
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/config/index.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6826 Fix visual elements overlapping and intro text too small or gone with high zoom on project details page
  frontend/src/components/projectDetail/styles.scss
Labels: scope: frontend

#6835 Replace `pdm` with `uv` dependency solver on backend.
  .circleci/config.yml
  Dockerfile
  docker-compose.yml
  docs/developers/contributing-guidelines.md
  docs/developers/development-setup.md
  docs/sysadmins/migration.md
  pdm.lock
  pyproject.toml
  scripts/aws/cloudformation/tasking-manager.template.js
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
  uv.lock
Labels: scope: infrastructure

#6842 Ns/hotfix/terragrunt ci
  .github/workflows/terragrunt.yml
Labels: scope: infrastructure

#6843 FIX: Mapillary not included in static build files.
  frontend/package.json
Labels: scope: frontend

#6839 Multiple fixes for CI, Infra, Docker, UV
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/docs.yml
  Dockerfile
  docker-compose.yml
  docs/LICENSE.md
  pyproject.toml
  scripts/aws/infra/_envcommon/ecs-cron.hcl
  scripts/aws/infra/_envcommon/ecs.hcl
  scripts/aws/infra/production/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  uv.lock
Labels: scope: infrastructure, scope: documentation, ci/cd

#6802 infra: Add bastion ec2
  .gitignore
  scripts/aws/infra/_envcommon/ec2.hcl
  scripts/aws/infra/production/non-purgeable/ec2/README.md
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/ec2/user_data.yml
  scripts/aws/infra/production/non-purgeable/extras/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/README.md
  scripts/aws/infra/staging/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/staging/non-purgeable/ec2/user_data.yml
  scripts/aws/infra/staging/non-purgeable/extras/terragrunt.hcl
Labels: scope: infrastructure

#6857 Fix/scaling policy
  .github/workflows/terragrunt.yml
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure

#6848 Draft project list filter by user permission
  backend/services/project_search_service.py
Labels: scope: backend

#6824 Better response and exception handling, fixed project json download as file.
  backend/api/organisations/resources.py
  backend/api/projects/resources.py
  backend/cron_jobs.py
  backend/services/mapswipe_service.py
  backend/services/recommendation_service.py
Labels: scope: backend

#6858 Add more endpoints to CORS list
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
Labels: scope: infrastructure

#6861 v5.0.4 staging deployment
  backend/api/organisations/resources.py
  backend/api/projects/resources.py
  backend/cron_jobs.py
  backend/services/mapswipe_service.py
  backend/services/project_search_service.py
  backend/services/recommendation_service.py
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
Labels: scope: infrastructure, scope: backend

#6862 Get v5.0.4 from staging to production
  backend/api/organisations/resources.py
  backend/api/projects/resources.py
  backend/cron_jobs.py
  backend/services/mapswipe_service.py
  backend/services/project_search_service.py
  backend/services/recommendation_service.py
  scripts/aws/infra/production/non-purgeable/ec2/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
Labels: scope: infrastructure, scope: backend
