Repository hotosm/tasking-manager, pull requests merged in 2025-07, with the labels that each got.

#6921 Fix test cases failure on CI
  frontend/src/utils/tests/openEditor.test.js
Labels: scope: frontend

#6918 Fix language options missing on settings page issue
  frontend/src/components/header/tests/index.test.js
  frontend/src/components/localeSelect.js
  frontend/src/network/tests/mockData/header.js
  frontend/src/network/tests/server-handlers.js
Labels: scope: frontend

#6919 Bring latest changes to staging
  .circleci/config.yml
  .circleci/rdsid.sh
  .github/workflows/add-version-to-db.yml
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  backend/services/messaging/message_service.py
  frontend/src/components/header/tests/index.test.js
  frontend/src/components/localeSelect.js
  frontend/src/components/projects/clearFilters.js
  frontend/src/components/projects/exploreProjectsTable.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsStatusFilter.js
  frontend/src/components/projects/tests/projectsActionFilter.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/network/tests/mockData/header.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/tests/openEditor.test.js
Labels: scope: frontend, scope: infrastructure, scope: backend, scope: translations

#6926 Project to map and validate to only include the published projects and specify dockerfile path and build stage for migration and cron service
  backend/services/project_search_service.py
  docker-compose.yml
Labels: scope: infrastructure, scope: backend

#6935 HOTFIX: OSM-Login Fix Merge from `develop` to `staging`
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/network/genericJSONRequest.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/views/authorized.js
Labels: scope: frontend

#6936 HOTFIX: OSM-Login Fix Merge from `staging` to `main`
  .circleci/config.yml
  .circleci/rdsid.sh
  .github/workflows/add-version-to-db.yml
  .github/workflows/backend-build-deploy.yml
  .github/workflows/backend-build.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  backend/services/messaging/message_service.py
  backend/services/project_search_service.py
  docker-compose.yml
  frontend/src/components/header/index.js
  frontend/src/components/header/signUp.js
  frontend/src/components/header/tests/index.test.js
  frontend/src/components/localeSelect.js
  frontend/src/components/projectDetail/shareButton.js
  frontend/src/components/projects/clearFilters.js
  frontend/src/components/projects/exploreProjectsTable.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsStatusFilter.js
  frontend/src/components/projects/tests/projectsActionFilter.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/index.js
  frontend/src/locales/en.json
  frontend/src/network/genericJSONRequest.js
  frontend/src/network/tests/mockData/header.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/utils/createPopup.js
  frontend/src/utils/login.js
  frontend/src/utils/tests/openEditor.test.js
  frontend/src/views/authorized.js
Labels: scope: frontend, scope: infrastructure, scope: backend, scope: translations

#6913 Test configuration updated for test isolation and system integration test cases refactored
  tests/api/conftest.py
  tests/api/integration/api/system/test_banner.py
  tests/api/integration/api/system/test_general.py
  tests/api/integration/api/system/test_statistics.py
  tests/api/unit/services/test_project_service.py
Labels: scope: backend

#6916 Default changeset to discard previous default changeset comment when the project is cloned
  backend/models/postgis/project.py
Labels: scope: backend

#6940 Fix/project pagination
  .github/workflows/pr_test_backend.yml
  backend/services/project_search_service.py
Labels: scope: infrastructure, scope: backend

#6915 Migrate `mapbox-gl` to `maplibre-gl`
  frontend/package.json
  frontend/src/assets/styles/_extra.scss
  frontend/src/components/partnerMapswipeStats/contributionsHeatmap.js
  frontend/src/components/projectCreate/index.js
  frontend/src/components/projectCreate/projectCreationMap.js
  frontend/src/components/projectCreate/tests/setTaskSizes.test.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/priorityAreasForm.js
  frontend/src/components/projects/projectsMap.js
  frontend/src/components/projects/tests/projectsMap.test.js
  frontend/src/components/taskSelection/map.js
  frontend/src/components/taskSelection/tests/map.test.js
  frontend/src/components/userDetail/countriesMapped.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/setupTests.js
  frontend/src/utils/isWebglSupported.js
  frontend/src/utils/useSetRTLTextPlugin.js
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6948 Fix/Enable removing last member of team with confirmation dialog
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/views/teams.js
Labels: scope: frontend
