Repository hotosm/tasking-manager, pull requests merged in 2025-08, with the labels that each got.

#6981 MapLibre on staging without proprietary token
  frontend/src/components/tests/basemapMenu.test.js
  frontend/src/config/index.js
Labels: scope: frontend

#6931 Align task data menu dropdown to the right
  frontend/src/components/dropdown.js
  frontend/src/components/taskSelection/taskActivity.js
Labels: scope: frontend

#6991 Correct localization key for `timeSpentContributing`
  frontend/src/views/partnersMapswipeStats.js
Labels: scope: frontend

#6993 Download task grid file with auth token using fetch and Blob
  frontend/src/components/projectDetail/downloadButtons.js
  frontend/src/components/projectDetail/tests/downloadButtons.test.js
  frontend/src/components/taskSelection/tests/resourcesTab.test.js
Labels: scope: frontend

#6985 Remove fixed width causing login button overlap.
  frontend/src/components/header/styles.scss
  frontend/src/components/localeSelect.js
Labels: scope: frontend

#6997 eslint fixes for super mapper feature
  frontend/src/components/badges/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectEdit/permissionsForm.js
  frontend/src/components/tests/rapidEditor.test.js
  frontend/src/components/user/list.js
  frontend/src/components/userDetail/userBadges.js
  frontend/src/setupTests.js
Labels: scope: frontend

#7001 Bring fix for MapSwipe page crash
  frontend/src/components/comments/commentInput.js
  frontend/src/components/comments/fileRejections.js
  frontend/src/components/comments/tests/fileRejections.test.js
  frontend/src/components/dropdown.js
  frontend/src/components/taskSelection/taskActivity.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
  frontend/src/views/partnersMapswipeStats.js
Labels: scope: frontend

#7010 project id in reset task action while setting action history
  backend/models/postgis/task.py
  tests/api/unit/services/test_project_admin_service.py
Labels: scope: backend

#7013 Restore three requested functionality related to super mapper
  backend/models/dtos/mapping_level_dto.py
  backend/models/postgis/user.py
  backend/services/project_search_service.py
  frontend/src/components/levels/index.js
  frontend/src/components/projectEdit/permissionsBlock.js
  frontend/src/components/user/list.js
Labels: scope: frontend, scope: backend

#7014 fix problem when deleting level with votes
  backend/api/projects/activities.py
  backend/api/projects/contributions.py
  backend/api/projects/resources.py
  backend/api/tasks/resources.py
  backend/models/postgis/user.py
  migrations/versions/4489b9e235f8_.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

#7018 Fix/script formatting
  backend/api/users/openstreetmap.py
  backend/api/users/statistics.py
  backend/models/postgis/mapping_badge.py
  backend/models/postgis/user.py
  backend/services/mapping_badges.py
  backend/services/project_search_service.py
  backend/services/users/user_service.py
  scripts/commands/refresh_mapper_level.py
  scripts/commands/update_user_level.py
  tests/api/helpers/test_helpers.py
  tests/api/unit/services/mapping_badges/test_mapping_badge_service.py
  tests/api/unit/services/mapping_levels/test_mapping_level_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend
