Repository hotosm/tasking-manager, pull requests merged in 2025-09, with the labels that each got.

#7021 project id from taskdto instead of task object
  backend/services/grid/split_service.py
Labels: scope: backend

#7022 Run pre-commit on all files
  .github/workflows/pr_test_backend.yml
  backend/cron_jobs.py
Labels: scope: infrastructure, scope: backend

#7023 badges not assigned
  backend/services/users/user_service.py
  tests/api/unit/services/users/test_user_service.py
Labels: scope: backend

#7025 Fix/project search
  backend/services/project_search_service.py
  tests/api/unit/services/test_project_search_service.py
Labels: scope: backend

#7026 set default validation permission to any with intermediate level
  backend/models/postgis/project.py
Labels: scope: backend

#7029 Adapt frontend test cases as per supper mapper changes
  frontend/src/components/tests/rapidEditor.test.js
  frontend/src/components/user/list.js
  frontend/src/components/user/tests/list.test.js
  frontend/src/components/user/tests/topBar.test.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/hooks/tests/UseContributorStats.test.js
  frontend/src/network/tests/mockData/userList.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/views/tests/users.test.js
Labels: scope: frontend

#7034 prevent accessing unauthorized pages through url
  frontend/src/views/management.js
Labels: scope: frontend
