Repository hotosm/tasking-manager, pull requests merged in 2025-04, with the labels that each got.

#6795 gevent version upgrade for vulnerability issue
  Dockerfile
  docker-compose.yml
  pdm.lock
  pyproject.toml
Labels: scope: infrastructure

#6796 Change default tags to lowercase for terragrunt infrastructure
  scripts/aws/infra/root.hcl
Labels: scope: infrastructure

#6779 Persist Grid/List view through route URL in Projects page
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectSearchResults.js
  frontend/src/components/projects/tests/projectSearchResults.test.js
  frontend/src/components/projects/tests/toggles.test.js
  frontend/src/store/actions/userPreferences.js
  frontend/src/store/index.js
  frontend/src/store/reducers/userPreferences.js
  frontend/src/utils/getURLSearchParamsObject.js
  frontend/src/views/project.js
Labels: scope: frontend

#6768 Handle crash issue when country field not present in the projects API
  frontend/src/components/projectDetail/header.js
  frontend/src/components/projects/exploreProjectsTable.js
Labels: scope: frontend

#6797 Update task stats project dict changed to record object
  backend/services/stats_service.py
Labels: scope: backend

#6798 await user license acceptance coroutine in user validation permission…
  backend/models/postgis/custom_editors.py
  backend/services/project_service.py
Labels: scope: backend

#6799 Fix Error Message not displaying issue in Create Project page
  frontend/src/components/projectCreate/index.js
Labels: scope: frontend

#6794 Remove `client_secret` from osm auth
  frontend/.env.expand
  frontend/src/components/editor.js
  frontend/src/components/rapidEditor.js
  frontend/src/config/index.js
  frontend/src/config/tests/config.test.js
Labels: scope: frontend

#6805 Pytest, test cases setup and unit test cases refactored
  backend/cron_jobs.py
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  backend/services/project_service.py
  tests/api/base.py
  tests/api/conftest.py
  tests/api/helpers/test_files/2d_multi_polygon.json
  tests/api/helpers/test_files/CHAI-Escuintla-West2.json
  tests/api/helpers/test_files/canned_draft_project.json
  tests/api/helpers/test_files/canned_kml_project.json
  tests/api/helpers/test_files/canned_project_detail.json
  tests/api/helpers/test_files/clipped_feature_collection.json
  tests/api/helpers/test_files/feature_collection.json
  tests/api/helpers/test_files/feature_collection_one_multipolygon.json
  tests/api/helpers/test_files/multi_polygon.json
  tests/api/helpers/test_files/multi_polygon_dissolved.json
  tests/api/helpers/test_files/non_square_project_aoi.json
  tests/api/helpers/test_files/non_square_split_results.json
  tests/api/helpers/test_files/non_square_task.json
  tests/api/helpers/test_files/osm_sample.xml
  tests/api/helpers/test_files/osm_user_details.json
  tests/api/helpers/test_files/osm_user_details_changed_name.xml
  tests/api/helpers/test_files/osm_user_details_simple.xml
  tests/api/helpers/test_files/search_bbox_feature.json
  tests/api/helpers/test_files/search_bbox_result.json
  tests/api/helpers/test_files/self_intersecting_aoi.json
  tests/api/helpers/test_files/split_task.json
  tests/api/helpers/test_files/splittable_task.json
  tests/api/helpers/test_files/tasks_from_aoi_features.json
  tests/api/helpers/test_files/test_aoi.json
  tests/api/helpers/test_files/test_arbitrary.json
  tests/api/helpers/test_files/test_grid.json
  tests/api/helpers/test_helpers.py
  tests/api/unit/models/postgis/test_banner.py
  tests/api/unit/models/postgis/test_custom_editor.py
  tests/api/unit/models/postgis/test_message.py
  tests/api/unit/models/postgis/test_organisation.py
  tests/api/unit/models/postgis/test_project.py
  tests/api/unit/models/postgis/test_project_info.py
  tests/api/unit/models/postgis/test_task.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/grid/test_grid_service.py
  tests/api/unit/services/messaging/test_messaging_service.py
  tests/api/unit/services/messaging/test_template_service.py
  tests/api/unit/services/test_mapping_service.py
  tests/api/unit/services/test_organisation_service.py
  tests/api/unit/services/test_project_admin_service.py
  tests/api/unit/services/test_project_search_service.py
  tests/api/unit/services/test_project_service.py
  tests/api/unit/services/test_recommendation_service.py
  tests/api/unit/services/test_stats_service.py
  tests/api/unit/services/test_team_service.py
  tests/api/unit/services/test_validator_service.py
  tests/api/unit/services/users/test_authentication_service.py
  tests/api/unit/services/users/test_osm_service.py
  tests/api/unit/services/users/test_user_service.py
  tests/backend/unit/models/postgis/test_message.py
Labels: scope: backend

#6810 String replace in test db url creation removed from test config
  tests/api/conftest.py
Labels: scope: backend

#6811 Post release version
  backend/api/system/general.py
Labels: scope: backend

#6812 Add pytests and version fixes
  backend/api/system/general.py
  backend/cron_jobs.py
  backend/models/postgis/task.py
  backend/services/mapping_service.py
  backend/services/project_service.py
  example.env
  tests/api/base.py
  tests/api/conftest.py
  tests/api/helpers/test_files/2d_multi_polygon.json
  tests/api/helpers/test_files/CHAI-Escuintla-West2.json
  tests/api/helpers/test_files/canned_draft_project.json
  tests/api/helpers/test_files/canned_kml_project.json
  tests/api/helpers/test_files/canned_project_detail.json
  tests/api/helpers/test_files/clipped_feature_collection.json
  tests/api/helpers/test_files/feature_collection.json
  tests/api/helpers/test_files/feature_collection_one_multipolygon.json
  tests/api/helpers/test_files/multi_polygon.json
  tests/api/helpers/test_files/multi_polygon_dissolved.json
  tests/api/helpers/test_files/non_square_project_aoi.json
  tests/api/helpers/test_files/non_square_split_results.json
  tests/api/helpers/test_files/non_square_task.json
  tests/api/helpers/test_files/osm_sample.xml
  tests/api/helpers/test_files/osm_user_details.json
  tests/api/helpers/test_files/osm_user_details_changed_name.xml
  tests/api/helpers/test_files/osm_user_details_simple.xml
  tests/api/helpers/test_files/search_bbox_feature.json
  tests/api/helpers/test_files/search_bbox_result.json
  tests/api/helpers/test_files/self_intersecting_aoi.json
  tests/api/helpers/test_files/split_task.json
  tests/api/helpers/test_files/splittable_task.json
  tests/api/helpers/test_files/tasks_from_aoi_features.json
  tests/api/helpers/test_files/test_aoi.json
  tests/api/helpers/test_files/test_arbitrary.json
  tests/api/helpers/test_files/test_grid.json
  tests/api/helpers/test_helpers.py
  tests/api/unit/models/postgis/test_banner.py
  tests/api/unit/models/postgis/test_custom_editor.py
  tests/api/unit/models/postgis/test_message.py
  tests/api/unit/models/postgis/test_organisation.py
  tests/api/unit/models/postgis/test_project.py
  tests/api/unit/models/postgis/test_project_info.py
  tests/api/unit/models/postgis/test_task.py
  tests/api/unit/models/postgis/test_user.py
  tests/api/unit/services/grid/test_grid_service.py
  tests/api/unit/services/messaging/test_messaging_service.py
  tests/api/unit/services/messaging/test_template_service.py
  tests/api/unit/services/test_mapping_service.py
  tests/api/unit/services/test_organisation_service.py
  tests/api/unit/services/test_project_admin_service.py
  tests/api/unit/services/test_project_search_service.py
  tests/api/unit/services/test_project_service.py
  tests/api/unit/services/test_recommendation_service.py
  tests/api/unit/services/test_stats_service.py
  tests/api/unit/services/test_team_service.py
  tests/api/unit/services/test_validator_service.py
  tests/api/unit/services/users/test_authentication_service.py
  tests/api/unit/services/users/test_osm_service.py
  tests/api/unit/services/users/test_user_service.py
  tests/backend/unit/models/postgis/test_message.py
Labels: scope: backend

#6814 hotfix: Advanced and intermediate changeset value from app settings
  backend/services/users/user_service.py
Labels: scope: backend

#6813 Add production terragrunt code
  scripts/aws/infra/production/deployment_env.hcl
  scripts/aws/infra/production/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/extras/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/s3/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
Labels: scope: infrastructure, Component: Infrastructure

#6818 Deploy hotfix to production
  Dockerfile
  backend/services/users/user_service.py
  scripts/aws/infra/production/deployment_env.hcl
  scripts/aws/infra/production/non-purgeable/alb/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/cloudfront/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/extras/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/rds/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/s3/terragrunt.hcl
  scripts/aws/infra/production/non-purgeable/vpc/terragrunt.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/ecs-cron/terragrunt.hcl
  scripts/aws/infra/production/purgeable/ecs/terragrunt.hcl
  scripts/commands/update_user_level.py
Labels: scope: infrastructure, scope: backend

#6819 fix: Add missing db connection param in allowed users for mapping on private projects
  backend/services/project_service.py
Labels: scope: backend

#6822 HOTFIX: Private project mapping access
  backend/services/project_service.py
Labels: scope: backend
