Repository hotosm/tasking-manager, pull requests merged in 2025-02, with the labels that each got.

#6736 feat: aiocache and caching implementation
  backend/api/comments/resources.py
  backend/api/projects/resources.py
  backend/api/tasks/statistics.py
  backend/cron.py
  backend/models/dtos/project_dto.py
  backend/models/dtos/validator_dto.py
  backend/models/postgis/project.py
  backend/models/postgis/user.py
  backend/services/mapping_service.py
  backend/services/mapswipe_service.py
  backend/services/messaging/message_service.py
  backend/services/project_search_service.py
  backend/services/project_service.py
  backend/services/recommendation_service.py
  backend/services/stats_service.py
  backend/services/users/user_service.py
  pdm.lock
  pyproject.toml
Labels: scope: backend

#6741 TM_API_URL added to app config and application root path
  backend/config.py
  backend/main.py
Labels: scope: backend

#6740 Team members join date json serialization and renamed joined date to …
  backend/api/teams/resources.py
  backend/models/postgis/team.py
Labels: scope: backend

#6743 HOTFIX: org pages not showing
  backend/api/teams/resources.py
  backend/models/postgis/team.py
Labels: scope: backend

#6753 fix: bulk mentions team managers query
  backend/services/messaging/message_service.py
Labels: scope: backend

#6707 Update node to node 22 from node 18
  .circleci/config.yml
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: scope: infrastructure

#6742 Fix/partners page changes
  frontend/src/assets/styles/_colors.scss
  frontend/src/components/partners/leaderboard.js
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/messages.js
  frontend/src/views/partnersStats.js
  frontend/src/views/projectEdit.js
Labels: scope: frontend, scope: translations

#6758 Organisation made optional for project dto
  backend/models/dtos/project_dto.py
  backend/services/users/user_service.py
Labels: scope: backend

#6760 Resolve merge conflicts with develop
  .circleci/config.yml
  backend/api/teams/resources.py
  backend/models/postgis/team.py
  frontend/src/assets/styles/_colors.scss
  frontend/src/components/partners/leaderboard.jsx
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/messages.ts
  frontend/src/views/partnersStats.jsx
  frontend/src/views/projectEdit.jsx
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: scope: frontend, scope: infrastructure, scope: backend, scope: translations

#6763 v4.8.5 release
  .circleci/config.yml
  frontend/src/assets/styles/_colors.scss
  frontend/src/components/partners/leaderboard.js
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/messages.js
  frontend/src/views/partnersStats.js
  frontend/src/views/projectEdit.js
  scripts/docker/Dockerfile.frontend
  scripts/docker/Dockerfile.frontend_development
Labels: scope: frontend, scope: infrastructure, scope: translations
