Repository hotosm/tasking-manager, pull requests merged in 2025-06, with the labels that each got.

#6683 Fix: Render markdown correctly for short descriptions
  babel-jest
  chokidar
  frontend/src/components/projectCard/projectCard.js
  fsevents@1.2.13
  webpack-dev-server
Labels: scope: frontend

#6882 Revert "Fix: Render markdown correctly for short descriptions"
  babel-jest
  chokidar
  frontend/src/components/projectCard/projectCard.js
  fsevents@1.2.13
  webpack-dev-server
Labels: scope: frontend

#6863 Fix: Markdown Parsing In Project Card Component
  frontend/src/components/projectCard/projectCard.js
  frontend/src/components/projectCard/styles.scss
Labels: scope: frontend

#6891 Fix tab change not working when search filter applied issue
  frontend/src/components/taskSelection/index.js
Labels: scope: frontend

#6889 Remove Live Monitoring Data Quality feature (deprecated)
  README.md
  example.env
  frontend/package.json
  frontend/src/api/projects.js
  frontend/src/components/footer/index.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/components/projectDetail/messages.js
  frontend/src/config/index.js
  frontend/src/config/underpass.js
  frontend/src/hooks/UseHasLiveMonitoringFeature.js
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
  scripts/aws/infra/develop/purgeable/common-ecs-env.hcl
  scripts/aws/infra/production/purgeable/common-ecs-env.hcl
  scripts/aws/infra/staging/purgeable/common-ecs-env.hcl
Labels: scope: frontend, scope: infrastructure, dependencies, scope: translations

#6880 Feature development
  backend/api/comments/resources.py
  backend/api/issues/resources.py
  backend/api/notifications/actions.py
  backend/api/notifications/resources.py
  backend/api/partners/statistics.py
  backend/api/projects/activities.py
  backend/api/projects/resources.py
  backend/api/system/authentication.py
  backend/api/system/statistics.py
  backend/api/tasks/resources.py
  backend/api/tasks/statistics.py
  backend/api/teams/resources.py
  backend/api/users/resources.py
  backend/api/users/statistics.py
  backend/api/users/tasks.py
  backend/models/dtos/project_dto.py
  backend/models/dtos/team_dto.py
  backend/models/dtos/user_dto.py
  backend/models/postgis/task.py
Labels: scope: backend

#6881 Single notification to the users when validating multiple tasks at once
  backend/services/validator_service.py
Labels: scope: backend

#6893 Upgrade iD editor version to latest (v2.34.0)
  frontend/package.json
  frontend/yarn.lock
Labels: scope: frontend, dependencies

#6901 Improvements to Explore Projects page
  frontend/src/components/projects/clearFilters.js
  frontend/src/components/projects/exploreProjectsTable.js
  frontend/src/components/projects/messages.js
  frontend/src/components/projects/projectNav.js
  frontend/src/components/projects/projectsActionFilter.js
  frontend/src/components/projects/projectsStatusFilter.js
  frontend/src/components/projects/tests/projectsActionFilter.test.js
  frontend/src/hooks/UseProjectsQueryAPI.js
  frontend/src/locales/en.json
Labels: scope: frontend, scope: translations

#6914 Managers bulk mention in project chat to include organisation manager…
  backend/services/messaging/message_service.py
Labels: scope: backend
